doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title.open-list
                    span О компании

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item.active
                                a(href="/about").content__menu-link О компании
                            li.content__menu-item
                                a(href="/management").content__menu-link Руководство
                            li.content__menu-item
                                a(href="/history").content__menu-link История
                            li.content__menu-item
                                a(href="/awards").content__menu-link Призы и награды
                            li.content__menu-item
                                a(href="/vacancies").content__menu-link Вакансии


                // about company
                section.content__section
                    .about-company
                        .about-company__intro Мы — первые в своем сегменте рынка. Можно сказать, что мы создали его. Когда мы начинали работу, нашего рынка не было. Мы поняли, насколько это перспективное направление, и сегодня высокие стандарты работы этого рынка — во многом наша заслуга.

                        .about-company__members

                            .member-company
                                .member-company__name Екатерина Румянцева
                                .member-company__post Председатель совета директоров, партнер и основатель
                                .member-company__photo
                                    img(src="/images/members-company/1.jpg")

                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage