doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                h1.content__title.open-list
                    span Агентские

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item.active
                                a(href="/agency").content__menu-link Агентские услуги
                            li.content__menu-item
                                a(href="/consulting").content__menu-link Консалтинг
                            li.content__menu-item
                                a(href="/investments").content__menu-link Инвестиции
                            li.content__menu-item
                                a(href="/developers").content__menu-link Застройщикам
                            li.content__menu-item
                                a(href="/vendors").content__menu-link Продавцам
                            li.content__menu-item
                                a(href="/customers").content__menu-link Покупателям


                // agency
                section.content__section
                    .agency
                        .agency__intro.ui-text
                            p.p Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.

                            h2.h2 Наша торговая марка — это своего рода «знак качества» на рынке жилья класса люкс.

                            p.p Компания Kalinka Real Estate Consulting Group оказывает полный комплекс профессиональных услуг по продаже и аренде объектов городской, загородной и зарубежной недвижимости, а также коммерческих площадей в сегменте офисной и торговой недвижимости.


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage