doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__top-bar
                    .search-top-bar
                        .search-top-bar__new-search
                            svg
                                use(xlink:href="#search-loop")
                            a новый поиск

                        .search-top-bar__droplist
                            a(data-listname="ac").open-droplist поиск по жк
                            svg
                                use(xlink:href="#chevron-down")

                        .search-top-bar__map
                            a искать на карте

                .content__title
                    span Жилые комплексы



                // about company
                section.content__section
                    .app-complexes

                        .app-complexes__bar
                            .search-top-bar
                                .search-top-bar__droplist
                                    a(data-listname="ac").open-droplist сначала дешевле
                                    svg
                                        use(xlink:href="#chevron-down")

                                .search-top-bar__map
                                    a на карте

                                .search-top-bar__filter
                                    a фильтр

                        // item
                        .app-complexes__item
                            .complex-preview
                                .complex-preview__title ЖК Андреевский
                                .complex-preview__address
                                    .el-address.blue 2-я Фрунзенская ул. д. 8

                                .complex-preview__info
                                    .complex-preview__info-item
                                        span 708 030 000 ₽
                                        br
                                        span Цена от
                                    .complex-preview__info-item
                                        span 70 — 112
                                        br
                                        span Площадь объектов от

                                .complex-preview__see-offer
                                    a.btn.btn_blue.strong Смотреть 27 предложений

                                .complex-preview__slider
                                    .owl-carousel
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/4.jpg")
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/1.jpg")
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/3.jpg")
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/2.jpg")

                                .complex-preview__more-about
                                    a.btn.btn_full-gold.strong Подробнее о ЖК

                        // item
                        .app-complexes__item
                            .complex-preview
                                .complex-preview__title ЖК Андреевский
                                .complex-preview__address
                                    .el-address.blue 2-я Фрунзенская ул. д. 8

                                .complex-preview__info
                                    .complex-preview__info-item
                                        span 708 030 000 ₽
                                        br
                                        span Цена от
                                    .complex-preview__info-item
                                        span 70 — 112
                                        br
                                        span Площадь объектов от

                                .complex-preview__see-offer
                                    a.btn.btn_blue.strong Смотреть 27 предложений

                                .complex-preview__slider
                                    .owl-carousel
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/4.jpg")
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/1.jpg")
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/3.jpg")
                                        .complex-preview__slider-item
                                            img(src="images/complex-carousel/2.jpg")

                                .complex-preview__more-about
                                    a.btn.btn_full-gold.strong Подробнее о ЖК



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage