doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__top-bar
                    .search-top-bar
                        .search-top-bar__new-search
                            svg
                                use(xlink:href="#search-loop")
                            a новый поиск

                        .search-top-bar__droplist
                            a(data-listname="ac").open-droplist поиск по жк
                            svg
                                use(xlink:href="#chevron-down")

                        .search-top-bar__map
                            a искать на карте


                // ap-complex
                section.content__section.no-margin
                    .ap-complex
                        h1.ap-complex__title ЖК Андреевский

                        .ap-complex__address
                            .el-address.blue 2-я Фрунзенская ул. д. 8

                        .complex-preview__info
                            .complex-preview__info-item
                                span 16
                                br
                                span Предложений
                            .complex-preview__info-item
                                span 69-395
                                br
                                span Площадь объектов м2

                        //.ap-complex__bar
                            .search-top-bar
                                .search-top-bar__droplist
                                    a(data-listname="ac").open-droplist сначала дешевле
                                    svg
                                        use(xlink:href="#chevron-down")

                                .search-top-bar__map
                                    a искать на карте

                                .search-top-bar__filter
                                    a фильтр

                        .complex-preview__slider
                            .owl-carousel
                                .complex-preview__slider-item
                                    img(src="images/complex-carousel/4.jpg")
                                .complex-preview__slider-item
                                    img(src="images/complex-carousel/1.jpg")
                                .complex-preview__slider-item
                                    img(src="images/complex-carousel/3.jpg")
                                .complex-preview__slider-item
                                    img(src="images/complex-carousel/2.jpg")
                        .complex-preview__more-about
                            a.btn.btn_full-gold.strong Подробнее о ЖК


                        .ap-complex__btns
                            .ap-complex__btns-item
                                a.btn.btn_mail.strong заявка
                            .ap-complex__btns-item
                                a.btn.btn_call.strong позвонить


                        .ap-complex__info
                            .ap-complex__info-item
                                .ap-complex__info-img
                                    img(src='img/svg/building.svg')

                                .ap-complex__info-text.
                                    #[span.gold 14] апартаментов #[br]
                                    и пентхаус

                            .ap-complex__info-item
                                .ap-complex__info-img
                                    img(src='img/svg/cubic-arrows.svg')

                                .ap-complex__info-text.
                                    от #[span.gold 120] до #[span.gold 600] #[br]
                                    площадь кв.м

                            .ap-complex__info-item
                                .ap-complex__info-img
                                    img(src='img/svg/height.svg')

                                .ap-complex__info-text.
                                    высота потолков #[br]
                                    от #[span.gold 3,35] до #[span.gold 3,6] м

                            .ap-complex__info-item
                                .ap-complex__info-img
                                    img(src='img/svg/award.svg')

                                .ap-complex__info-text.
                                    класс недвижимости #[br]
                                    #[span.gold deluxe]

                            .ap-complex__info-item
                                .ap-complex__info-img
                                    img(src='img/svg/clock-refresh.svg')

                                .ap-complex__info-text.
                                    срок сдачи #[br]
                                    #[span.gold 2017] г.

                            .ap-complex__info-item
                                .ap-complex__info-img
                                    img(src='img/svg/lamp.svg')

                                .ap-complex__info-text.
                                    внутренняя отделка #[br]
                                    #[span.gold отсутствует]


                        .ap-complex__description

                            p Жилой комплекс «Андреевский» расположен в районе Хамовники, вблизи одной из самых красивых и  чистых набережных города. Рядом с домом хорошо развита детская инфраструктура: несколько школ, московская академия хореографии, центр детского творчества и детский музыкальный театр.

                            a.more-about Полное описание

                            .el-metro
                                span.el-metro__icon
                                    svg
                                        use(xlink:href="#metro")
                                span.el-metro__name Трубная
                                span ,
                                span.el-metro__region Чистые пруды

                            .ap-complex__numbers
                                .ap-complex__numbers-item Этажность здания: #[span 7]
                                .ap-complex__numbers-item Квартир в доме: #[span 27]


                        // infoscription
                        .ap-complex__infoscription
                            .el-infoscription
                                .el-infoscription__img
                                    img(src='img/svg/columns_gold.svg')
                                .el-infoscription__title Инфраструктура
                                .el-infoscription__text.
                                    Территория дома огорожена и под круглосуточной охраной. Предусмотрена круглосуточная зона ресепшн, услуги консьержа и горничной, сигарная и бильярдная комнаты, лобби-бар, кинозал. Для активного отдыха построен тренажерный зал, детский центр. Построен бизнес-центр. 

                            .el-infoscription
                                .el-infoscription__img
                                    img(src='img/svg/columns_gold.svg')
                                .el-infoscription__title Архитектура
                                .el-infoscription__text.
                                    Все квартиры предлагаются со свободной планировкой, есть варианты готовой отделкой и без. Каждая квартира имеет по несколько балконов и большую площадь остекления. Проектом предусмотрена возможность объединения квартир в блоки по горизонтали и по вертикали.

                            .el-infoscription
                                .el-infoscription__img
                                    img(src='img/svg/columns_gold.svg')
                                .el-infoscription__title Технические детали
                                .el-infoscription__text.
                                    Территория дома огорожена и под круглосуточной охраной. Предусмотрена круглосуточная зона ресепшн, услуги консьержа и горничной, сигарная и бильярдная комнаты, лобби-бар, кинозал. Для активного отдыха построен тренажерный зал, детский центр. Построен бизнес-центр. 

                            .el-infoscription
                                .el-infoscription__img
                                    img(src='img/svg/columns_gold.svg')
                                .el-infoscription__title Внутренняя отделка
                                .el-infoscription__text.
                                    Территория дома огорожена и под круглосуточной охраной. Предусмотрена круглосуточная зона ресепшн, услуги консьержа и горничной, сигарная и бильярдная комнаты, лобби-бар, кинозал. Для активного отдыха построен тренажерный зал, детский центр. Построен бизнес-центр. 


                        .ap-complex__bid
                            .ap-complex__bid-item
                                a.btn.btn_mail.strong заявка на просмотр
                            .ap-complex__bid-item
                                a.btn.btn_whatsapp.strong whatsapp

                        .ap-complex__slider
                            .complex-preview__slider
                                .owl-carousel
                                    .complex-preview__slider-item
                                        img(src="images/complex-carousel/4.jpg")
                                    .complex-preview__slider-item
                                        img(src="images/complex-carousel/1.jpg")
                                    .complex-preview__slider-item
                                        img(src="images/complex-carousel/3.jpg")
                                    .complex-preview__slider-item
                                        img(src="images/complex-carousel/2.jpg")


                        .ap-complex__offers
                            .ap-complex__offers-title предложения

                            .ap-complex__offers-item
                                // estate-preview
                                .estate-preview
                                    .estate-preview__header
                                        .estate-preview__title Дом Kingfisher Court г Хаддерсфилд.

                                        .estate-preview__header-bottom
                                            .estate-preview__address 2-я Фрунзенская ул. д. 8
                                            .estate-preview__lot Лот № 19735

                                        .estate-preview__header-right.tablet
                                            .estate-preview__area
                                                span.number 212
                                                span м²

                                            .estate-preview__cost
                                                span.cost 708 030 000 ₽
                                                .estate-preview__currency-btns
                                                    a(data-currency="rub").active ₽
                                                    a(data-currency="dol") $
                                                    a(data-currency="eur") €

                                    .estate-preview__body
                                        .estate-preview__image
                                            img(src="images/estate/2.jpg")

                                        .estate-preview__view
                                            a(href="#").btn.btn_outline-white.strong смотреть объект

                                    .estate-preview__footer.mobile
                                        .estate-preview__area
                                            span.number 212
                                            span м²

                                        .estate-preview__cost
                                            span.cost 708 030 000 ₽
                                            .estate-preview__currency-btns
                                                a(data-currency="rub").active ₽
                                                a(data-currency="dol") $
                                                a(data-currency="eur") €
                                // estate-preview


                            .ap-complex__offers-item
                                // estate-preview
                                .estate-preview
                                    .estate-preview__header
                                        .estate-preview__title Дом Kingfisher Court г Хаддерсфилд.

                                        .estate-preview__header-bottom
                                            .estate-preview__address 2-я Фрунзенская ул. д. 8
                                            .estate-preview__lot Лот № 19735

                                        .estate-preview__header-right.tablet
                                            .estate-preview__area
                                                span.number 212
                                                span м²

                                            .estate-preview__cost
                                                span.cost 708 030 000 ₽
                                                .estate-preview__currency-btns
                                                    a(data-currency="rub").active ₽
                                                    a(data-currency="dol") $
                                                    a(data-currency="eur") €

                                    .estate-preview__body
                                        .estate-preview__image
                                            img(src="images/estate/2.jpg")

                                        .estate-preview__view
                                            a(href="#").btn.btn_outline-white.strong смотреть объект

                                    .estate-preview__footer.mobile
                                        .estate-preview__area
                                            span.number 212
                                            span м²

                                        .estate-preview__cost
                                            span.cost 708 030 000 ₽
                                            .estate-preview__currency-btns
                                                a(data-currency="rub").active ₽
                                                a(data-currency="dol") $
                                                a(data-currency="eur") €
                                // estate-preview


                            .ap-complex__offers-title похожие #[br] предложения

                            .ui-horizontal
                                .ui-horizontal__wrap
                                    .ui-horizontal__inner

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage