doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__top-bar
                    .search-top-bar
                        .search-top-bar__new-search
                            svg
                                use(xlink:href="#search-loop")
                            a новый поиск

                        .search-top-bar__droplist
                            a(data-listname="ac").open-droplist поиск по жк
                            svg
                                use(xlink:href="#chevron-down")

                        .search-top-bar__map
                            a искать на карте


                // appartment
                section.content__section.no-margin
                    .appartment
                        h1.appartment__title РАССВЕТ loft*studio

                        .appartment__type Квартира


                        .appartment__preview
                            // estate-preview
                            .estate-preview.detail
                                .estate-preview__header

                                    .estate-preview__details
                                        .estate-preview__area
                                            span.number 212
                                            span м²
                                        .estate-preview__rooms
                                            span.number 4
                                            span комнаты
                                        .estate-preview__bath
                                            span.number 2
                                        .estate-preview__bad
                                            span.number 3


                                    .estate-preview__header-bottom
                                        .estate-preview__address 2-я Фрунзенская ул. д. 8
                                        .estate-preview__lot Лот № 19735

                                    .estate-preview__header-right.tablet
                                        .estate-preview__cost
                                            span.cost 708 030 000 ₽
                                        .estate-preview__status
                                            span продажа

                                .estate-preview__body
                                    .estate-preview__slider
                                        .estate-slider.owl-carousel
                                            .estate-slider__item
                                                img(src="images/estate-carousel/1.jpg")
                                            .estate-slider__item
                                                img(src="images/estate-carousel/2.jpg")
                                            .estate-slider__item
                                                img(src="images/estate-carousel/3.jpg")
                                            .estate-slider__item
                                                img(src="images/estate-carousel/4.jpg")

                                .estate-preview__footer.mobile

                                    .estate-preview__cost
                                        span.cost 708 030 000 ₽
                                        .estate-preview__currency-btns
                                            a(data-currency="rub").active ₽
                                            a(data-currency="dol") $
                                            a(data-currency="eur") €

                                    .estate-preview__status
                                        span продажа
                            // estate-preview


                        // bid, call btns
                        .ap-complex__btns
                            .ap-complex__btns-item
                                a.btn.btn_mail.strong заявка
                            .ap-complex__btns-item
                                a.btn.btn_call.strong позвонить


                        // hypothec, price, updates
                        .appartment__links
                            .appartment__links-top
                                a Рассчитать ипотеку
                                a Предложить цену
                            .appartment__links-bottom
                                a Подписаться на обновление цены объекта


                        // description
                        .ap-complex__description

                            p Жилой комплекс «Андреевский» расположен в районе Хамовники, вблизи одной из самых красивых и  чистых набережных города. Рядом с домом хорошо развита детская инфраструктура: несколько школ, московская академия хореографии, центр детского творчества и детский музыкальный театр.

                            a.more-about Полное описание

                            .el-metro
                                span.el-metro__icon
                                    svg
                                        use(xlink:href="#metro")
                                span.el-metro__name Трубная
                                span ,
                                span.el-metro__region Чистые пруды

                            .ap-complex__numbers
                                .ap-complex__numbers-item Этажность здания: #[span 7]
                                .ap-complex__numbers-item Квартир в доме: #[span 27]

                            .appartment__links
                                .appartment__links-item
                                    a(href="#") Район
                                .appartment__links-item
                                    a(href="#") Шоссе
                                .appartment__links-item
                                    a(href="#") ЖК


                        // properties
                        .appartment__props
                            .ui-props
                                .ui-props__checks
                                    .ui-props__checks-item Отделка
                                    .ui-props__checks-item Парковка
                                    .ui-props__checks-item.nit Охрана

                                .ui-props__lists
                                    ul
                                        li Апартаменты
                                        li Первичный
                                        li 1 комнатa
                                        li 1 санузел
                                        li Паркинг


                        // share, bid, call btns
                        .appartment__share
                            .btns__row-3
                                .btn.btn_share.strong поделиться
                                .btn.btn_full-gold.strong заявка на просмотр
                                .btn.btn_call.strong позвонить


                        // plan of app
                        .appartment__plan
                            .appartment__plan-title План #[br] объекта
                            .appartment__plan-slider
                                .appartment-slider
                                    .appartment-slider__item
                                        img(src="images/plans/1.png")
                                    .appartment-slider__item
                                        img(src="images/plans/1.png")
                                    .appartment-slider__item
                                        img(src="images/plans/1.png")


                        // callback form
                        .appartment__callback
                            .callback-block
                                .callback-block__title.small.
                                    Для получения более подробной #[br]
                                    информации об объекте #[br]
                                    и по вопросам приобретения #[br]

                                .callback-block__form
                                    form.form.form_luxury
                                        .form__row
                                            input(type="text", placeholder="представьтесь").form__input
                                            label.form__label Имя

                                        .form__row
                                            input(type="text", placeholder="+7 (___) ___-__-__").form__input
                                            label.form__label Телефон

                                        .form__row
                                            input(type="text", placeholder="@").form__input
                                            label.form__label Электронная почта

                                .callback-block__btn
                                    a.btn.btn_outline.strong свяжитесь со мной

                                .callback-block__wa
                                    a(href="#").through-whatsapp.white
                                        span.through-whatsapp__icon
                                            img(src="img/whatsapp-icon.png")
                                        span.through-whatsapp__text Отправить голосовое сообщение через whatsapp


                        // offers
                        .appartment__offers
                            .appartment__offers-title подобрать объект

                            .appartment__offers-btns
                                .btns__row-3
                                    a.btn.btn_gray.strong похожие квартиры
                                    a.btn.btn_gray.strong.active аналогичный объект
                                    a.btn.btn_gray.strong в этом районе

                            .ui-horizontal
                                .ui-horizontal__wrap
                                    .ui-horizontal__inner

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage