doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                h1.content__title.open-list
                    span Новости компании

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item.active
                                a.content__menu-link Новости компании
                            li.content__menu-item
                                a.content__menu-link Публикации в прессе


                // agency
                section.content__section
                    .news-company
                        .news-company__items

                            // article
                            .news-company__item
                                article.news-item.ui-text
                                    .news-item__date 11 ноября 2016

                                    h3.h3.news-item__title.
                                        Наша торговая марка — это своего рода «знак качества» на рынке жилья класса люкс.

                                    p.p.p_24.news-item__anons.
                                        Специалисты Kalinka Group — ведущей консалтинговой и риэлторской компании на рынке элитной недвижимости — подсчитали, что около 70% покупателей дорогого жилья интересуются наличием в пешей доступности объектов спортивной инфраструктуры. Самыми частыми запросами являются фитнес-клуб, бассейн и возможность для комфортных занятий спортом на открытом воздухе.



                        .news-company__pagination
                            .pagination
                                a(href="#").pagination__item.active 1
                                a(href="#").pagination__item 2
                                a(href="#").pagination__item 3
                                a(href="#").pagination__item 4
                                a(href="#").pagination__item 5
                                a(href="#").pagination__item 6
                                a(href="#").pagination__item 7
                                a(href="#").pagination__item 8
                                a(href="#").pagination__item 9
                                a(href="#").pagination__item ...

                        .news-company__archive
                            a(href="/news").btn.btn_full-gold.strong Вернуться


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage