doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content

                section.content__section.no-margin
                    .auth

                        .auth__switcher.tabs
                            .auth__switcher-item.active(data-tab="signin")
                                a Вход
                            .auth__switcher-item(data-tab="signup")
                                a Регистрация

                        .auth__tabs
                            .auth__tab.auth__signin(data-tabname="signin")

                                .auth__form
                                    form.form.form_light
                                        .form__row
                                            input(type="email", placeholder="E-mail").form__input

                                        .form__row
                                            input(type="password", placeholder="Пароль").form__input

                                        .form__row
                                            a.form__link Восстановить пароль

                                .auth__btn
                                    input(type="submit", value="Войти").btn.btn_full-gold.strong



                            .auth__tab.auth__signup(data-tabname="signup")

                                .auth__form
                                    form.form.form_light
                                        .form__row
                                            input(type="email", placeholder="E-mail").form__input

                                        .form__row
                                            input(type="password", placeholder="Пароль").form__input

                                        .form__row
                                            input(type="password", placeholder="Повторите пароль").form__input

                                .auth__btn
                                    input(type="submit", value="Зарегистрироваться").btn.btn_full-gold.strong


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage