doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg.html
        include components/header

        .wrap
            .content
                .content__title.gray
                    span Контакты


                // contacts
                section.content__section
                    .contacts-block
                        .contacts-block__item
                            .contacts-block__title колл-центр
                            .contacts-block__phone +7 (495) 256-10-88
                            .contacts-block__phone +7 (495) 256-10-88
                            a(href="mailto:kalinka@kalinka-realty.ru").contacts-block__email kalinka@kalinka-realty.ru

                        .contacts-block__item
                            .contacts-block__title клиентский сервис
                            .contacts-block__phone +7 (495) 256-10-88
                            .contacts-block__phone +7 (495) 256-10-88
                            a(href="mailto:kalinka@kalinka-realty.ru").contacts-block__email kalinka@kalinka-realty.ru

                        .contacts-block__item
                            .contacts-block__title секретарь
                            .contacts-block__phone +7 (495) 256-10-88
                            .contacts-block__phone +7 (495) 256-10-88
                            a(href="mailto:kalinka@kalinka-realty.ru").contacts-block__email kalinka@kalinka-realty.ru


                // callback-block
                section.content__section.no-margin
                    .callback-block
                        .callback-block__title Мы с Вами свяжемся

                        .callback-block__form
                            form.form.form_luxury
                                .form__row
                                    input(type="text", placeholder="представьтесь").form__input
                                    label.form__label Имя

                                .form__row
                                    input(type="text", placeholder="+7 (___) ___-__-__").form__input
                                    label.form__label Телефон

                                .form__row
                                    input(type="text", placeholder="@").form__input
                                    label.form__label Электронная почта

                        .callback-block__btn
                            a.btn.btn_outline.strong свяжитесь со мной



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage