doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg.html
        include components/header

        .wrap
            .content
                h1.content__title.open-list
                    span Покупателям

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item
                                a(href="/agency").content__menu-link Агентские услуги
                            li.content__menu-item
                                a(href="/investments").content__menu-link Инвестиции
                            li.content__menu-item
                                a(href="/developers").content__menu-link Застройщикам
                            li.content__menu-item
                                a(href="/vendors").content__menu-link Продавцам
                            li.content__menu-item.active
                                a(href="/customers").content__menu-link Покупателям


                // agency
                section.content__section
                    .developers
                        .developers__text.ui-text
                            h2.h2 Limousine Service

                            p.p Компания Kalinka Real Estate Consulting Group оказывает полный комплекс профессиональных услуг по продаже и аренде объектов городской, загородной и зарубежной недвижимости, а также коммерческих площадей в сегменте офисной и торговой недвижимости.

                            .el-subcut
                                p.p.el-subcut__content Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.
                                a.el-subcut__link
                                    span.el-subcut__link-text Подробнее о Limousine Service
                                    br
                                    span.el-subcut__link-icon
                                        svg
                                            use(xlink:href="#plus-sign")


                        .developers__text.ui-text.ui-text_blue-bg
                            h2.h2 Правовове сопровождение

                            p.p Компания Kalinka Real Estate Consulting Group оказывает полный комплекс профессиональных услуг по продаже и аренде объектов городской, загородной и зарубежной недвижимости, а также коммерческих площадей в сегменте офисной и торговой недвижимости.

                            .el-subcut
                                p.p.el-subcut__content Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.
                                a.el-subcut__link
                                    span.el-subcut__link-text Подробнее о правовом сопровождении
                                    br
                                    span.el-subcut__link-icon
                                        svg
                                            use(xlink:href="#plus-sign")


                        .developers__text.ui-text
                            h2.h2 Ипотека

                            p.p Компания Kalinka Real Estate Consulting Group оказывает полный комплекс профессиональных услуг по продаже и аренде объектов городской, загородной и зарубежной недвижимости, а также коммерческих площадей в сегменте офисной и торговой недвижимости.

                            .el-subcut
                                p.p.el-subcut__content Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.
                                a.el-subcut__link
                                    span.el-subcut__link-text Подробнее об ипотеке
                                    br
                                    span.el-subcut__link-icon
                                        svg
                                            use(xlink:href="#plus-sign")




                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage