doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title.open-list
                    span Kalinka Design

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item
                                a(href="/about").content__menu-link О компании
                            li.content__menu-item
                                a(href="/management").content__menu-link Руководство
                            li.content__menu-item.active
                                a(href="/design").content__menu-link Kalinka Design
                            li.content__menu-item
                                a(href="/history").content__menu-link История
                            li.content__menu-item
                                a(href="/awards").content__menu-link Призы и награды
                            li.content__menu-item
                                a(href="/vacancies").content__menu-link Вакансии


                // management
                section.content__section
                    .management
                        .management__members

                            .member-company.manager
                                .member-company__name.mobile Марина Комбалина
                                .member-company__post.mobile Председатель совета директоров, партнер и основатель
                                .member-company__photo
                                    img(src="/images/management/6.jpg")
                                    .tablet
                                        .member-company__name Марина Комбалина
                                        .member-company__post Председатель совета директоров, партнер и основатель

                            .member-company.manager
                                .member-company__name.mobile Игорь Липатов
                                .member-company__post.mobile Член совета директоров, партнер и сооснователь
                                .member-company__photo
                                    img(src="/images/management/7.jpg")
                                    .tablet
                                        .member-company__name Игорь Липатов
                                        .member-company__post Член совета директоров, партнер и сооснователь

                    .about-company
                        .about-company__intro В сфере недвижимости – более 20 лет. Интегрировала западные принципы работы на московском рынке недвижимости, влияя на его профессиональный уровень. Обладает нестандартным подходом к работе, блестящей бизнес интуицией. Непосредственный разработчик концепций большинства объектов дорогой городской недвижимости: идеологии, стратегии и методов реализации. #[br] Работает в сфере девелопмента с начала формирования рынка недвижимости в России. Имеет большой опыт создания успешных девелоперских проектов в разных сегментах рынка недвижимости Москвы и Подмосковья, а также проведения инвестиционных сделок. В должности председателя Совета директоров девелоперской компании «KB-Инжиниринг» осуществлял управление проектами, включая концептуальное планирование, управление финансами и рисками, бизнес-планирование, управление строительством, определение политики продаж и организацию дальнейшей эксплуатации объектов недвижимости.

                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage