doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title.small
                    span Выберите недвижимость своей мечты
                .content__subtitle.small И наш менеджер пришлет Вам индивидуальную подборку предложений.

                section.content__section
                    .dream
                        .dream__btns
                            .btns__row-3.btn-checkboxes
                                a.btn.btn_gray-outline.strong.active(data-cb="купить") купить
                                a.btn.btn_gray-outline.strong(data-cb="арендовать") арендовать
                                a.btn.btn_gray-outline.strong(data-cb="продать") продать
                                input(type="hidden")

                        .dream__item
                            .dream-item
                                .dream-item__image
                                    img(src="images/dreams/loft.jpg")
                                .dream-item__title Лофт
                                .dream-item__btn
                                    a.btn.btn_outline-white.strong(href="/dream-2") Заказать подбор вариантов

                        .dream__item
                            .dream-item
                                .dream-item__image
                                    img(src="images/dreams/high.jpg")
                                .dream-item__title Высокие потолки
                                .dream-item__btn
                                    a.btn.btn_outline-white.strong(href="/dream-2") Заказать подбор вариантов

                        .dream__item
                            .dream-item
                                .dream-item__image
                                    img(src="images/dreams/terrace.jpg")
                                .dream-item__title Квартира с террасой
                                .dream-item__btn
                                    a.btn.btn_outline-white.strong(href="/dream-2") Заказать подбор вариантов


                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage