doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                section.content__section.no-margin
                    .dream
                        .dream__title
                            .dream__title-image
                                img(src="images/dreams/high.jpg")
                            .dream__title-text квартира с высокими потолками

                        form.form.dream__form

                            .dream__form-checkbox
                                .gray-text.
                                    Формируем запрос менеджеру, #[br.mobile]
                                    который подберет предложения по вашим критериям

                                .gold-text.
                                    Чем конкретнее мечта, #[br.mobile]
                                    тем проще её реализовать! #[br]
                                    Давайте уточним ваши желания:

                                .checkboxes
                                    .form__row
                                        .checkbox
                                            input(type="checkbox", checked)
                                            label “сталинка”, довоенной постройки, #[br]вторичный фонд
                                    .form__row
                                        .checkbox
                                            input(type="checkbox")
                                            label квартира в новостройке
                                    .form__row
                                        .checkbox
                                            input(type="checkbox")
                                            label без отделки

                            .dream__form-footage
                                .footage-form
                                    .footage-form__title метраж:
                                    .footage-form__inputs
                                        .footage-form__row
                                            label кухня
                                            input(type="number", placeholder="ОТ").from
                                            input(type="number", placeholder="ДО").to
                                            span м²
                                        .footage-form__row
                                            label жилая
                                            input(type="number", placeholder="ОТ").from
                                            input(type="number", placeholder="ДО").to
                                            span м²
                                        .footage-form__row
                                            label общая
                                            input(type="number", placeholder="ОТ").from
                                            input(type="number", placeholder="ДО").to
                                            span м²

                            .dream__form-price
                                .price-form
                                    .price-form__title цена:
                                    .price-form__inputs
                                        .price-form__row
                                            input(type="number", placeholder="ОТ").from
                                            input(type="number", placeholder="ДО").to
                                            .choose-currency
                                                span.choose-currency__cur ₽
                                            span.per за
                                            .choose-areatype
                                                span.choose-areatype__type всё


                            .dream__form-inputs
                                .form.form_luxury
                                    .form__row.form__row_textarea
                                        label.form__label Особые #[br] пожелания
                                        textarea.form__textarea

                                    .form__row
                                        a.el-wa-vm
                                            .el-wa-vm__icon
                                                svg
                                                    use(xlink:href="#whatsapp")
                                            .el-wa-vm__text.white Отправить голосовое сообщение через whatsapp

                                    .form__row
                                        input(type="text", placeholder="представьтесь").form__input
                                        label.form__label Имя

                                    .form__row
                                        input(type="text", placeholder="+7 (___) ___-__-__").form__input
                                        label.form__label Телефон

                                    .form__row
                                        input(type="text", placeholder="@").form__input
                                        label.form__label Электронная почта

                                    .form__row.sbmt
                                        input(type="submit", value="отправить запрос").btn.btn_outline.strong



                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage