doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title
                    span Расширенный фильтр


                // vacancies
                section.content__section
                    .filter-ext
                        form.filter-ext__form(data-form="extended-filter")
                            .filter-ext__btns
                                .btns__row-5.btn-checkboxes
                                    a.btn.btn_gray-outline.elvish.active(data-cb="hata") квартиры
                                    a.btn.btn_gray-outline.elvish(data-cb="appp") апартаменты
                                    a.btn.btn_gray-outline.elvish(data-cb="lift") лофт
                                    a.btn.btn_gray-outline.elvish(data-cb="haus") таунхаус
                                    a.btn.btn_gray-outline.elvish(data-cb="dom") дом
                                    input(type="hidden" name="type")

                            .filter-ext__ranges
                                .filter-ext__ranges-item
                                    .el-range
                                        .el-range__title цена, млн. руб.

                                        .el-range__squares.el-range_single
                                            .el-range__squares-item.active(data-range="15")
                                                span.el-range__square
                                                span.el-range__value >15
                                            .el-range__squares-item(data-range="50")
                                                span.el-range__square
                                                span.el-range__value <50
                                            .el-range__squares-item(data-range="100")
                                                span.el-range__square
                                                span.el-range__value <100
                                            .el-range__squares-item(data-range="200")
                                                span.el-range__square
                                                span.el-range__value <200
                                            .el-range__squares-item(data-range="300")
                                                span.el-range__square
                                                span.el-range__value <300
                                            input(type="hidden" name="search_params[cost][from]" value="0")
                                            input(type="hidden" class="max" name="search_params[cost][to]")

                                .filter-ext__ranges-item
                                    .el-range
                                        .el-range__title ЦЕНА за метр, тыс. РУБ.

                                        .el-range__squares.el-range_single
                                            .el-range__squares-item.active(data-range="200")
                                                span.el-range__square
                                                span.el-range__value >200
                                            .el-range__squares-item(data-range="300")
                                                span.el-range__square
                                                span.el-range__value <300
                                            .el-range__squares-item(data-range="400")
                                                span.el-range__square
                                                span.el-range__value <400
                                            .el-range__squares-item(data-range="500")
                                                span.el-range__square
                                                span.el-range__value <500
                                            .el-range__squares-item(data-range="1000")
                                                span.el-range__square
                                                span.el-range__value <1 млн.
                                            input(type="hidden" name="search_params[square_meter_cost][from]" value="0")
                                            input(type="hidden" class="max" name="search_params[square_meter_cost][to]")

                                .filter-ext__ranges-item
                                    .el-range
                                        .el-range__title площадь, м²

                                        .el-range__squares.el-range_single
                                            .el-range__squares-item(data-range="20")
                                                span.el-range__square
                                                span.el-range__value >20
                                            .el-range__squares-item(data-range="100")
                                                span.el-range__square
                                                span.el-range__value 100
                                            .el-range__squares-item(data-range="200")
                                                span.el-range__square
                                                span.el-range__value 200
                                            .el-range__squares-item(data-range="300")
                                                span.el-range__square
                                                span.el-range__value 300
                                            .el-range__squares-item(data-range="400")
                                                span.el-range__square
                                                span.el-range__value 400
                                            .el-range__squares-item.active(data-range="500")
                                                span.el-range__square
                                                span.el-range__value 500+
                                            input(type="hidden" name="search_params[area][from]" value="0")
                                            input(type="hidden" class="max" name="search_params[area][to]")

                                .filter-ext__ranges-item
                                    .el-range
                                        .el-range__title число спален

                                        .el-range__squares.el-range_single
                                            .el-range__squares-item(data-range="1")
                                                span.el-range__square
                                                span.el-range__value 1
                                            .el-range__squares-item(data-range="2")
                                                span.el-range__square
                                                span.el-range__value 2
                                            .el-range__squares-item(data-range="3")
                                                span.el-range__square
                                                span.el-range__value 3
                                            .el-range__squares-item(data-range="4")
                                                span.el-range__square
                                                span.el-range__value 4
                                            .el-range__squares-item.active(data-range="5+")
                                                span.el-range__square
                                                span.el-range__value 5+
                                            input(type="hidden" name="search_params[bedroom_number][from]" value="0")
                                            input(type="hidden" class="max" name="search_params[bedroom_number][to]")

                                .filter-ext__ranges-item
                                    .el-range
                                        .el-range__title готовность

                                        .el-range__squares.el-range_multiple
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Сдан ГК
                                                input(type="hidden" name="search_params[construction_work_status][7]")
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Собственность
                                                input(type="hidden" name="search_params[construction_work_status][5]")
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Строительство
                                                input(type="hidden" name="search_params[construction_work_status][6]")

                                .filter-ext__ranges-item
                                    .el-range
                                        .el-range__title тип парковки

                                        .el-range__squares.el-range_multiple
                                            .el-range__squares-item.active
                                                span.el-range__square
                                                span.el-range__value Наземная
                                                input(type="hidden" name="search_params[parking_type][6]")
                                            .el-range__squares-item.active
                                                span.el-range__square
                                                span.el-range__value Наземная, охраняемая
                                                input(type="hidden" name="search_params[parking_type][7]")
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Подземная
                                                input(type="hidden" name="search_params[parking_type][5]")
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Подземная охраняемая
                                                input(type="hidden" name="search_params[parking_type][8]")

                                .filter-ext__ranges-item
                                    .el-range
                                        .el-range__title этажи

                                        .el-range__squares.el-range_multiple
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Не первый
                                                input(type="hidden" name="")
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Мало-этажный дом
                                                input(type="hidden" name="")
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Много-этажный дом
                                                input(type="hidden" name="")
                                            .el-range__squares-item.active
                                                span.el-range__square
                                                span.el-range__value Высота
                                                input(type="hidden" name="")
                                            .el-range__squares-item
                                                span.el-range__square
                                                span.el-range__value Небоскреб
                                                input(type="hidden" name="")

                                .filter-ext__submit
                                    input(type="submit", value="Перейти к выбору").btn.btn_full-gold.strong


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage