doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__top-bar
                    .search-top-bar
                        .search-top-bar__new-search
                            svg
                                use(xlink:href="#search-loop")
                            a новый поиск

                        .search-top-bar__droplist
                            a(data-listname="ac").open-droplist поиск по жк
                            svg
                                use(xlink:href="#chevron-down")

                        .search-top-bar__map
                            a искать на карте

                .content__title
                    span Зарубежная недвижимость
                    .flags
                        .flags__item
                            i Инвестиции
                        .flags__item
                            i Предброкеридж


                // about company
                section.content__section
                    .foreign-estate
                        .foreign-estate__filter-btns
                            a(data-listname="to-buy").open-droplist.foreign-estate__filter-btn купить
                                svg
                                    use(xlink:href="#chevron-down")

                            a(data-listname="to-buy").open-droplist.foreign-estate__filter-btn за рубежом
                                svg
                                    use(xlink:href="#chevron-down")

                            a(data-listname="to-buy").open-droplist.foreign-estate__filter-btn виллу
                                svg
                                    use(xlink:href="#chevron-down")

                        .foreign-estate__filter-lists
                            div(data-droplist="to-buy").foreign-estate__filter-list

                        .foreign-estate__bar
                            .search-top-bar
                                .search-top-bar__droplist
                                    a(data-listname="ac").open-droplist поиск по жк
                                    svg
                                        use(xlink:href="#chevron-down")

                                .search-top-bar__map
                                    a искать на карте

                                .search-top-bar__filter.open-popup(data-popup="filter")
                                    a фильтр

                        .foreign-estate__result
                            .search-result
                                .search-result__founded Найдено 1000 объектов

                            // item
                            .search-result__item
                                // estate-preview
                                .estate-preview
                                    .estate-preview__header
                                        .estate-preview__title Дом Kingfisher Court г Хаддерсфилд.

                                        .estate-preview__header-bottom
                                            .estate-preview__address 2-я Фрунзенская ул. д. 8
                                            .estate-preview__lot Лот № 19735

                                    .estate-preview__body
                                        .estate-preview__image
                                            img(src="images/estate/1.jpg")

                                        .estate-preview__view
                                            a(href="#").btn.btn_outline-white.strong смотреть объект

                                    .estate-preview__footer
                                        .estate-preview__area
                                            span.number 212
                                            span м #[sup 2]

                                        .estate-preview__cost
                                            span.cost 708 030 000 ₽
                                            .estate-preview__currency-btns
                                                a(data-currency="rub").active ₽
                                                a(data-currency="dol") $
                                                a(data-currency="eur") €
                                // estate-preview

                            // item
                            .search-result__item
                                // estate-preview
                                .estate-preview
                                    .estate-preview__header
                                        .estate-preview__title Дом Kingfisher Court г Хаддерсфилд.

                                        .estate-preview__header-bottom
                                            .estate-preview__address 2-я Фрунзенская ул. д. 8
                                            .estate-preview__lot Лот № 19735

                                    .estate-preview__body
                                        .estate-preview__image
                                            img(src="images/estate/1.jpg")

                                        .estate-preview__view
                                            a(href="#").btn.btn_outline-white.strong смотреть объект

                                    .estate-preview__footer
                                        .estate-preview__area
                                            span.number 212
                                            span м #[sup 2]

                                        .estate-preview__cost
                                            span.cost 708 030 000 ₽
                                            .estate-preview__currency-btns
                                                a(data-currency="rub").active ₽
                                                a(data-currency="dol") $
                                                a(data-currency="eur") €
                                // estate-preview

                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage