doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__top-bar
                    .search-top-bar
                        .search-top-bar__new-search
                            svg
                                use(xlink:href="#search-loop")
                            a новый поиск

                        .search-top-bar__droplist
                            a(data-listname="ac").open-droplist поиск по жк
                            svg
                                use(xlink:href="#chevron-down")

                        .search-top-bar__map
                            a искать на карте


                // appartment
                section.content__section.no-margin
                    .highway
                        h1.highway__title Киевское

                        .highway__type Шоссе

                        .highway__numbers
                            .region__numbers-item
                                span.text Жилых объектов
                                span.number 9

                        .highway__slider
                            .estate-slider.owl-carousel
                                .estate-slider__item
                                    img(src="http://www.kalinka-realty.ru/uploads/images/559a6a93be7b01436183187.jpeg")
                                .estate-slider__item
                                    img(src="http://www.kalinka-realty.ru/uploads/images/559a6a93be7b01436183187.jpeg")
                                .estate-slider__item
                                    img(src="http://www.kalinka-realty.ru/uploads/images/559a6a93be7b01436183187.jpeg")
                                .estate-slider__item
                                    img(src="images/regions/4.jpg")


                        .highway__map
                            // все данные по карте сюда, блок не виден


                        // description
                        .highway__description
                            .highway__description-title Описание

                            p Жилой комплекс «Андреевский» расположен в районе Хамовники, вблизи одной из самых красивых и  чистых набережных города. Рядом с домом хорошо развита детская инфраструктура: несколько школ, московская академия хореографии, центр детского творчества и детский музыкальный театр.

                            a.more-about Полное описание района

                        // object
                        .highway__object
                            a.btn.btn_full-gold.strong подобрать объект в этом районе



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage