doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title
                    span Sitemap


                // search
                section.content__section
                    .sitemap
                        a(href="/main").sitemap__item Главная
                        a(href="/vacancies").sitemap__item Вакансии
                        a(href="/about").sitemap__item О компании
                        a(href="/management").sitemap__item Руководство
                        a(href="/agency").sitemap__item Агентские
                        a(href="/news").sitemap__item Новости компании
                        a(href="/article").sitemap__item Новостная статья
                        a(href="/signin").sitemap__item Авторизация
                        a(href="/signup").sitemap__item Регистрация
                        a(href="/recovery").sitemap__item Восстановление пароля
                        a(href="/contacts").sitemap__item Обратная связь
                        a(href="/whatsapp").sitemap__item WhatsApp
                        a(href="/city-estate").sitemap__item Городская недвижимость
                        a(href="/suburban-estate").sitemap__item Загородная недвижимость
                        a(href="/foreign-estate").sitemap__item Зарубежная недвижимость
                        a(href="/commercial-estate").sitemap__item Коммерческая недвижимость
                        a(href="/ap-complexes").sitemap__item Жилые комплексы
                        a(href="/dream").sitemap__item Выберите недвижимость своей мечты
                        a(href="/dream-2").sitemap__item Выберите недвижимость своей мечты. Шаг 2
                        a(href="/ap-complex").sitemap__item Страница жилого комплекса
                        a(href="/developers").sitemap__item Застройщикам
                        a(href="/investments").sitemap__item Инвестиции
                        a(href="/customers").sitemap__item Покупателям
                        a(href="/vendors").sitemap__item Продавцам
                        a(href="/history").sitemap__item История
                        a(href="/lk").sitemap__item Личный кабинет
                        a(href="/map").sitemap__item Карта на весь экран
                        a(href="/awards").sitemap__item Призы и награды
                        a(href="/filter-ext").sitemap__item Расширенный фильтр
                        a(href="/appartment").sitemap__item Аппартаменты
                        a(href="/region").sitemap__item Поиск по району


        include components/overlay.html
        include components/endpage