doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg.html
        include components/header

        .wrap
            .content
                h1.content__title.open-list
                    span Инвестиции

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item
                                a(href="/agency").content__menu-link Агентские услуги
                            li.content__menu-item.active
                                a(href="/investments").content__menu-link Инвестиции
                            li.content__menu-item
                                a(href="/developers").content__menu-link Застройщикам
                            li.content__menu-item
                                a(href="/vendors").content__menu-link Продавцам
                            li.content__menu-item
                                a(href="/customers").content__menu-link Покупателям


                // agency
                section.content__section
                    .investments.ui-tabs
                        .investments__switcher
                            .btns__row-3
                                a.btn.btn_gray.strong.active.ui-tabs__switch(data-tab="1") Частные
                                a.btn.btn_gray.strong.ui-tabs__switch(data-tab="2") Арендный бизнес
                                a.btn.btn_gray.strong.ui-tabs__switch(data-tab="3") За рубежом

                        .investments__tabs.ui-text
                            .ui-tabs__inset(data-tabname="1").
                                Заголовик частные
                            .ui-tabs__inset(data-tabname="2").
                                Заголовок бизнес
                            .ui-tabs__inset(data-tabname="3").
                                Заголовок за рубежом





                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage