doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg.html
        include components/header

        .wrap
            .content
                .content__title
                    span Личный кабинет

                .content__subtitle.small Добровольский Сергей


                // vacancies
                section.content__section
                    .lk
                        .lk__title
                            .lk__title-icon
                                svg
                                    use(xlink:href="#heart")
                            .lk__title-text избранные #[br] объекты
                            .lk__title-number 29

                        .lk__elect
                            .ui-horizontal
                                .ui-horizontal__wrap
                                    .ui-horizontal__inner

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽

                                        .ui-elect
                                            .ui-elect__image(style="background-image: url(images/elect/1.jpg)")
                                            .ui-elect__info
                                                .ui-elect__title ЖК Английский квартал
                                                .ui-elect__details
                                                    .ui-elect__details-area
                                                        span.number 212 м²
                                                    .ui-elect__details-rooms
                                                        span.number 4 комнаты
                                                    .ui-elect__details-bath
                                                        span.number 2
                                                    .ui-elect__details-bad
                                                        span.number 3
                                                .ui-elect__price 265 670 500 ₽

                        .lk__title
                            .lk__title-icon
                                svg
                                    use(xlink:href="#chain")
                            .lk__title-text избранные #[br] объекты

                        .lk__dealings
                            .ui-dealing
                                .ui-dealing__title
                                    .ui-dealing__name садовые кварталы
                                    .ui-dealing__address Арбат ул., д. 43. стр. 3

                                .ui-dealing__steps
                                    .ui-dealing__step.done
                                        .ui-dealing__step-circle
                                        .ui-dealing__step-name Договор
                                        .ui-dealing__step-right
                                            a.ui-dealing__step-action
                                                svg
                                                    use(xlink:href="#pdf")
                                                span скачать

                                    .ui-dealing__step.done
                                        .ui-dealing__step-circle
                                        .ui-dealing__step-name Просмотр
                                        .ui-dealing__step-right
                                            .ui-dealing__step-action
                                                svg
                                                    use(xlink:href="#calendar")
                                                span 24.12.2016

                                    .ui-dealing__step
                                        .ui-dealing__step-circle
                                        .ui-dealing__step-name Аванс
                                        .ui-dealing__step-right
                                            .ui-dealing__step-action
                                                svg
                                                    use(xlink:href="#ruble")
                                                span внесен

                                    .ui-dealing__step
                                        .ui-dealing__step-circle
                                        .ui-dealing__step-name Документация
                                        .ui-dealing__step-right
                                            .ui-dealing__step-action
                                                svg
                                                    use(xlink:href="#paper")
                                                span предоставлена

                                    .ui-dealing__step
                                        .ui-dealing__step-circle
                                        .ui-dealing__step-name Сделка
                                        .ui-dealing__step-right
                                            .ui-dealing__step-action
                                                svg
                                                    use(xlink:href="#star")
                                                span завершена

                                .ui-dealing__broker
                                    .el-broker
                                        .el-broker__photo
                                            .el-broker__photo-wrap
                                                img(src="images/brokers/cobain.jpg")

                                        .el-broker__middle
                                            .el-broker__title Ваш брокер
                                            .el-broker__name Достоевский Курт

                                        .el-broker__call
                                            a(href="tel:89997775533").el-tocall

                        .lk__title
                            .lk__title-icon
                                svg
                                    use(xlink:href="#mail")
                            .lk__title-text управление #[br] подписками

                        .lk__subscribes
                            form.form
                                .form__row.cons
                                    .checkbox.cons
                                        input(type="checkbox", checked)
                                        label Общая рассылка
                                .form__row.cons
                                    .checkbox.cons
                                        input(type="checkbox")
                                        label Загородный ебъекты
                                .form__row.cons
                                    .checkbox.cons
                                        input(type="checkbox")
                                        label Коммерческая недвижимость
                                .form__row.cons
                                    .checkbox.cons
                                        input(type="checkbox")
                                        label Рассылка Москва-Сити
                                .form__row.cons
                                    .checkbox.cons
                                        input(type="checkbox")
                                        label Недвижимость Санкт-Петербурга


                        .lk__title.light
                            .lk__title-text Подписка на изменение #[br] цены объекта

                        .lk__change-price
                            .ui-chaprice.active
                                .ui-chaprice__wrap
                                    .ui-chaprice__left
                                        .ui-chaprice__icon
                                            svg
                                                use(xlink:href="#pointmap_outline")
                                        .ui-chaprice__info
                                            .ui-chaprice__name Садовые кварталы
                                            .ui-chaprice__address Арбат ул., д. 43. стр. 3
                                            .ui-chaprice__detail Квартира - 134 м²
                                            .ui-chaprice__detail Этаж -3

                                    .ui-chaprice__right
                                        .ui-chaprice__now-cost.up 708 030 000 ₽
                                        .ui-chaprice__old-cost 708 017 000 ₽

                            .ui-chaprice
                                .ui-chaprice__wrap
                                    .ui-chaprice__left
                                        .ui-chaprice__icon
                                            svg
                                                use(xlink:href="#pointmap_outline")
                                        .ui-chaprice__info
                                            .ui-chaprice__name Садовые кварталы
                                            .ui-chaprice__address Арбат ул., д. 43. стр. 3
                                            .ui-chaprice__detail Квартира - 134 м²
                                            .ui-chaprice__detail Этаж -3

                                    .ui-chaprice__right
                                        .ui-chaprice__now-cost.down 114 500 000 ₽
                                        .ui-chaprice__old-cost 118 250 000 ₽

                            .ui-chaprice
                                .ui-chaprice__wrap
                                    .ui-chaprice__left
                                        .ui-chaprice__icon
                                            svg
                                                use(xlink:href="#pointmap_outline")
                                        .ui-chaprice__info
                                            .ui-chaprice__name Садовые кварталы
                                            .ui-chaprice__address Арбат ул., д. 43. стр. 3
                                            .ui-chaprice__detail Квартира - 134 м²
                                            .ui-chaprice__detail Этаж -3

                                    .ui-chaprice__right
                                        .ui-chaprice__now-cost.down 114 500 000 ₽
                                        .ui-chaprice__old-cost 118 250 000 ₽







                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage