doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg.html
        include components/header

        .wrap
            .content
                .content__title
                    span Kalinka Group
                .content__subtitle Недвижимость для счастья!

                .content__slider
                    .content__slider-title Дизайнерские квартиры

                    .home-slider.owl-carousel
                        .home-slider__item
                            img(src="images/home-carousel/1.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/2.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/3.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/4.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/5.jpg")


                // search
                section.content__section
                    form.home-search
                        .home-search__btns
                            .btns
                                .btns__row-3.btn-checkboxes
                                    a.btn.btn_outline.strong.active(data-cb="Купить") купить
                                    a.btn.btn_outline.strong(data-cb="Арендовать") арендовать
                                    a.btn.btn_outline.strong(data-cb="Продать") продать
                                    input(type="hidden")
                                .btns__row-3.btn-checkboxes
                                    a.btn.btn_gray.strong(data-cb="в Москве") в Москве
                                    a.btn.btn_gray.strong.active(data-cb="в Санкт-Петербурге") в Санкт-Петербурге
                                    a.btn.btn_gray.strong(data-cb="За рубежом") За рубежом
                                    input(type="hidden")
                                .btns__row-3.btn-checkboxes
                                    a.btn.btn_outline.strong(data-cb="Жилая") Жилая
                                    a.btn.btn_outline.strong(data-cb="Коммерческая") Коммерческая
                                    a.btn.btn_outline.strong.active(data-cb="Загородная") Загородная
                                    input(type="hidden")

                        .home-search__select
                            .btn-selector.open-droplist(data-listname="ap-type")
                                span Квартира
                                input(type="hidden", value="")
                            button.home-search__submit поиск
                                i.svg
                                    svg.svg__search-loop
                                        use(xlink:href="#search-loop")


                        .home-search__input
                            input(type="text", placeholder="Поиск по району, ЖК, названию объекта...")

                        .home-search__more
                            a.btn.btn_blue.strong.more-parameters(href="/filter-ext") больше параметров
                            a.btn.btn_blue.strong.select-object(href="/dream") заказать подбор объекта


                section.content__section.tac
                    a(href="#").through-whatsapp
                        span.through-whatsapp__icon
                            img(src="img/whatsapp-icon.png")
                        span.through-whatsapp__text Отправить сообщение через whatsapp


                section.content__section
                    .realty-blocks

                        .realty-blocks__item
                            .realty-blocks__img
                                svg
                                    use(xlink:href="#stalinka")
                            .realty-blocks__text городская недвижимость

                        .realty-blocks__item
                            .realty-blocks__img
                                svg
                                    use(xlink:href="#houses")
                            .realty-blocks__text коммерческая недвижимость

                        .realty-blocks__item
                            .realty-blocks__img
                                svg
                                    use(xlink:href="#home")
                            .realty-blocks__text загородная недвижимость

                        .realty-blocks__item
                            .realty-blocks__img
                                svg
                                    use(xlink:href="#earth")
                            .realty-blocks__text зарубежная недвижимость

                        .realty-blocks__item
                            .realty-blocks__img
                                svg
                                    use(xlink:href="#moscow-city")
                            .realty-blocks__text москва-сити

                        .realty-blocks__item
                            .realty-blocks__img
                                svg
                                    use(xlink:href="#present")
                            .realty-blocks__text партнерская программа


                section.content__section
                    include components/feedback


        include components/overlay.html
        include components/endpage