doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title.open-list
                    span Руководство

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item
                                a(href="/about").content__menu-link О компании
                            li.content__menu-item.active
                                a(href="/management").content__menu-link Руководство
                            li.content__menu-item
                                a(href="/history").content__menu-link История
                            li.content__menu-item
                                a(href="/awards").content__menu-link Призы и награды
                            li.content__menu-item
                                a(href="/vacancies").content__menu-link Вакансии


                // management
                section.content__section
                    .management
                        .management__members

                            .member-company.manager
                                .member-company__name.mobile Екатерина Румянцева
                                .member-company__post.mobile Председатель совета директоров, партнер и основатель
                                .member-company__photo
                                    img(src="/images/management/1.jpg")
                                    .tablet
                                        .member-company__name Екатерина Румянцева
                                        .member-company__post Председатель совета директоров, партнер и основатель
                                .member-company__about.
                                    В сфере недвижимости – более 20 лет. Интегрировала западные принципы работы на московском рынке недвижимости, влияя на его профессиональный уровень. Обладает нестандартным подходом к работе, блестящей бизнес интуицией. Непосредственный разработчик концепций большинства объектов дорогой городской недвижимости: идеологии, стратегии и методов реализации.

                            .member-company.manager
                                .member-company__name.mobile Леонид Кронгауз
                                .member-company__post.mobile Член совета директоров, партнер и сооснователь
                                .member-company__photo
                                    img(src="/images/management/2.jpg")
                                    .tablet
                                        .member-company__name Леонид Кронгауз
                                        .member-company__post Член совета директоров, партнер и сооснователь
                                .member-company__about.
                                    Работает в сфере девелопмента с начала формирования рынка недвижимости в России. Имеет большой опыт создания успешных девелоперских проектов в разных сегментах рынка недвижимости Москвы и Подмосковья, а также проведения инвестиционных сделок. В должности председателя Совета директоров девелоперской компании «KB-Инжиниринг» осуществлял управление проектами, включая концептуальное планирование, управление финансами и рисками, бизнес-планирование, управление строительством, определение политики продаж и организацию дальнейшей эксплуатации объектов недвижимости.

                            .member-company.manager
                                .member-company__name.mobile Полина Меделяновская
                                .member-company__post.mobile Директор по работе с ключевыми клиентами
                                .member-company__photo
                                    img(src="/images/management/3.jpg")
                                    .tablet
                                        .member-company__name Леонид Кронгауз
                                        .member-company__post Член совета директоров, партнер и сооснователь
                                .member-company__about.
                                    Имеет степень кандидата наук, окончила Московский государственный университет экономики, статистики и информатики (МЭСИ). До прихода в компанию работала в «Кирсанова Риэлти» и Noble Gibbons. Обладает фундаментальными знаниями рынка высококлассной недвижимости, которые были приобретены в процессе работы брокером. Имеет большой опыт взаимодействия с ведущими российскими и западными девелоперскими, строительными компаниями, архитектурными бюро и проектировщиками.

                            .member-company.manager
                                .member-company__name.mobile Елена Ширшина
                                .member-company__post.mobile Исполнительный директор
                                .member-company__photo
                                    img(src="/images/management/4.jpg")
                                    .tablet
                                        .member-company__name Леонид Кронгауз
                                        .member-company__post Член совета директоров, партнер и сооснователь
                                .member-company__about.
                                    Получила образование в МЭСИ по специальности «экономист». В 2011 году также окончила Московскую Международную высшую школу бизнеса (МИРБИС), курс HR MBA. Имеет сертификат фасилитатора Московского института фасилитации.
                                    Начинала свою карьеру в 2003 году в качестве менеджера и руководителя учебного центра компании Diasoft, затем долгое время возглавляла направление работы с персоналом в IT-компании Neoflex. К наиболее значимым проектам, реализованным в этот период времени, можно отнести: реорганизацию оргструктуры, внедрение внутреннего портала компании на платформе Share Point, проект "Гранты R&D", занявший 3-е место наряду с проектом "Сочи-2014" на Всероссийском конкурсе проектов по нематериальной мотивации персонала 2014 года.
                                    В 2015 году присоединилась к Kalinka Group в качестве директора по персоналу. В настоящее время Елена - исполнительный директор Kalinka Group.

                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage