doctype
html(lang="ru")

	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

		include components/headlinks

	body
		include components/analytics.html
		include components/svg.html
		include components/header

		.wrap
			.content

				section.content__section.no-margin
					.map(style="position: relative")

						.map__ui
							.map__switchers
								.map__switcher(data-tab="main-gmap")
									svg
										use(xlink:href="#map-pm")
								.map__switcher(data-tab="metro-map")
									svg
										use(xlink:href="#map-metro")
								.map__switcher.active(data-tab="infra-map")
									svg
										use(xlink:href="#map-map")


							.map__buttons
								a(href="#").map__button назад
								br
								.map__button.map__button_regions выберите районы

							.map__tabs

								.map__tab#main-gmap

								.map__tab.map__tab_metro#metro-map
									img(src="http://www.kalinka-realty.ru/assets/images/search/metro.png")

								.map__tab.active#infra-gmap
							script.
								var infraGmap;
								var mainGmap;
								function initMap() {
									mainGmap = new google.maps.Map(document.getElementById('main-gmap'), {
										center: {lat: 55.751794, lng: 37.617446},
										zoom: 10,
										//{555}
										scrollwheel: true,
										disableDefaultUI: true
									});
									mainGmap.setOptions({styles: stylesArray});

									infraGmap = new google.maps.Map(document.getElementById('infra-gmap'), {
										center: {lat: 55.751794, lng: 37.617446},
										zoom: 10,
										//{555}
										scrollwheel: true,
										disableDefaultUI: true,
										getMapOptions: function () {
											return {
												zoom: this.getMapZoom(),
												center: this.getMapCenter(),
												mapTypeId: google.maps.MapTypeId.ROADMAP,
												disableDefaultUI: !0,
												zoomControl: !1,
												scaleControl: !1,
												panControl: !1,
												styles: [{
													featureType: "poi",
													stylers: [{
														visibility: "off"
													}]
												}, {
													featureType: "administrative.locality",
													stylers: [{
														visibility: "off"
													}]
												}, {
													featureType: "poi.park",
													elementType: "geometry",
													stylers: [{
														visibility: "on"
													}, {
														color: "#f3f2f1"
													}]
												}, {
													featureType: "poi.park",
													elementType: "labels",
													stylers: [{
														visibility: "off"
													}]
												}, {
													featureType: "landscape.natural",
													stylers: [{
														visibility: "on"
													}, {
														color: "#f3f2f1"
													}]
												}, {
													featureType: "landscape",
													elementType: "geometry.fill",
													stylers: [{
														color: "#f9f8f7"
													}]
												}, {
													featureType: "water",
													stylers: [{
														hue: "#0091ff"
													}, {
														lightness: 23
													}]
												}, {
													featureType: "road",
													elementType: "geometry.fill",
													stylers: [{
														hue: "#ff9900"
													}, {
														saturation: -62
													}, {
														lightness: 57
													}]
												}, {
													featureType: "road.highway",
													elementType: "geometry.stroke",
													stylers: [{
														saturation: -57
													}, {
														lightness: 45
													}]
												}, {
													featureType: "landscape.man_made",
													elementType: "geometry.stroke",
													stylers: [{
														color: "#d1d4d6"
													}]
												}]
											}
										}
									});
									infraGmap.setOptions({styles: stylesArray});
								}

								var stylesArray = [
									{
										"featureType": "administrative",
										"elementType": "labels.text.fill",
										"stylers": [
											{
												"color": "#444444"
											}
										]
									},
									{
										"featureType": "administrative.country",
										"elementType": "geometry.fill",
										"stylers": [
											{
												"visibility": "off"
											},
											{
												"color": "#fc6e6e"
											}
										]
									},
									{
										"featureType": "administrative.province",
										"elementType": "geometry.fill",
										"stylers": [
											{
												"visibility": "off"
											},
											{
												"hue": "#008aff"
											}
										]
									},
									{
										"featureType": "landscape",
										"elementType": "all",
										"stylers": [
											{
												"color": "#f2f2f2"
											}
										]
									},
									{
										"featureType": "poi",
										"elementType": "all",
										"stylers": [
											{
												"visibility": "off"
											}
										]
									},
									{
										"featureType": "road",
										"elementType": "all",
										"stylers": [
											{
												"saturation": -100
											},
											{
												"lightness": 45
											}
										]
									},
									{
										"featureType": "road.highway",
										"elementType": "all",
										"stylers": [
											{
												"visibility": "simplified"
											}
										]
									},
									{
										"featureType": "road.arterial",
										"elementType": "labels.icon",
										"stylers": [
											{
												"visibility": "off"
											}
										]
									},
									{
										"featureType": "transit",
										"elementType": "all",
										"stylers": [
											{
												"visibility": "off"
											}
										]
									},
									{
										"featureType": "water",
										"elementType": "all",
										"stylers": [
											{
												"color": "#bee0ee"
											},
											{
												"visibility": "on"
											}
										]
									}
								];






							.map__regions
								.map__regions-close
									svg
										use(xlink:href="#x-letter")

								.map__regions-title Выбрать район
								.map__regions-list
									.el-map-check.active
										input(type="checkbox")
										label остоженка
									.el-map-check
										input(type="checkbox")
										label замоскворечье
									.el-map-check
										input(type="checkbox")
										label плющиха
									.el-map-check
										input(type="checkbox")
										label хамовники


				section.content__section.no-margin
					include components/feedback


		include components/overlay.html
		include components/endpage
