doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title
                    span Sitemap


                // search
                section.content__section
                    .sitemap
                        ul
                            li 1) Доделать блок
                                a(href="/app/vendors").sitemap__item (страница)

                            li 2) appartment.php цены нет у объекта
                                a(href="/app/appartment").sitemap__item (порядок)

                            li 3) commercial-estate.php
                                a(href="/app/commercial-estate").sitemap__item (исправлено)

                            li 4) map.php нет карты, только футер
                                a(href="/app/map").sitemap__item (карта)

                            li 5) region.php едет верстка парамеров, плюс нет блока с картой и иконками
                                a(href="/app/region").sitemap__item (все отлично)

                            li 6) foreign-estate.php нет цены объекта и нет подзаголовков
                                a(href="/app/foreign-estate").sitemap__item (исправлено)

                            li 7) suburban-estate.php баг списка, есть также на главной, нет цены объекта
                                a(href="/app/suburban-estate").sitemap__item (порядок)

                            li 8) В архиве нет страницы Kalinka Design
                                a(href="/app/design").sitemap__item (страница)

                            li 9) Нет страницы Услуги разводящая
                                a(href="/app/service").sitemap__item (страница)

                            li 10) нет страницы консалтинговые
                                a(href="/app/consulting").sitemap__item (страница)

                            li 11) нет страницы архив новостей
                                a(href="/app/news-archive").sitemap__item (вот)

                            li 12) Не нашел фильтр по ЖК в архиве верстки
                                a(href="/app/city-estate").sitemap__item (фильтр)

                            li 13) Нет страницы правовое сопровождение
                                a(href="/app/escort").sitemap__item (теперь есть)


        include components/overlay.html
        include components/endpage