doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content

                section.content__section.no-margin
                    .auth

                        form.form.auth__recovery

                            .auth__text
                                p.
                                    Пожалуйста, введите новый пароль

                            .auth__form
                                .form_light
                                    .form__row
                                        input(type="pass", placeholder="Новый пароль").form__input

                            .auth__btn
                                input(type="submit", value="Отправить").btn.btn_full-gold.strong


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage