doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title.open-list
                    span Архив

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item
                                a(href="/about").content__menu-link О компании
                            li.content__menu-item
                                a(href="/management").content__menu-link Руководство
                            li.content__menu-item.active
                                a(href="/history").content__menu-link Архив
                            li.content__menu-item
                                a(href="/awards").content__menu-link Призы и награды
                            li.content__menu-item
                                a(href="/vacancies").content__menu-link Вакансии


                // vacancies
                section.content__section
                    .history
                        .history__content
                            .history__event
                                .history__event-year
                                    span 2016
                                .history__event-about
                                    .ui-text
                                        p.p.p_24.
                                            Создание KALINKA-BARNES - совместной компании с Barnes International, международным лидером в сфере элитной недвижимости.


                            .history__event.full-point
                                .history__event-year
                                    span 2015
                                .history__event-about
                                    .ui-text
                                        p.p.p_24.
                                            Создание KALINKA-BARNES - совместной компании с Barnes International, международным лидером в сфере элитной недвижимости.


                            .history__event
                                .history__event-year
                                    span 2014
                                .history__event-about
                                    .ui-text
                                        p.p.p_24.
                                            Создание KALINKA-BARNES - совместной компании с Barnes International, международным лидером в сфере элитной недвижимости.


                            .history__event
                                .history__event-year
                                    span 2013
                                .history__event-about
                                    .ui-text
                                        p.p.p_24.
                                            Создание KALINKA-BARNES - совместной компании с Barnes International, международным лидером в сфере элитной недвижимости.


                            .history__event
                                .history__event-year
                                    span 2012
                                .history__event-about
                                    .ui-text
                                        p.p.p_24.
                                            Создание KALINKA-BARNES - совместной компании с Barnes International, международным лидером в сфере элитной недвижимости.


                            .history__event
                                .history__event-year
                                    span 2011
                                .history__event-about
                                    .ui-text
                                        p.p.p_24.
                                            Создание KALINKA-BARNES - совместной компании с Barnes International, международным лидером в сфере элитной недвижимости.


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage