doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__top-bar
                    .search-top-bar
                        .search-top-bar__new-search
                            svg
                                use(xlink:href="#search-loop")
                            a новый поиск

                        .search-top-bar__droplist
                            a(data-listname="ac").open-droplist поиск по жк
                            svg
                                use(xlink:href="#chevron-down")

                        .search-top-bar__map
                            a искать на карте


                // appartment
                section.content__section.no-margin
                    .region
                        h1.region__title Пресненский район

                        .region__type ЦАО

                        .region__numbers
                            .region__numbers-item
                                span.text Новостройки
                                span.number 9
                            .region__numbers-item
                                span.text Первичные предложения
                                a.number 245
                            .region__numbers-item
                                span.text ЖК
                                span.number 17
                            .region__numbers-item
                                span.text Вторичные предложения
                                a.number 309

                        .region__slider
                            .estate-slider.owl-carousel
                                .estate-slider__item
                                    img(src="images/regions/1.jpg")
                                .estate-slider__item
                                    img(src="images/regions/2.jpg")
                                .estate-slider__item
                                    img(src="images/regions/3.jpg")
                                .estate-slider__item
                                    img(src="images/regions/4.jpg")


                        .region__map
                            #region-gmap

                            script.
                                var infraGmap;
                                function initMap() {
                                    mainGmap = new google.maps.Map(document.getElementById('region-gmap'), {
                                        center: {lat: 55.751794, lng: 37.617446},
                                        zoom: 10,
                                        disableDefaultUI: true
                                    });
                                }


                        .region__adv
                            .region__adv-item
                                .region__adv-img
                                    img(src="img/region-1.png")
                                span Близость центральных парков
                            .region__adv-item
                                .region__adv-img
                                    img(src="img/region-2.png")
                                span Шаговая доступность до Кремля
                            .region__adv-item
                                .region__adv-img
                                    img(src="img/region-3.png")
                                span Уютный комфортный район
                            .region__adv-item
                                .region__adv-img
                                    img(src="img/region-4.png")
                                span Многообразие культурных объектов


                        // description
                        .region__description
                            .region__description-title Описание

                            p Жилой комплекс «Андреевский» расположен в районе Хамовники, вблизи одной из самых красивых и  чистых набережных города. Рядом с домом хорошо развита детская инфраструктура: несколько школ, московская академия хореографии, центр детского творчества и детский музыкальный театр.

                            a.more-about Полное описание района

                        // object
                        .region__object
                            a.btn.btn_full-gold.strong подобрать объект в этом районе



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage