doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg.html
        include components/header

        .wrap
            .content
                .content__title
                    span Kalinka Group

                .content__subtitle.small Полный спектр услуг


                // vacancies
                section.content__section
                    .services
                        .services__text.
                            Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.

                        .services__block
                            .services__item
                                .services__item-img
                                    img(src="img/service-1.png")
                                .services__item-title
                                    span Агентские

                            .services__item
                                .services__item-img
                                    img(src="img/service-2.png")
                                .services__item-title
                                    span Консалтинговые

                            .services__item
                                .services__item-img
                                    img(src="img/service-3.png")
                                .services__item-title
                                    span Инвестиционное планирование

                            .services__item
                                .services__item-img
                                    img(src="img/service-4.png")
                                .services__item-title
                                    span Управление продажами

                            .services__item
                                .services__item-img
                                    img(src="img/service-5.png")
                                .services__item-title
                                    span Правовое сопровождение

                            .services__item
                                .services__item-img
                                    img(src="img/service-6.png")
                                .services__item-title
                                    span Kalinka Legal Services

                            .services__item
                                .services__item-img
                                    img(src="img/service-7.png")
                                .services__item-title
                                    span Маркетинг и реклама

                            .services__item
                                .services__item-img
                                    img(src="img/service-8.png")
                                .services__item-title
                                    span Оценка недвижимости

                            .services__item
                                .services__item-img
                                    img(src="img/service-9.png")
                                .services__item-title
                                    span Kalinka Design

                        .services__text.
                            Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage