doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content

                section.content__section.no-margin
                    .auth

                        .auth__switcher
                            .auth__switcher-item.active
                                a(href="signin") Вход
                            .auth__switcher-item
                                a(href="signup") Регистрация

                        .auth__tabs
                            form.auth__tab

                                .auth__form
                                    .form.form_light
                                        .form__row
                                            input(type="email", placeholder="E-mail").form__input

                                        .form__row
                                            input(type="password", placeholder="Пароль").form__input

                                        .form__row
                                            a.form__link Восстановить пароль

                                .auth__btn
                                    input(type="submit", value="Войти").btn.btn_full-gold.strong


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage