doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__top-bar
                    .search-top-bar
                        .search-top-bar__new-search
                            svg
                                use(xlink:href="#search-loop")
                            a новый поиск

                        .search-top-bar__droplist
                            a(data-listname="ac").open-droplist поиск по жк
                            svg
                                use(xlink:href="#chevron-down")

                        .search-top-bar__map
                            a искать на карте

                .content__title
                    span Городская недвижимость


                // slider
                .content__slider
                    .content__slider-title Дизайнерские квартиры

                    .home-slider.owl-carousel
                        .home-slider__item
                            img(src="images/home-carousel/1.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/2.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/3.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/4.jpg")
                        .home-slider__item
                            img(src="images/home-carousel/5.jpg")


                    // search
                    section.content__section
                        form.home-search
                            .home-search__btns
                                .btns
                                    .btns__row-3
                                        a.btn.btn_outline.strong.active купить
                                        a.btn.btn_outline.strong арендовать
                                        a.btn.btn_outline.strong продать

                            .home-search__select
                                .btn-selector.btn-selector_gold.full.open-droplist(data-listname="ap-type")
                                    span Квартира
                                    input(type="hidden", value="")

                            .home-search__input
                                input(type="text", placeholder="Поиск по району, ЖК, названию объекта...")

                            .home-search__more
                                a.btn.btn_blue.strong.more-parameters больше параметров
                                button.home-search__submit поиск
                                    i.svg
                                        svg.svg__search-loop
                                            use(xlink:href="#search-loop")


                // about company
                section.content__section
                    .city-estate

                        .city-estate__bar
                            .search-top-bar
                                .search-top-bar__droplist
                                    a(data-listname="ac").open-droplist сначала дешевле
                                    svg
                                        use(xlink:href="#chevron-down")

                                .search-top-bar__map
                                    a искать на карте

                                .search-top-bar__filter.open-popup(data-popup="filter")
                                    a фильтр

                        .city-estate__result
                            .search-result
                                .search-result__founded Найдено 1000 объектов

                            // item
                            .search-result__item
                                // estate-preview
                                .estate-preview.detail
                                    .estate-preview__header
                                        .estate-preview__title Дом Kingfisher Court г Хаддерсфилд.
                                        .estate-preview__type
                                            span Квартира

                                        .estate-preview__details
                                            .estate-preview__area
                                                span.number 212
                                                span м #[sup 2]
                                            .estate-preview__rooms
                                                span.number 4
                                                span комнаты
                                            .estate-preview__bath
                                                span.number 2
                                            .estate-preview__bad
                                                span.number 3


                                        .estate-preview__header-bottom
                                            .estate-preview__address 2-я Фрунзенская ул. д. 8
                                            .estate-preview__lot Лот № 19735

                                    .estate-preview__body
                                        .estate-preview__slider
                                            .estate-slider.owl-carousel
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/1.jpg")
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/2.jpg")
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/3.jpg")
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/4.jpg")

                                    .estate-preview__footer

                                        .estate-preview__cost
                                            span.cost 708 030 000 ₽
                                            .estate-preview__currency-btns
                                                a(data-currency="rub").active ₽
                                                a(data-currency="dol") $
                                                a(data-currency="eur") €

                                        .estate-preview__status
                                            span продажа
                                // estate-preview



                            // the best
                            .search-result__best
                                img(src="images/best-estate.jpg")
                                p лучшие #[br] жилые комплексы



                            // item
                            .search-result__item
                                // estate-preview
                                .estate-preview.detail
                                    .estate-preview__header
                                        .estate-preview__title Дом Kingfisher Court г Хаддерсфилд.
                                        .estate-preview__type
                                            span Квартира

                                        .estate-preview__details
                                            .estate-preview__area
                                                span.number 212
                                                span м #[sup 2]
                                            .estate-preview__rooms
                                                span.number 4
                                                span комнаты
                                            .estate-preview__bath
                                                span.number 2
                                            .estate-preview__bad
                                                span.number 3


                                        .estate-preview__header-bottom
                                            .estate-preview__address 2-я Фрунзенская ул. д. 8
                                            .estate-preview__lot Лот № 19735

                                    .estate-preview__body
                                        .estate-preview__slider
                                            .estate-slider.owl-carousel
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/4.jpg")
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/1.jpg")
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/3.jpg")
                                                .estate-slider__item
                                                    img(src="images/estate-carousel/2.jpg")

                                    .estate-preview__footer

                                        .estate-preview__cost
                                            span.cost 708 030 000 ₽
                                            .estate-preview__currency-btns
                                                a(data-currency="rub").active ₽
                                                a(data-currency="dol") $
                                                a(data-currency="eur") €

                                        .estate-preview__status
                                            span продажа
                                // estate-preview


                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage