doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content
                .content__title.open-list
                    span Вакансии

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item
                                a(href="/about").content__menu-link О компании
                            li.content__menu-item
                                a(href="/management").content__menu-link Руководство
                            li.content__menu-item
                                a(href="/history").content__menu-link История
                            li.content__menu-item
                                a(href="/awards").content__menu-link Призы и награды
                            li.content__menu-item.active
                                a(href="/vacancies").content__menu-link Вакансии


                // vacancies
                section.content__section
                    .vacancies
                        p.vacancies__text «Калинка» предлагает интересную работу, комфортные условия труда, возможность профессионального и личного роста, высокую зарплату.

                        .vacancies__btn
                            a.btn.btn_outline-gold.strong скачать анкету

                        .vacancies__questionary
                            p.vacancies__questionary-text Пожалуйста, пришлите заполненную анкету на
                            a.vacancies__questionary-email kalinka@kalinka-realty.ru

                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage