doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg.html
        include components/header

        .wrap
            .content
                h1.content__title.open-list
                    span Продавцам

                    .content__menu
                        ul.content__menu-list
                            li.content__menu-item
                                a(href="/agency").content__menu-link Агентские услуги
                            li.content__menu-item
                                a(href="/investments").content__menu-link Инвестиции
                            li.content__menu-item
                                a(href="/developers").content__menu-link Застройщикам
                            li.content__menu-item.active
                                a(href="/vendors").content__menu-link Продавцам
                            li.content__menu-item
                                a(href="/customers").content__menu-link Покупателям


                // agency
                section.content__section

                    .i-want
                        .i-want__title Я хочу

                        .i-want__btns
                            .foreign-estate__filter-btns
                                a(data-listname="to-buy").open-droplist.foreign-estate__filter-btn Сдать в аренду
                                    svg
                                        use(xlink:href="#chevron-down")

                                a(data-listname="to-buy").open-droplist.foreign-estate__filter-btn Дом/коттедж
                                    svg
                                        use(xlink:href="#chevron-down")

                        .i-want__inputs.form.dream__form
                            .dream__form-price
                                .price-form
                                    .price-form__title цена:
                                    .price-form__inputs
                                        .price-form__row
                                            input(type="number", placeholder="ОТ").from
                                            input(type="number", placeholder="ДО").to
                                            .choose-currency
                                                span.choose-currency__cur ₽
                                            span.per за
                                            .choose-areatype
                                                span.choose-areatype__type всё
                                                .choose-areatype__popup
                                                    span.active Всё
                                                    span м #[sup 2]

                    .developers
                        .developers__text.ui-text
                            h2.h2 Консалтинг

                            p.p Компания Kalinka Real Estate Consulting Group оказывает полный комплекс профессиональных услуг по продаже и аренде объектов городской, загородной и зарубежной недвижимости, а также коммерческих площадей в сегменте офисной и торговой недвижимости.

                            .el-subcut
                                p.p.el-subcut__content Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.
                                a.el-subcut__link
                                    span.el-subcut__link-text Подробнее о консалтинге
                                    br
                                    span.el-subcut__link-icon
                                        svg
                                            use(xlink:href="#plus-sign")


                        .developers__text.ui-text.ui-text_blue-bg
                            h2.h2 Оценка

                            p.p Компания Kalinka Real Estate Consulting Group оказывает полный комплекс профессиональных услуг по продаже и аренде объектов городской, загородной и зарубежной недвижимости, а также коммерческих площадей в сегменте офисной и торговой недвижимости.

                            .el-subcut
                                p.p.el-subcut__content Kalinka Real Estate Consulting Group является признанным лидером в сфере предоставления агентских услуг на рынке высококлассной недвижимости. Компания обеспечивает более 20% общерыночных продаж и располагает пулом надежных и проверенных контрагентов.
                                a.el-subcut__link
                                    span.el-subcut__link-text Подробнее об оценках
                                    br
                                    span.el-subcut__link-icon
                                        svg
                                            use(xlink:href="#plus-sign")




                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage