doctype
html(lang="ru")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title Агентство элитной недвижимости Kalinka Group - продажа элитной недвижимости в Москве

        include components/headlinks

    body
        include components/analytics.html
        include components/svg
        include components/header

        .wrap
            .content

                // contacts
                section.content__section.no-margin
                    .whatsapp
                        h1.whatsapp__title
                            |На связи
                            br
                            |в любое время
                        .whatsapp__subtitle для вашего удобства мы запустили #[br] удобный клиентский сервис в

                        .whatsapp__link
                            a(href="#", target="_blank").whatsapp-link
                                span.whatsapp-link__text whatsapp
                                br
                                img(src="img/whatsapp-icon_big.png").whatsapp-link__img

                        .whatsapp__step
                            .whatsapp-step
                                .whatsapp-step__number Шаг №1

                                .whatsapp-step__text
                                    p Скачайте приложение, если оно еще у вас не #[br] установлено через #[a(href="#") Google Play] или #[a(href="#") AppStore].
                                    img(src="images/whatsapp-phone.png")

                        .whatsapp__step
                            .whatsapp-step
                                .whatsapp-step__number Шаг №2

                                .whatsapp-step__text
                                    p Специалисты Kalinka Group — ведущей консалтинговой и риэлторской компании на рынке элитной недвижимости — подсчитали, что около 70% покупателей дорогого жилья интересуются наличием в пешей доступности объектов спортивной инфраструктуры. Самыми частыми запросами являются фитнес-клуб, бассейн и возможность для комфортных занятий спортом на открытом воздухе.



                // feedback
                section.content__section.no-margin
                    include components/feedback


        include components/overlay.html
        include components/endpage