.about-company {
  padding: 7.8vw 0;

  &__intro {
    font-family: "PT Serif";
    font-size: 4.06vw;
    color: $c_d_blue;
    line-height: 1.5;
    padding: 0 9.375vw;
    margin-bottom: 7.8vw;
  }

  &__about-members {
    //
  }

  // media
  @media only screen and (min-width: 769px) {
    padding: 45px 0 0;

    &__intro {
      font-size: 26px;
      text-align: center;
      padding: 0 70px;
      margin-bottom: 40px;
    }
  }
}


.member-company {
  margin: 0 9.375vw;

  &__name {
    font-size: 4.69vw;
    font-weight: 600;
    color: $c_d_blue;
    text-transform: uppercase;
    margin-bottom: 1.56vw;
  }
  &__post {
    font-family: 'PT Serif';
    font-size: 3.75vw;
    font-style: italic;
    color: $c_gold;
    line-height: 1.2
    margin-bottom: 5vw;
  }
  &__photo {
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  &.manager {

    .member-company {
      &__photo {
        text-align: left;
        margin-bottom: 7.8vw;
      }

      &__about {
        font-family: "PT Serif";
        font-size: 4.06vw;
        color: $c_d_blue;
        line-height: 1.5;
      }
    }

    &:not(:last-child) {
      margin-bottom: 7.8vw;
    }
  }

  @media only screen and (min-width: 769px) {
    margin: 0 60px;

    &__photo {
      position: relative;

      img {
        max-width: 450px;
        width: 100%;
      }
    }

    &__name {
      font-size: 30px;
      margin-bottom: 10px;
      text-align: center;
    }
    &__post {
      max-width: 400px;
      font-size: 24px;
      text-align: center;
      margin: 0 auto 40px;
    }

    &.manager {
      .member-company {

        &__photo {
          margin-bottom: 35px;

          .tablet {
            width: calc(100% - 490px);
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: center;
          }
        }

        &__name {
          text-align: left;
        }
        &__post {
          max-width: 100%;
          text-align: left;
          margin: 0;
        }

        &__about {
          font-size: 26px;
        }
      }
    }
  }
}