.ap-complex {
  &__title {
    font-size: 5.62vw;
    font-weight: 600;
    color: $c_gold
    text-align: center;
    text-transform: uppercase;
    margin-top: 6.25vw;
  }

  &__address {
    text-align: center;
    margin-top: 0.78vw;
    margin-bottom: 3.125vw;
  }

  &__bar {
    padding: 4.69vw 6.25vw;
  }

  &__btns {
    margin-top: 6.25vw;
    margin-bottom: 6.25vw;
    clearfix();

    &-item {

      &:first-child {
        width: calc(50% - 5px);
        float: left;
      }
      &:last-child {
        width: calc(50% - 5px);
        float: right;
      }

      .btn {
        width: 100%;
        height: 13.125vw;
        font-size: 3.44vw;
        padding: 4.69vw 0 4.06vw;
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 6.25vw;
    margin-bottom: 4.69vw;
  }
  &__info-img {
    text-align: center;
    margin-bottom: 1.56vw;

    img {
      width: 100%;
      height: 7.03vw;
    }
  }
  &__info-item {
    width: 27.34vw;
    text-align: center;
    margin-bottom: 2.34vw;

    &:after {
      content: '';
      display: inline-block;
      width: 18.75vw;
      height: 1px;
      background-color: alpha($c_d_blue, 20%);
      margin-top: 2.8vw;
    }
  }
  &__info-text {
    font-size: 2.19vw;
    font-weight: 500;
    color: $c_d_blue;
    line-height: 1.2;
    text-transform: uppercase;

    .gold {
      color: $c_gold;
      font-weight: 600;
    }
  }

  &__description {
    padding: 0 9.375vw 6.25vw;

    p {
      font-family: 'PT Serif';
      font-size: 4.06vw;
      color: $c_d_blue;
      line-height: 1.5;
      margin-bottom: 4.69vw;
    }

    .el-metro {
      margin-top: 4.69vw;
    }

    .more-about {
      display: inline-block;
      font-family: 'PT Serif';
      font-size: 3.44vw;
      font-style: italic;
      color: $c_d_blue;
      line-height: 1;
      background-color: #f0edea;
      padding: 1.875vw 3.125vw 2.03vw;
    }
  }

  &__numbers {
    margin-top: 3.91vw;

    &-item {
      font-family: 'PT Serif';
      font-size: 3.44vw;
      font-style: italic;
      color: $c_d_blue;
      margin-bottom: 0.78vw;

      span {
        color: $c_gold;
      }
    }
  }

  &__bid {
    margin-top: 6.25vw;

    &-item {
      .btn {
        width: 100%;
        font-size: 3.44vw;
        padding: 4.69vw 0 4.06vw;
      }
    }
  }

  &__offers {
    margin-top: 7.03vw;
    margin-bottom: 3.91vw;

    &-title {
      font-size: 4.69vw;
      font-weight: 600;
      color: $c_gold;
      text-transform: uppercase;
      padding-left: 9.375vw;
      margin-bottom: 7.03vw;
    }

    &-item {
      margin-bottom: 7.03vw;
    }

    .ui-elect {
      margin-left: 3.91vw;
    }
  }

  @media only screen and (min-width: 769px) {
    &__description {
      padding: 0 60px 40px;

      p {
        font-size: 26px;
        margin-bottom: 30px;
      }

      .el-metro {
        margin-top: 30px;
      }

      .more-about {
        font-size: 22px;
        padding: 12px 20px 11px;
      }
    }

    &__btns {
      margin-top: 40px;
      margin-bottom: 40px;

      &-item {

        .btn {
          height: 84px;
          font-size: 22px;
          padding: 30px 0 26px;
        }
      }
    }

    &__numbers {
      margin-top: 25px;

      &-item {
        font-size: 22px;
        margin-bottom: 5px;
      }
    }
  }
}