.app-complexes {
  //

  &__bar {
    padding: 0 6.25vw;
  }

  &__item {
    margin-top: 7.8vw;
  }

  @media only screen and (min-width: 769px) {

    &__bar {
      padding: 0 60px;
    }
    &__item {
      margin-top: 50px;
    }
  }
}

.complex-preview {

  .btn_more-object {
    width: 100%;
  }

  &__title {
    display: block;
    font-size: 5.62vw;
    font-weight: 600;
    color: $c_gold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.56vw;
  }

  &__address {
    text-align: center;
    margin-bottom: 5.47vw;
  }

  &__info {
    display: flex;
    justify-content: space-around;
    background-color: #f3f2ed;
    text-align: center;
    padding: 1.56vw 0 1.56vw;
  }
  &__info-item {
    display: inline-block;

    span {
      display: inline-block;

      &:first-child {
        font-family: 'PT Serif';
        font-size: 6.25vw;
        color: $c_gold;
        border-bottom: 0.32vw solid $c_gold;
        margin: 0.78vw;
      }

      &:last-child {
        font-size: 3.44vw;
        font-weight: 600;
        color: $c_d_blue;
      }
    }
  }
  &__see-offer {
    .btn {
      display: block;
      font-size: 4.375vw;
      padding: 5.31vw 0 5vw;
    }
  }
  &__more-about {
    .btn {
      display: block;
      font-size: 4.375vw;
      padding: 5.31vw 0 5vw;
    }
  }

  @media only screen and (min-width: 769px) {
    &__title {
      font-size: 36px;
      margin-bottom: 10px;
    }

    &__address {
      margin-bottom: 35px;
    }

    &__info {
      padding: 10px 0;
    }
    &__info-item {

      span {

        &:first-child {
          font-size: 40px;
          border-width: 2px;
          margin: 5px;
        }

        &:last-child {
          font-size: 22px;
        }
      }
    }
    &__see-offer {
      .btn {
        font-size: 28px;
        padding: 34px 0 32px;
      }
    }
    &__more-about {
      .btn {
        font-size: 28px;
        padding: 34px 0 32px;
      }
    }
  }
}