.appartment {
  &__title {
    font-size: 5.62vw;
    font-weight: 600;
    color: $c_d_blue;
    text-align: center;
    margin-top: 5.62vw;
  }
  &__type {
    font-size: 3.44vw;
    font-style: italic;
    text-align: center;
    color: $c_gold;
    margin-bottom: 4.69vw;
  }

  &__links {
    margin: 6.25vw 0;

    &-top {
      display: flex;
      justify-content space-around;

      a {
        font-family: 'PT Serif';
        font-size: 4.06vw;
        font-style: italic;
        color: $c_d_blue;
        border-bottom: 1px dashed $c_d_blue;
      }
    }

    &-bottom {
      text-align: center;
      margin-top: 3.91vw;

      a {
        font-family: 'PT Serif';
        font-size: 4.06vw;
        font-style: italic;
        color: $c_gold;
        border-bottom: 1px solid $c_gold;
      }
    }
  }

  &__share {
    margin: 5.47vw 0 7.03vw;

    .btns__row-3 {
      .btn {
        width: 25%;
        font-size: 2.19vw;
        border: none;
        margin: 0;
        float: left;

        &_call {
          padding-top: 2.66vw;
          padding-bottom: 2.34vw;

          &:before {
            width: 3.28vw;
            height: 3.91vw;
          }
        }
      }
    }
  }

  &__links {
    margin-top: 3.91vw;

    &-item {
      font-family: 'PT Serif';
      font-size: 3.44vw;
      font-style: italic;
      color: $c_d_blue;
      margin-bottom: 1.56vw;

      a {
        display: inline-block;
        color: $c_gold;
        border-bottom: 1px solid $c_gold;
      }
    }
  }

  &__plan {
    margin-bottom: 7.8vw;

    &-title {
      font-size: 4.06vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
      padding-left: 9.375vw;
      margin-bottom: 7.8vw;

      &:before {
        content: '';
        width: 7.8vw;
        height: 7.8vw;
        background-image: url('../img/svg/plan_gold.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        float: left;
        margin-right: 2.34vw;
      }
    }

    .appartment__plan-slider {
      overflow-y: scroll;
    }
    .appartment-slider {
      width: 5000px;
    }

    .appartment-slider__item {
      display: inline-block;
      img {
        max-width: 59.375vw;
      }
    }
  }

  &__offers {
    margin: 6.25vw 0 7.8vw;

    &-title {
      font-size: 3.75vw;
      font-weight: 600;
      color: $c_gold;
      text-align: center;
      text-transform: uppercase;
      line-height 1;
      margin-bottom: 6.25vw;
    }

    &-btns {
      margin-bottom: 4.69vw;

      .btns__row-3 {
        .btn {
          font-size: 2.19vw;

          &:not(.active) {
            color: $c_d_blue;
          }
        }
      }
    }

    .ui-horizontal {
      .ui-elect {
        margin-left: 3.125vw;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    &__title {
      font-size: 36px;
      margin-top: 36px;
    }
    &__type {
      font-size: 22px;
      margin-bottom: 30px;
    }

    &__links {
      margin: 40px 0;

      &-top {

        a {
          font-size: 26px;
        }
      }

      &-bottom {
        margin-top: 25px;

        a {
          font-size: 26px;
        }
      }
    }

    &__share {
      margin: 35px 0 45px;

      .btns__row-3 {
        .btn {
          width: 25%;
          font-size: 14px;

          &_call {
            padding-top: 21px;
            padding-bottom: 11px;

            &:before {
              width: 21px;
              height: 25px;
            }
          }
        }
      }
    }

    &__plan {
      margin-bottom: 50px;

      &-title {
        font-size: 26px;
        padding-left: 60px;
        margin-bottom: 50px;

        &:before {
          width: 50px;
          height: 50px;
          margin-right: 15px;
        }
      }

      .appartment__plan-slider {
        overflow-y: scroll;
      }
      .appartment-slider {
        width: 5000px;
      }

      .appartment-slider__item {
        display: inline-block;
        img {
          max-width: 380px;
        }
      }
    }

    &__links {
      margin-top: 25px;

      &-item {
        font-size: 22px;
        margin-bottom: 10px;
      }
    }

    &__offers {
      margin: 40px 0 50px;

      &-title {
        font-size: 24px;
        margin-bottom: 40px;
      }

      &-btns {
        margin-bottom: 30px;

        .btns__row-3 {
          .btn {
            font-size: 14px;
          }
        }
      }

      .ui-horizontal {
        .ui-elect {
          margin-left: 20px;
        }
      }
    }
  }
}
