.auth {
  min-height: 100vw;
  height: calc(100vh - 12.5vw);
  text-align: center;
  background-image: url('../img/bg/vacancies.jpg');
  background-size: cover;
  background-position: center;
  padding: 9vh 0 0;

  .reg-success {
    font-family: 'PT Serif';
    font-size: 3.44vw;
    font-style: italic;
    font-weight: 500;
    color: white;
    line-height: 1.2;
  }

  &__text {
    font-family: 'PT Serif';
    font-size: 3.44vw;
    font-style: italic;
    font-weight: 500;
    color: white;
    line-height: 1.2;
    margin-bottom: 23.44vh;
  }

  &__switcher {
    margin-bottom: 19vh;

    &-item {
      display: inline-block;

      a {
        display: inline-block;
        font-size: 4.375vw;
        color: white;
        text-transform: uppercase;
      }

      &.active {
        a {
          color: $c_gold;
          line-height: 1;
          border-bottom: 1px solid $c_gold;
        }
      }

      &:first-child {
        margin-right: 14.06vw;
      }
    }
  }

  &__btn {
    margin-top: 19vh;

    .btn {
      width: 50vw;
      font-size: 3.44vw;
      font-weight: normal;
    }
  }

  &__answer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center

    &-text {
      font-family: 'PT Serif';
      font-size: 5.62vw;
      font-style: italic;
      line-height: 1.3;
      text-transform: uppercase;
      color: white;
    }
  }

  @media only screen and (min-width: 769px) {
    min-height: 0;
    height: auto;
    padding: 100px 0;

    &__text {
      font-size: 22px;
      margin-bottom: 100px;
    }

    &__switcher {
      margin-bottom: 100px;

      &-item {

        a {
          font-size: 28px;
        }

        &:first-child {
          margin-right: 90px;
        }
      }
    }

    &__btn {
      margin-top: 100px;

      .btn {
        min-width: 220px;
        width: auto;
        font-size: 22px;
        font-weight: normal;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    &__answer {

      &-text {
        font-size: 42px;
      }
    }
  }
}