.awards {
  padding: 7.8vw 0;

  &__item {
    vertical-align: top;
    margin-right: 5vw;
    padding: 0.78vw;
    border: 1px solid alpha($c_gray, 50%);

    img {
      display: block;
    }

    &:first-child {
      margin-left: 5vw;
    }
  }

  @media only screen and (min-width: 769px) {
    padding: 50px 0;

    &__item {
      margin-right: 30px;
      padding: 5px;

      &:first-child {
        margin-left: 30px;
      }
    }
  }
}