.contacts-block {
  padding: 7.8vw 0;

  &__item {
    padding: 0 8.954vw;

    &:not(:last-child) {
      margin-bottom: 7.03vw;
    }
  }

  &__title {
    font-size: 4.06vw;
    font-weight: 500;
    color: $c_d_blue;
    text-transform: uppercase;
    margin-bottom: 2.34vw;
  }

  &__phone {
    font-size: 3.44vw;
    font-weight: 600;
    color: $c_gold;
    text-transform: uppercase;
    margin-bottom: 2.34vw;
  }

  &__address {
    font-size: 4.06vw;
    color: $c_gold;
    margin-bottom: 2.34vw;
  }

  &__email {
    display: inline-block;
    font-size: 3.44vw;
    font-weight: 600;
    color: $c_gold;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 1px solid alpha($c_gold, 50%);
  }

  @media only screen and (min-width:769px) {
    padding: 45px 0;

    &__item {
      padding: 0;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    &__title, &__phone, &__email {
      font-size: 26px;
      font-weight: 600;
    }
    &__title, &__phone {
      margin-bottom: 15px;
    }
  }
}


.callback-block {
  background-color: $c_d_blue;
  padding: 7.8vw 0;

  .popup__answer {
    font-size: 3.125vw;
    color: white;
    text-align: center;
    padding: 0 7.8vw;
  }

  &__title {
    font-size: 5.62vw;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6.25vw;

    &.small {
      font-size: 4.69vw;
      text-transform: none;
    }
  }

  &__form {
    padding: 0 9.375vw;
  }

  &__btn {
    text-align: center;
    margin-top: 10.94vw;

    .btn {
      width: 51.56vw;
      font-size: 3.44vw;
      color: white;
    }
  }

  &__wa {
    text-align: center;
    margin-top: 6.25vw;
  }

  @media only screen and (min-width:769px) {
    padding: 50px 0;

    &__title {
      font-size: 36px;
      margin-bottom: 55px;
    }

    &__form {
      width: 520px;
      padding: 0;
      margin: 0 auto;
    }

    &__btn {
      margin-top: 70px;

      .btn {
        width: 330px;
        font-size: 22px;
      }
    }
  }
}