.developers {

  &__text {
    padding: 7.8vw 9.375vw;
  }

  @media only screen and (min-width: 769px) {
    &__text {
      padding: 40px 60px;
      text-align: center;

      .el-subcut__content {
        text-align: center;
      }
    }
  }
}