.dream {
  //

  &__item {
    position: relative;
    margin-top: 5.47vw;

    @media only screen and (min-width: 769px) {
      margin-top: 35px;
    }
  }

  &__title {
    position: relative;

    &-image {
      img {
        min-width: 100%;
        display: block;
      }
    }
    &-text {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 9.375vw;
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__form-checkbox {
    border-bottom: 1px solid #9c9c9c;
    padding: 3.125vw 9.375vw 7.8vw;

    .gray-text {
      font-size: 2.5vw;
      font-weight: 600;
      color: #9c9c9c;
      text-transform: uppercase;
      margin-bottom: 4.69vw;
    }

    .gold-text {
      font-family: 'PT Serif';
      font-size: 5vw;
      font-style: italic;
      color: $c_gold;
      margin-bottom: 4.69vw;
    }
  }

  &__form-footage {
    background-color: #f3f2f1;
    border-bottom: 1px solid #9c9c9c;
    padding: 4.69vw 9.375vw;
  }

  &__form-price {
    background-color: #f3f2f1;
    padding: 4.69vw 9.375vw;
  }

  &__form-inputs {
    background-color: $c_d_blue;
    padding: 8.594vw;
  }

  @media only screen and (min-width: 769px) {
    &__btns {
      max-width: 780px;
      margin: 0 auto;
    }

    &__title {
      &-text {
        font-size: 60px;
      }
    }

    &__form-checkbox {
      padding: 25px 45px 40px;

      .gray-text {
        font-size: 16px;
        margin-bottom: 30px;
        text-align: center;
      }

      .gold-text {
        font-size: 32px;
        margin-bottom: 30px;
        text-align: center;
      }

      .checkboxes {
        .form__row {
          display: inline-block;
          vertical-align: top;

          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
    }

    &__form-footage {
      padding: 30px 0;

      .footage-form {
        width: 650px;
        margin: 0 auto;
      }
    }

    &__form-price {
      padding: 30px 0;

      .price-form {
        width: 650px;
        margin: 0 auto;
      }
    }

    &__form-inputs {
      padding: 40px 0;

      .form {
        max-width: 520px;
        margin: 0 auto;
      }
    }
  }
}


.dream-item {
  position: relative;

  &__image {
    img {
      width: 100%;
      display: block;
    }
  }
  &__title {
    width: 100%;
    font-size: 9.375vw;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 3.91vw;

    @media only screen and (min-width: 769px) {
      font-size: 60px;
      top: 30px;
    }
  }
  &__btn {
    width: 100%;
    text-align: center;
    position: absolute
    bottom: 3.91vw;

    .btn {
      width: 320px;
    }

    @media only screen and (min-width: 769px) {
      bottom: 35px;
    }
  }
}