.filter-ext {
  //

  &__btns {
    margin-bottom: 5.47vw;
  }

  &__ranges {
    &-item {
      padding: 0 9.375vw;

      &:nth-child(odd) {
        background-color: #f7f6f6;
      }
    }
  }

  &__submit {

    .btn {
      width: 100%;
      font-size: 3.75vw;
    }
  }
}