.foreign-estate {
  padding: 0 0 7.8vw;

  &__filter-btns {
    clearfix();
    margin-bottom: 4.69vw;
  }
  &__filter-btn {
    width: 33.33%;
    font-size: 2.5vw;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-color: $c_d_blue;
    padding: 4.06vw 0 3.75vw;
    float: left;
    position: relative;

    svg {
      width: 3.44vw;
      height: 1.875vw;
      fill: $c_gold;
      margin-left: 1.56vw;
    }

    &:first-child {
      border-right: 1px solid #5c6469;
    }
    &:last-child {
      border-left: 1px solid #5c6469;
    }
  }


  &__bar {
    padding: 0 9.375vw;
  }

  &__result {
    margin-top: 4.69vw;
  }

  @media only screen and (min-width: 769px) {
    padding: 0 0 50px;

    &__filter-btns {
      margin-bottom: 35px;
    }
    &__filter-btn {
      font-size: 16px;
      padding: 28px 0 26px;

      svg {
        width: 22px;
        height: 12px;
        margin-left: 10px;
      }
    }
    &__bar {
      padding: 0 60px;
    }
    &__result {
      margin-top: 35px;
    }
  }
}
