.highway {
  &__title {
    font-size: 5.62vw;
    font-weight: 600;
    color: $c_d_blue;
    text-align: center;
    margin-top: 5.62vw;
  }
  &__type {
    font-size: 3.44vw;
    font-style: italic;
    text-align: center;
    color: $c_gray;
    margin-bottom: 4.69vw;
  }

  &__numbers {
    background-color: #f3f2ee;
    padding: 2.34vw 9.375vw;
    margin-bottom: 7.8vw;

    &-item {
      margin-bottom: 1.56vw;

      .text {
        display: inline-block
        font-size: 3.44vw;
        font-weight: 600;
        color: $c_d_blue;
      }
      .number {
        display: inline-block
        font-family: 'PT Serif';
        font-size: 6.25vw;
        color: $c_gold;
        border-bottom: 0.32vw solid $c_gold;
        line-height: 1;
        margin-left: 1.56vw;
      }
    }
  }

  &__slider {
    //
  }

  &__map {
    display: none;
  }

  &__description {
    padding: 7.8vw 9.375vw;

    &-item {

      &:not(:last-child) {
        margin-bottom: 7.8vw;
      }
    }
    &-text {
      max-height: 150px;
      overflow: hidden;

      p:not(:last-child) {
        margin-bottom: 0.78vw;
      }
    }

    &-title {
      font-size: 4.69vw;
      color: $c_gold;
      text-transform: uppercase;
      margin-bottom: 1.56vw;
    }

    p {
      font-size: 2.8vw;
      color: $c_d_blue;
      line-height: 1.4;
    }

    .more-about {
      display: inline-block;
      font-size: 2.8vw;
      color: $c_gold;
      border-bottom: 1px solid alpha($c_gold, 40%);
      margin-top: 1.56vw;
    }
  }

  &__object {
    .btn {
      width: 100%;
      font-size: 3.75vw;
      padding: 6.25vw 0;
    }
  }

  @media only screen and (min-width: 769px) {
    &__title {
      font-size: 50px;
      margin-top: 36px;
    }
    &__type {
      font-size: 22px;
      margin-bottom: 30px;
    }

    &__description {
      padding: 50px 9.375vw;

      &-item {

        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
      &-text {
        max-height: 150px;

        p:not(:last-child) {
          margin-bottom: 10px;
        }
      }
      &-title {
        font-size: 26px;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        line-height: 1.3;
      }
      .more-about {
        font-size: 18px;
        margin-top: 10px;
      }
    }

    &__object {
      .btn {
        font-size: 24px;
        padding: 40px 0 36px;
      }
    }
  }
}