.history {

  &__content {
    padding: 10.94vw 8.594vw 0;
  }

  &__event {
    clearfix();

    &.full-point {
      .history__event-about {
        &:before {
          content: '';
          width: 2.5vw;
          height: 2.5vw;
          background-color: $c_gold;
          border: 0.47vw solid $c_gold;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: -1.72vw;
        }
      }
    }
  }
  &__event-year {
    width: 17.19vw;
    float: left;

    span {
      display: inline-block
      font-size: 4.69vw;
      font-weight: 600;
      color: $c_d_blue;
      line-height: 1.1;
      margin-top: -0.78vw;
    }
  }
  &__event-about {
    width: 64.85vw;
    border-left: 0.32vw solid $c_gold;
    padding-left: 6.25vw;
    float: right;
    position: relative;
    padding-bottom: 7.03vw;

    .ui-text {
      margin-top: -0.78vw;
    }

    &:before {
      content: '';
      width: 2.5vw;
      height: 2.5vw;
      background-color: #fff;
      border: 0.47vw solid $c_gold;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: -1.72vw;
    }
  }

  @media only screen and (min-width: 769px) {

    &__content {
      padding: 75px 60px 0;
    }

    &__event-year {
      width: 100px;

      span {
        font-size: 30px;
        margin-top: -5px;
      }
    }

    &__event {

      &.full-point {
        .history__event-about {
          &:before {
            width: 14px;
            height: 14px;
            border-width: 3px;
            left: -11px;
          }
        }
      }
    }

    &__event-about {
      width: calc(100% - 100px);
      border-width: 2px;
      padding-left: 35px;
      padding-bottom: 50px;

      .ui-text {
        margin-top: -5px;
      }

      &:before {
        width: 14px;
        height: 14px;
        border-width: 3px;
        left: -11px;
      }
    }
  }
}