.realty-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.56vw;
  position: relative;

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__item {
    width: 31.25vw;
    height: 29.69vw;
    text-align: center;
    background-color: $c_l_gray;
    padding: 1.56vw;
    margin-bottom: 1.56vw
    position: relative;
  }

  &__img {
    margin-bottom: 0.78vw;

    svg {
      width: 17.19vw;
      height: 17.19vw;
      fill: $c_d_blue;
    }
  }

  &__text {
    font-size: 2.8vw;
    font-weight: 500;
    color: $c_d_blue;
    line-height: 1.3;
    text-transform: uppercase;
  }

  // media
  @media only screen and (min-width: 769px) {
    padding: 0 60px;

    &__item {
      width: 32%;
      height: auto;
    }

    &__img {
      //

      img {
        width: 150px;
      }
    }

    &__text {
      font-size: 22px;
    }
  }
}


.home-search {
  // css

  &__btns {
    margin-bottom: 5.47vw;

    // media
    @media only screen and (min-width: 769px) {
      max-width: 780px;
      margin: 0 auto 35px;
    }
  }

  &__select {
    position: relative;
    clearfix();

    // media
    @media only screen and (min-width: 769px) {
      max-width: 780px;
      margin: 0 auto;
    }

    .btn-selector {
      width: 50%;
      height: 11.72vw;
      vertical-align: middle;
      font-size: 3.44vw;
      font-weight: 600;
      color: $c_d_blue;
      text-align: center;
      text-transform: uppercase;
      border: 0.32vw solid $c_gold;
      padding: 4.06vw 0 3.44vw;
      float: left;
      position: relative;

      .el-droplist__link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }

      &_gold {
        background-color: $c_gold;
        color: white;
      }
      &.full {
        width: 100%;
      }

      &:after {
        content: '';
        display: inline-block;
        width: 4.84vw;
        height: 3.125vw;
        background-image: url('../img/chevron-down.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 4.69vw;
        position: relative;
        top: 0.625vw;
      }

      // media
      @media only screen and (min-width: 769px) {
        font-size: 22px;
        height: 92px;
        padding: 28px 0 26px;
        border-width: 3px;

        &:after {
          width: 32px;
          height: 20px;
          margin-left: 15px;
          top: 3px;
        }
      }
    }
  }
  &__submit {
    width: 50%;
    height: 11.72vw;
    vertical-align: middle;
    font-size: 3.28vw;
    font-weight: 600;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: 0.32vw solid $c_gold;
    background-color: $c_gold;
    padding: 4.06vw 0 3.44vw;
    float: right;

    .svg {
      display: inline-block;
      vertical-align: middle;

      &__search-loop {
        display: inline-block;
        width: 3.91vw;
        height: 3.91vw;
        fill: $c_d_blue;
        margin-left: 2.34vw;
      }
    }

    // media
    @media only screen and (min-width: 769px) {
      font-size: 22px;
      height: 92px;
      padding: 30px 0 25px;

      .svg__search-loop {
        width: 26px;
        height: 26px;
        margin-left: 15px;
      }
    }
  }

  &__input {
    position: relative;

    &:after {
      content: '';
      width: 3.91vw;
      height: 3.91vw;
      background-image: url('../img/loading.png');
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      right: 30px;
      top: calc(50% - 1.875vw);
      animation: loader 1s linear infinite;
      opacity: 0;
      transition: 0.2s ease-in;

      @keyframes loader {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      // media
      @media only screen and (min-width: 769px) {
        width: 25px;
        height: 25px;
        top: calc(50% - 12px);
      }
    }

    &.loading {
      &:after {
        opacity: 1;
      }
    }

    input {
      display: block;
      width: 100%;
      font-size: 3.44vw;
      text-align: center;
      padding: 4.375vw 0 4.06vw;
    }

    &-results {
      display: none;
      width: 100%;
      max-height: 54.67vw;
      background-color: white;
      box-shadow: 0 1px 15px alpha($c_d_blue, 10%);
      overflow-y: scroll;
      position: absolute;
      top: 100%;
      z-index: 40;

      .el-live-result {
        &:not(:last-child) {
          border-bottom: 1px solid alpha($c_d_blue, 20%);
        }
      }
    }

    // media
    @media only screen and (min-width: 769px) {
      max-width: 780px;
      margin: 0 auto;

      input {
        font-size: 22px;
        padding: 30px 0;
      }

      &-results {
        max-height: 350px;
      }
    }
  }

  &__more {
    clearfix();

    .btn {
      display: inline-flex;
      align-content: center;
      align-items: center;
      width: calc(50% - 1px);
      height: 11.72vw;
      line-height: 1.2;
      text-align: center;
      padding-left: 4.375vw;
      padding-right: 4.375vw;

      &:after {
        flex-shrink: 0;
        flex-grow: 0;
      }

      &.more-parameters {
        float: left;

        &:after {
          content: '';
          display: inline-block;
          width: 4.06vw;
          height: 4.06vw;
          background-image: url('../img/outline-star.png');
          background-size: 100%;
          background-repeat: no-repeat;
          margin-left: 3.125vw;
        }
      }

      &.select-object {
        float: right;

        &:after {
          content: '';
          display: inline-block;
          width: 4.06vw;
          height: 4.06vw;
          background-image: url('../img/outline-check.png');
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }
    }

    .home-search__submit {
      height: 11.72vw;
    }

    // media
    @media only screen and (min-width: 769px) {
      max-width: 780px;
      margin: 0 auto;

      .btn {
        height: 75px;
        padding-left: 60px;
        padding-right: 50px;


        &.more-parameters:after {
          width: 25px;
          height: 25px;
          margin-left: 20px;
        }

        &.select-object:after {
          width: 25px;
          height: 25px;
          margin-left: 20px;
        }
      }

      .home-search__submit {
        height: 75px;
        padding-top: 26px;
      }
    }
  }
}