.i-want {

  &__title {
    font-family:'PT Serif';
    font-size: 34px;
    color: $c_gold;
    font-style: italic;
    padding: 35px 0 20px 50px;
  }

  &__btns {
    .foreign-estate__filter-btns {
      margin-bottom: 5px;
    }
    .foreign-estate__filter-btn {
      width: 50%;
    }
  }
}