.investments {
  padding-bottom: 7.8vw;

  &__switcher {
    margin-bottom: 7.8vw;

    .btns__row-3 {
      clearfix();

      .btn {
        float: left;
      }
    }
  }

  &__tabs {
    padding: 0 4.69vw;
  }

  @media only screen and (min-width: 769px) {
    padding-bottom: 50px;

    &__switcher {
      margin: 0 0 50px;

      .btns__row-3 {
        .btn {
          width: 33.333%;
          border: 2px solid white;
          margin-left: 0;
        }
      }
    }

    &__tabs {
      padding: 0 70px;
    }
  }
}