.lk {
  //

  &__title {
    background-color: $c_d_blue;
    padding: 2.8vw 9.375vw 2.19vw;
    clearfix();

    &-icon {
      float: left;
      margin-right: 2.34vw;

      svg {
        width: 7.8vw;
        height: 7.8vw;
        fill: $c_gold;
      }
    }

    &-text {
      font-size: 4.06vw;
      font-weight: 600;
      color: white;
      line-height: 1.1;
      text-transform: uppercase;
      float: left;
    }

    &-number {
      font-family: 'PT Serif';
      font-size: 7.5vw;
      font-style: italic;
      color: white;
      float: right;
    }

    // modificators
    &.light {
      background-color: transparent;

      .lk__title {
        &-text {
          color: #b3b3b3;
        }
      }
    }
  }

  &__elect {
    margin-top: 6.25vw;
    margin-bottom: 7.8vw;

    .ui-elect {
      margin-right: 3.91vw;

      &:first-child {
        margin-left: 3.91vw;
      }
    }
  }

  &__dealings {
    padding: 0 0 7.8vw;
  }

  &__subscribes {
    padding: 7.8vw 0 7.8vw 9.375vw;
  }

  // media
  @media only screen and (min-width: 769px) {
    &__title {
      padding: 16px 60px 14px;

      &-icon {
        margin-right: 15px;

        svg {
          width: 50px;
          height: 50px;
        }
      }

      &-text {
        font-size: 26px;
      }
      &-number {
        font-size: 48px;
      }
    }

    &__elect {
      margin-top: 40px;
      margin-bottom: 50px;
    }

    &__dealings {
      padding: 0 0 50px;
    }

    &__subscribes {
      padding: 75px 60px;
    }
  }
}