.map {
	width: 100%;
	position: absolute;
	top: -150%;
	transition: 0.5s ease-out;
	overflow: hidden;
	z-index: 100;

	&.opened {
		top: 12.5vw;
	}

	@media only screen and (min-width: 769px) {
		&.opened {
			top: 80px;
		}
	}

	&__switchers {
		height: 0;
		position: relative;
		z-index: 50;
	}
	&__switcher {
		display: inline-block;
		padding: 1.875vw 0 0 1.875vw;
		width: 7.8vw;
		height: 7.8vw;
		background-color: $c_gold;
		margin-top: 4.69vw;
		margin-right: 2.34vw;

		&:first-child {
			margin-left: 9.375vw;
		}

		svg {
			width: 3.91vw;
			height: 3.91vw;
			fill: $c_d_blue;
		}

		// mods
		&.active {
			background-color: $c_d_blue;

			svg {
				fill: white;
			}
		}
	}

	&__buttons {
		height: 0;
		position: relative;
		z-index: 50;
		text-align: right;
	}
	&__button {
		display: inline-block;
		font-size: 3.44vw;
		font-weight: 600;
		color: white;
		text-transform: uppercase;
		background-color: $c_gold;
		min-width: 28.125vw;
		padding: 2.5vw 2.34vw 2.19vw;
		text-align: center;
		margin-top: 4.69vw;
		margin-right: 9.375vw;
	}

	&__tabs {
		height: calc(100vh - 12.5vw);
		z-index: 25;
		position: relative;
	}

	&__tab {
		width: 100%;
		height: 100%;
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;

		&.active {
			z-index: 40;
		}

		&_metro {
			display: flex;
			align-items: center;
			align-content: center;

			img {
				max-width: 100%;
			}
		}
	}


	&__regions {
		background-color: $c_d_blue;
		padding: 5.47vw 7.8vw;
		position: absolute;
		top: 0;
		right: -70%;
		z-index: 500;
		transition 0.3s ease-out;

		&-title {
			font-size: 4.69vw;
			font-weight: 600;
			color: white;
			text-align: center;
			margin-bottom: 5.47vw;
		}
		&-list {

		}
		&-close {
			position: absolute;
			top: 4.69vw;
			right: 3.125vw;

			svg {
				width: 4.69vw;
				height: 4.69vw;
				fill: white;
			}
		}

		&.opened {
			right: 0;
		}
	}



	@media only screen and (min-width: 769px) {
		&__switcher {
			padding: 12px 0 0 12px;
			width: 50px;
			height: 50px;
			margin-top: 30px;
			margin-right: 15px;

			&:first-child {
				margin-left: 60px;
			}

			svg {
				width: 25px;
				height: 25px;
			}
		}

		&__button {
			font-size: 22px;
			min-width: 180px;
			padding: 16px 15px 14px;
			margin-top: 30px;
			margin-right: 60px;
		}

		&__tabs {
			height: calc(100vh - 80px);
		}

		&__regions {
			padding: 35px 50px;

			&-title {
				font-size: 30px;
				margin-bottom: 35px;
			}
			&-close {
				top: 30px;
				right: 30px;

				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}