.news-company {
  padding: 7.8vw 0;

  &__items {
    padding: 0 9.375vw;
  }

  &__item {
    //

    &:not(:last-child) {
      &:after {
        content: '';
        display: block;
        width: 25vw;
        height: 0.47vw;
        background-color: $c_gray;
        margin: 7.8vw 0;
      }
    }
  }

  &__pagination {
    border-top: 1px solid #c4c4c4;
    padding: 6.25vw 0;
    margin-top: 7.8vw;
  }

  &__archive {
    text-align: center;
    border-top: 1px solid #c4c4c4;
    padding-top: 7.8vw;

    .btn {
      width: 46.95vw
      font-size: 3.44vw;
    }
  }

  @media only screen and (min-width: 769px) {
    padding: 50px 0;

    &__items {
      padding: 0 60px;
    }

    &__item:not(:last-child):after {
      width: 160px;
      height: 3px;
      margin: 50px 0;
    }

    &__pagination {
      max-width: 640px;
      padding: 40px 0;
      margin: 50px auto 0;
    }

    &__archive {
      max-width: 640px;
      padding-top: 50px;
      margin: 0 auto;

      .btn {
        width: 300px;
        font-size: 22px;
      }
    }
  }
}




.news-item {
  &__date {
    font-family: 'PT Serif';
    font-size: 3.44vw;
    font-style: italic;
    color: #a8a8a8;
    margin-bottom: 3.125vw;
  }

  &__read {
    // css

    .btn {
      width: 46.95vw
      font-size: 3.44vw;
      color: $c_d_blue;
    }
  }

  @media only screen and (min-width: 769px) {

    &__date {
      font-size: 22px;
      margin-bottom: 20px;
    }

    &__read .btn {
      width: 300px;
      font-size: 22px;
    }
  }
}



.pagination {
  text-align: center;

  &__item {
    display: inline-block;
    font-family: 'PT Serif';
    font-size: 4.82vw;
    font-style: italic;
    color: $c_gray;

    &.active {
      font-style: normal;
      font-weight: 600;
      color: $c_gold;
    }

    &:not(:last-child) {
      margin-right: 4.69vw;
    }
  }

  @media only screen and (min-width: 769px) {

    &__item {
      font-size: 30px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}