.page404 {
	//

	&__wrap {
		display: flex;
		height: calc(100vh - 12.5vw);
		justify-content: center;
		align-items: center
	}

	&__title {
		font-family: 'PT Serif';
		font-size: 9.375vw;
		color: $c_gold;
		line-height: 1.2;
		text-transform: uppercase;
		text-align: center;
		font-style: italic;
	}

	@media only screen and (min-width: 769px) {
		height: calc(100vh - 80px);

		&__title {
			font-size: 72px;
		}
	}
}