.region {
  &__title {
    font-size: 5.62vw;
    font-weight: 600;
    color: $c_d_blue;
    text-align: center;
    margin-top: 5.62vw;
  }
  &__type {
    font-size: 3.44vw;
    font-style: italic;
    text-align: center;
    color: $c_gray;
    margin-bottom: 4.69vw;
  }

  &__numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f3f2ee;
    padding: 2.34vw 7vw;
    margin-bottom: 7.8vw;

    &-item {
      margin-bottom: 1.56vw;

      .text {
        display: inline-block
        font-size: 3.44vw;
        font-weight: 600;
        color: $c_d_blue;
      }
      .number {
        display: inline-block
        font-family: 'PT Serif';
        font-size: 6.25vw;
        color: $c_gold;
        border-bottom: 0.32vw solid $c_gold;
        line-height: 1;
        margin-left: 1.56vw;
      }
    }
  }

  &__slider {
    //
  }

  &__adv {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #bbc2d3, #eeeeee);
    padding: 3.25vw 0;

    &-img {
      display: flex;
      width: 100%;
      height: 30vw;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;

      img {
        max-width: 100%;
      }
    }

    &-item {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      align-content: flex-end;
      text-align: center;

      span {
        display: block;
        text-align: center;
        height: 50px;
        margin-top: 10px;
      }
    }


    @media only screen and (max-width: 640px) {
      &-item {
        span {
          font-size: 12px;
        }
      }
    }
  }

  &__map {
    height: 320px;

    #region-gmap {
      height: 100%;
      width: 100%;
    }
  }

  &__description {
    padding: 7.8vw 9.375vw;

    &-title {
      font-size: 4.69vw;
      color: $c_gold;
      text-transform: uppercase;
      margin-bottom: 1.56vw;
    }

    p {
      font-size: 2.8vw;
      color: $c_d_blue;
      line-height: 1.4;
    }

    .more-about {
      display: inline-block;
      font-size: 2.8vw;
      color: $c_gold;
      border-bottom: 1px solid alpha($c_gold, 40%);
      margin-top: 1.56vw;
    }
  }

  &__object {
    .btn {
      width: 100%;
      font-size: 3.75vw;
      padding: 6.25vw 0;
    }
  }

  @media only screen and (min-width: 769px) {
    &__title {
      font-size: 50px;
      margin-top: 36px;
    }

    &__type {
      font-size: 22px;
      margin-bottom: 30px;
    }

    &__numbers {
      padding: 15px 9.375vw;
      margin-bottom: 50px;

      &-item {
        margin-bottom: 10px;

        .text {
          font-size: 22px;
        }
        .number {
          font-size: 40px;
          border-width 2px;
          margin-left: 10px;
        }
      }
    }
  }
}