.services {

  &__text {
    font-family: 'PT Serif';
    font-size: 5vw;
    padding: 3.4vw;
    color: $c_d_blue;
    line-height: 1.3;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    width: calc( (100vw - 1.695vw*4)/3 );
    height: calc( (100vw - 1.695vw*4)/3 );
    border: 1px solid $c_d_blue;
    margin-bottom: 1.695vw;
    display: flex;
    justify-content: center
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-img {
      width: 70%;
      display: inline-block;
      padding-bottom: 1.56vw;
      margin-bottom: 1.56vw;
      border-bottom: 0.32vw solid $c_gold;

      img {
        width: 10.94vw;
        height: 10.94vw;
        object-fit: contain;
      }
    }

    &-title {
      text-align: center;

      span {
        display: inline-block;
        font-size: 2.19vw;
        text-transform: uppercase;
        color: $c_d_blue;
      }
    }
  }
}