.sitemap {
  padding: 0 4.69vw 7.8vw;

  ul {
    li {
      display: block;
      font-size: 3vw;
      color: #051627;
      line-height: 1.5;

      a {
        font-size: 3vw;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &__item {
    display: block;
    font-size: 3.75vw;
    color: #1875d0;
    line-height: 1.5;

    &.disabled {
      color: slategray;
    }
  }
}