.vacancies {
  background-image: url('../img/bg/vacancies.jpg');
  background-size: cover;
  background-position: center;
  padding: 11.72vw 0 17.19vw;

  &__text {
    font-family: 'PT Serif';
    font-size: 4.06vw;
    color: white;
    line-height: 1.5;
    text-align: center;
    padding: 0 12.5vw;
    margin-bottom: 23.44vw;
  }

  &__btn {
    display: none;
    text-align: center;
    margin-bottom: 23.44vw;

    .btn {
      font-size: 4.69vw;
      font-weight: 600;
      padding-left: 4.69vw;
      padding-right: 4.69vw;
    }
  }

  &__questionary {
    text-align: center;

    &-text {
      font-family: "PT Serif";
      font-size: 3.75vw;
      font-style: italic;
      color: white;
      margin-bottom: 4.69vw;
    }
    &-email {
      font-family: "PT Serif";
      font-size: 4.69vw;
      color: $c_gold;
      border-bottom: 0.32vw solid $c_gold;
    }
  }

  // media
  @media only screen and (min-width: 760px) {
    padding: 190px 0;

    &__text {
      font-size: 26px;
      margin-bottom: 160px;
    }

    &__btn {
      margin-bottom: 160px;

      .btn {
        font-size: 24px;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    &__questionary {

      &-text {
        font-size: 24px;
        margin-bottom: 25px;
      }
      &-email {
        font-size: 30px;
        border-width: 2px;
      }
    }
  }
}