.whatsapp {
  background-color: #c9c1b5;
  padding: 7.8vw 0 9.375vw;

  &__title {
    font-size: 7.8vw;
    color: $c_d_blue;
    text-align: center;
    margin-bottom: 5.47vw;
  }

  &__subtitle {
    font-size: 3.91vw;
    font-weight: 600;
    color: white;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
  }

  &__link {
    text-align: center;
  }

  &__step {

    &:not(:last-child) {
      margin-bottom: 7.03vw;
    }
  }

  // media
  @media only screen and (min-width: 769px) {
    padding: 30px 0 100px;

    &__title {
      font-size: 50px;
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: 25px;
    }
  }
}


.whatsapp-link {
  display: inline-block;
  margin-top: 1.56vw;
  margin-bottom: 3.91vw;

  &__text {
    display: inline-block;
    font-size: 3.91vw;
    font-weight: 600;
    color: #2cb741;
    text-transform: uppercase;
    border-bottom: 1px solid alpha(#2cb741, 50%);
    margin-bottom: 3.125vw;
  }

  // media
  @media only screen and (min-width: 769px) {
    margin-top: 10px;
    margin-bottom: 25px;

    &__text {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
}


.whatsapp-step {
  //

  &__number {
    font-size: 3.75vw;
    font-weight: 600;
    color: $c_d_blue;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5.47vw;
  }

  &__text {
    font-family: 'PT Serif';
    font-size: 3.75vw;
    color: $c_d_blue;
    line-height: 1.4;

    p {
      padding: 0 9.375vw;
    }

    a {
      display: inline-block;
      font-weight: 500;
      color: white;
      line-height: 1;
      border-bottom: 1px solid white;
    }

    img {
      display: block;
      text-align: center;
      max-width: 100%;
      margin-top: 1.56vw;
    }
  }

  // media
  @media only screen and (min-width: 769px) {
    //

    &__number {
      font-size: 24px;
      margin-bottom: 35px;
    }

    &__text {
      font-size: 24px;
      text-align: center;

      p {
        padding: 0 80px;
      }
    }
  }
}