//script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
script(src="js/jquery.min.js")
script(src="js/jquery.history.js")

script(src="libs/owl.carousel/js/owl.carousel.min.js")

script(src="js/app.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPuj1b_U5sfOIjpnGFWcVi5JdgOB_DEl8&callback=initMap" async defer)

// front-end by DenisBookreev