.feedback-block
    .feedback-block__title
        span Обратная связь
    .feedback-block__subtitle Будьте в курсе новых предложений

    form.feedback-block__form
        input(type="email", placeholder="Электронная почта").feedback-block__input
        input(type="submit", value="Подписаться").feedback-block__submit

    .feedback-block__contacts
        .contacts
            .contacts__item
                .contacts__pointmap
                .contacts__info
                    .contacts__address Москва, Молочный пер.,1
                    .contacts__timework С 9:30 до 21:30
                    a(href="tel:84957252581").contacts__phone 8 (495) 725 25 81
                    br
                    a.contacts__onmap На карте

            .contacts__item
                .contacts__pointmap
                .contacts__info
                    .contacts__address Московская обл., д. Жукова, Рублево-Успенское ш., стр.1
                    .contacts__timework С 10:00 до 19:00
                    a(href="tel:84951044491").contacts__phone +7 (495) 104 44 91
                    br
                    a.contacts__onmap На карте

            .contacts__email
                a(href="mailto:kalinka@kalinka-realty.ru") kalinka@kalinka-realty.ru

    .feedback-block__bottom
        .socials
            .socials__item
                i.svg
                    svg.svg__socials-fb
                        use(xlink:href="#socials-fb")

            .socials__item
                i.svg
                    svg.svg__socials-inst
                        use(xlink:href="#socials-inst")


        .btn.btn_upper#upper наверх