include share.html

//link(href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&amp;subset=cyrillic", rel="stylesheet")
link(rel="stylesheet", href="./libs/owl.carousel/css/owl.carousel.css")
link(rel="stylesheet", href="./libs/owl.carousel/css/owl.theme.default.css")
link(rel="stylesheet", href="./css/app.min.css")

include favicon.html