header.header
    .header__inner

        a(href="/").header__logo
            .logotype
                i.svg
                    svg.svg__logo
                        use(xlink:href="#logo")

        a.header__open-menu#open-menu
            .hamb
                span
                span
                span

        a.header__discount
            span.header__discount-text discount
            span.header__discount-percent %

        a.header__call
            span.header__call-text позвонить нам

    .header__menu
        .header__menu-close#close-menu
            svg
                use(xlink:href="#x-letter")

        ul.header__menu-list
            li.header__menu-item
                a(href="#") о компании

            li.header__menu-item
                a(href="#") новости

            li.header__menu-item.has-list услуги
                ul.header__menu-sublist
                    li.header__menu-subitem #[a(href="#") услуги компании]
                    li.header__menu-subitem #[a(href="#") агентские и консалтинг]
                    li.header__menu-subitem #[a(href="#") инвестиции]
                    li.header__menu-subitem #[a(href="#") услуги застройщикам]
                    li.header__menu-subitem #[a(href="#") продавцам]
                    li.header__menu-subitem #[a(href="#") покупателям]

            li.header__menu-item
                a(href="#") недвижимость

            li.header__menu-item
                a(href="#") рекомендуем