<!-- OVERLAY -->
<div id="overlay" class="overlay">

    <!-- filter -->
    <div class="popup popup_filter">

        <!-- close popup link -->
        <div id="close-popup" class="popup__close">
            <svg>
                <use xlink:href="#x-letter"></use>
            </svg>
        </div>
        <!-- close popup link -->
        <!-- wrap -->
        <div class="popup__wrap">
            <!-- /form -->
            <form data-form="range-filter" class="filter-ext__form">
                <div class="filter-ext__ranges">
                    <!-- row -->
                    <div class="filter-ext__ranges-item">
                        <div class="el-range">
                            <div class="el-range__title">площадь, м²</div>
                            <div class="el-range__squares el-range_single">
                                <span class="el-range__gold-line"></span>
                                <div data-range="5000" class="el-range__squares-item active">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value">>20</span>
                                </div>
                                <div data-range="100" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value">100</span>
                                </div>
                                <div data-range="200" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value">200</span>
                                </div>
                                <div data-range="300" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value">300</span>
                                </div>
                                <div data-range="400" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value">400</span>
                                </div>
                                <div data-range="5000" class="el-range__squares-item">
                                    <span class="el-range__square"></span><span class="el-range__value">500+</span>
                                </div>
                                <input type="hidden" name="search_params[area][from]" value="20">
                                <input type="hidden" name="search_params[area][to]" class="max">
                            </div>
                        </div>
                    </div>
                    <!-- row -->

                    <!-- row -->
                    <div class="filter-ext__ranges-item">
                        <div class="el-range">
                            <div class="el-range__title">цена, млн. руб.</div>
                            <div class="el-range__squares el-range_single">
                                <span class="el-range__gold-line"></span>
                                <div data-range="300000000" class="el-range__squares-item active">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value">>15</span>
                                </div>
                                <div data-range="50000000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><50</span>
                                </div>
                                <div data-range="100000000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><100</span>
                                </div>
                                <div data-range="200000000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><200</span>
                                </div>
                                <div data-range="300000000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><300</span>
                                </div>
                                <input type="hidden" name="search_params[cost][from]" value="15000000">
                                <input type="hidden" name="search_params[cost][to]" class="max">
                            </div>
                        </div>
                    </div>
                    <!-- row -->

                    <!-- row -->
                    <div class="filter-ext__ranges-item">
                        <div class="el-range">
                            <div class="el-range__title">ЦЕНА за метр, тыс. РУБ.</div>
                            <div class="el-range__squares el-range_single">
                                <span class="el-range__gold-line"></span>
                                <div data-range="1000000" class="el-range__squares-item active">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value">>200</span>
                                </div>
                                <div data-range="300000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><300</span>
                                </div>
                                <div data-range="400000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><400</span>
                                </div>
                                <div data-range="500000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><500</span>
                                </div>
                                <div data-range="1000000" class="el-range__squares-item">
                                    <span class="el-range__square"></span>
                                    <span class="el-range__value"><1 млн.</span>
                                </div>
                                <input type="hidden" name="search_params[square_meter_cost][from]" value="200000">
                                <input type="hidden" name="search_params[square_meter_cost][to]" class="max">
                            </div>
                        </div>
                    </div>
                    <!-- row -->


                </div>
            </form>
            <!-- /form -->
        </div>
        <!-- wrap -->
    </div>
    <!-- filter -->


    <!-- feedback -->
    <div class="popup popup_feedback">

        <!-- close popup link -->
        <div id="close-popup" class="popup__close">
            <svg>
                <use xlink:href="#x-letter"></use>
            </svg>
        </div>
        <!-- close popup link -->

        <div class="popup__wrap">
            <div class="callback-block">
                <div class="callback-block__title">Мы с Вами свяжемся</div>
                <form data-form="feedback" action="/form/contact/contact_form/submit/" class="callback-block__form">

                    {% include 'VideInfraKalinkaSiteBundle:Form:feedback-form.html.twig' %}

                    <div class="callback-block__btn"><button class="btn btn_outline strong">свяжитесь со мной</button></div>
                </form>

                <div class="popup__answer">

                </div>
            </div>
        </div>
    </div>
    <!-- feedback -->


    <!-- my price -->
    <div class="popup popup_my-price">

        <!-- close popup link -->
        <div id="close-popup" class="popup__close">
            <svg>
                <use xlink:href="#x-letter"></use>
            </svg>
        </div>
        <!-- close popup link -->

        <div class="popup__wrap">
            <div class="callback-block">
                <div class="callback-block__title">Предложить свою цену</div>
                <form data-form="my-price" action="/form/contact/price_offer_form/submit/" class="callback-block__form">

                    <div class="form form_luxury">
                        <div class="form__row">
                            <input name="price_offer_form[name]" type="text" placeholder="представьтесь" class="form__input">
                            <label class="form__label">Имя</label>
                        </div>
                        <div class="form__row">
                            <input name="price_offer_form[phone]" type="tel" placeholder="+7 (___) ___-__-__" class="form__input">
                            <label class="form__label">Телефон</label>
                        </div>
                        <div class="form__row">
                            <input name="price_offer_form[email]" type="email" placeholder="@" class="form__input">
                            <label class="form__label">Электронная почта</label>
                        </div>
                        <div class="form__row">
                            <input name="price_offer_form[price]" type="number" placeholder="₽" class="form__input">
                            <label class="form__label">Предлагаемая цена</label>
                        </div>
                        <input type="hidden" id="price_offer_form_submissionUri" name="price_offer_form[submissionUri]"
                               value="{{app.request.uri}}">
                        <input type="hidden" id="price_offer_form__token" name="price_offer_form[_token]" value="{{ csrf_token('price_offer_form') }}">
                    </div>

                    <div class="callback-block__btn"><button class="btn btn_outline strong">Предложить цену</button></div>

                </form>

                <div class="popup__answer"></div>
            </div>
        </div>
    </div>
    <!-- my price -->


    <!-- hypothec -->
    <div class="popup popup_hypothec">

        <!-- close popup link -->
        <div id="close-popup" class="popup__close">
            <svg>
                <use xlink:href="#x-letter"></use>
            </svg>
        </div>
        <!-- close popup link -->

        <div class="popup__wrap">
            <div class="callback-block">
                <div class="callback-block__title">Рассчитать ипотеку</div>
                <form data-form="hypothec" action="/form/contact/mortgage_form/submit/" class="callback-block__form">

                    <div class="form form_luxury">
                        <div class="form__row">
                            <input name="mortgage_form[name]" type="text" placeholder="представьтесь" class="form__input">
                            <label class="form__label">Имя</label>
                        </div>
                        <div class="form__row">
                            <input name="mortgage_form[phone]" type="tel" placeholder="+7 (___) ___-__-__" class="form__input">
                            <label class="form__label">Телефон</label>
                        </div>
                        <div class="form__row">
                            <input name="mortgage_form[email]" type="email" placeholder="@" class="form__input">
                            <label class="form__label">Электронная почта</label>
                        </div>
                        <input type="hidden" id="mortgage_form__token" name="mortgage_form[_token]" value="{{ csrf_token('mortgage_form') }}">
                        <input type="hidden" id="mortgage_form_submissionUri" name="mortgage_form[submissionUri]"
                               value="{% if app.request.url is defined %}{{ app.request.url }}{% else %}{{ app.request.getBaseURL() }}{% endif %}">
                    </div>

                    <div class="callback-block__btn"><button class="btn btn_outline strong">Послать запрос</button></div>

                </form>

                <div class="popup__answer"></div>
            </div>
        </div>
    </div>
    <!-- hypothec -->


</div>
<!-- OVERLAY -->
