<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" style="position: fixed; bottom: 0; right: 0; width: 0; height: 0">


    <symbol id="map-map" viewBox="0 0 22 22">
        <path d="M21.5,0.3 C21.2999992,0.2 21.1000004,0.2 21,0.2 L14.3999996,3 L7.8000002,0.3 C7.6999998,0.2 7.5,0.2 7.4000006,0.3 L0.6,3.0999999 C0.4,3.1999998 0.2,3.4000001 0.2,3.5999999 L0.2,21.0999999 C0.2,21.3000007 0.3,21.4999995 0.5,21.5999999 C0.6,21.7000003 0.7,21.7000003 0.8,21.7000003 L1,21.7000003 L7.6000004,19 L14.2000008,21.7000008 C14.3000012,21.8000012 14.500001,21.8000012 14.6000004,21.7000008 L21.4000015,18.9000016 C21.6000023,18.8000012 21.7000007,18.6000024 21.7000007,18.4000016 L21.7000007,0.8 C21.7999992,0.6 21.7000008,0.4 21.5,0.3 Z M7,18 L1.3000002,20.3999996 L1.3000002,4 L7,1.7 L7,18 Z M13.8000002,20.2999992 L8.1999998,18 L8.1999998,1.7 L13.8000002,4 L13.8000002,20.2999992 Z M20.6000004,18 L15,20.2999992 L15,4 L20.7000008,1.5999999 L20.7000008,18 L20.6000004,18 Z"></path>
    </symbol>

    <symbol id="map-metro" viewBox="0 0 20 20">
        <path d="M17.303,1 C18.2399321,1.00165277 18.9988992,1.76106711 19,2.698 L19,17.303 C18.9983472,18.2399321 18.2389329,18.9988992 17.302,19 L2.698,19 C1.76067737,18.9988979 1.00110209,18.2393226 1,17.302 L1,2.698 C1.00110209,1.76067737 1.76067737,1.00110209 2.698,1 L17.303,1 L17.303,1 Z M17.303,-2.22044605e-16 L2.698,-2.22044605e-16 C1.20839286,0.00110300463 0.00110300463,1.20839286 -2.99760217e-16,2.698 L-2.99760217e-16,17.302 C0.00110300463,18.7916071 1.20839286,19.998897 2.698,20 L17.302,20 C18.7912171,19.9988978 19.9983457,18.7922166 20,17.303 L20,2.698 C19.9988978,1.20878289 18.7922166,0.00165427824 17.303,-2.99760217e-16 L17.303,-2.22044605e-16 Z"></path>
        <path d="M13.44,7.89 L12.86,5.735 C12.777302,5.43115512 12.5013979,5.2203078 12.1865,5.2203078 C11.8716021,5.2203078 11.595698,5.43115512 11.513,5.735 L10,11.39 L8.484,5.733 C8.402023,5.42874257 8.12610762,5.21732843 7.811,5.21732843 C7.49589238,5.21732843 7.219977,5.42874257 7.138,5.733 L5.088,13.388 L4.75,13.388 C4.37559708,13.4021892 4.07939602,13.7098283 4.07939602,14.0845 C4.07939602,14.4591717 4.37559708,14.7668108 4.75,14.781 L6.296,14.781 C6.63612395,14.7811258 6.92636959,14.535074 6.98192363,14.1995177 C7.03747768,13.8639613 6.84201668,13.5374969 6.52,13.428 L7.81,8.61 L9.326,14.266 C9.40872547,14.5705767 9.68553906,14.7817466 10.0011496,14.7810442 C10.3167601,14.7803418 10.592631,14.5679419 10.674,14.263 L12.22,8.5 C12.4240389,8.76044377 12.7832235,8.84125387 13.0791463,8.6932925 C13.375069,8.54533114 13.5259317,8.20949738 13.44,7.89 M15.247,13.387 L14.909,13.387 L14.297,11.163 C14.1948273,10.7918646 13.8111354,10.5738273 13.44,10.676 C13.0688646,10.7781727 12.8508273,11.1618646 12.953,11.533 L13.471,13.413 C13.1302823,13.5006983 12.9085902,13.8288712 12.9544212,14.1776965 C13.0002523,14.5265217 13.2991922,14.7862905 13.651,14.783 L15.248,14.783 C15.4973714,14.7824641 15.7275142,14.6489309 15.8517358,14.432701 C15.9759574,14.2164711 15.9753856,13.950395 15.8502358,13.734701 C15.725086,13.5190069 15.4943714,13.3864641 15.245,13.387"></path>
    </symbol>

    <symbol id="map-pm" viewBox="0 0 14 19">
        <path d="M7,18 C6.59237318,18.0005653 6.21523848,17.784189 6.01,17.432 L0.82,8.644 C0.77,8.566 0.7,8.445 0.634,8.322 C-0.622813136,5.98137854 0.0436249007,3.07212019 2.194,1.512 C2.347,1.402 2.487,1.307 2.634,1.218 C5.32122799,-0.406670994 8.68826025,-0.405130019 11.374,1.222 C11.514,1.308 11.654,1.402 11.792,1.499 C13.1778793,2.49914747 13.9992369,4.10391963 14,5.813 L12.5,5.815 C12.4975369,4.58654172 11.9062596,3.43373683 10.91,2.715 C10.81,2.645 10.7,2.568 10.584,2.498 C8.38201487,1.16353165 5.62110169,1.16237581 3.418,2.495 C3.298,2.568 3.188,2.643 3.073,2.725 C1.52911139,3.8427027 1.05039092,5.93026589 1.953,7.609 C2.003,7.699 2.051,7.782 2.096,7.852 L7,16.157 L11.88,7.891 L13.17,8.656 L7.986,17.44 C7.77903703,17.7874348 7.4044064,18.0002067 7,18 L7,18 Z M7.302,16.668 L7.305,16.674 L7.302,16.668 Z"></path>
    </symbol>

    <symbol id="x-letter" viewBox="0 0 461 461">
        <path d="M285.08,230.397 L456.218,59.27 C462.294,53.193 462.294,43.359 456.218,37.284 L423.511,4.565 C420.598,1.654 416.645,0.015 412.519,0.015 C408.392,0.015 404.439,1.654 401.526,4.565 L230.388,175.705 L59.25,4.565 C56.337,1.654 52.384,0.015 48.257,0.015 C44.131,0.015 40.177,1.654 37.265,4.565 L4.558,37.284 C-1.519,43.359 -1.519,53.193 4.558,59.27 L175.696,230.398 L4.575,401.505 C-1.499,407.582 -1.499,417.416 4.575,423.491 L37.284,456.21 C40.195,459.121 44.149,460.76 48.276,460.76 C52.403,460.76 56.356,459.121 59.27,456.21 L230.387,285.09 L401.505,456.21 C404.418,459.121 408.371,460.76 412.498,460.76 C416.626,460.76 420.579,459.121 423.49,456.21 L456.199,423.491 C462.273,417.416 462.273,407.582 456.199,401.505 L285.08,230.397 L285.08,230.397 Z"></path>
    </symbol>
    <symbol id="logo" viewBox="0 0 185 215">
        <path d="M49.652 132.135l.363-.363c-.093-1.535-2.53.176-2.02-1.655.634-.27 1.443.176 2.02.538.418-.808.902-1.804 2.018-1.655.81-1.748-.456-2.92-1.842-3.673 1.536-1.684 4.605-1.293 5.693-3.674.307-3.097 3.125-5.18 4.427-7.886 5.384-5.72 10.658-11.346 15.596-17.428 2.37-2.596 5.17-5.572 8.993-4.577.324.037.63.112.93.205l.557-2.38c-.772-.17-1.516-.373-2.24-.596-4.335-2.772-4-9.03-3.098-13.392.845-.996 1.422-2.567.9-3.674-4.426 3.85-4.12 10.295-6.23 15.41-2.828 2.465-2.734 6.985-5.692 9.542v-.54c.512-1.534.763-3.31-.93-4.222l-.54.55c-.027 3.403-3.645 5.328-2.556 9.178-2.465.698-2.074 4.037-4.604 4.222-.55-4.37 4.213-7.17 4.027-11.383 1.506-4.697 4.733-8.64 6.082-13.4.39-1.982 2.167-3.666 2.018-5.684 2.26-1.87 2.223-5.004 4.212-7.17.568-1.015 1.34-1.675 2.205-2.15 2.595-1.413 6.1-1.21 8.063-4.26 1.982-.752 3.646-2.706 4.604-4.398.148 2.083-.243 3.915-.39 5.868-.215 1.628.212 3.348 1.468 4.036.763-2.1.093-4.752.55-6.984 1.32-3.73 1.654-8.035 4.063-11.197.512 2.622 1.6 4.994 2.744 7.347.288.455.595.92.93 1.35.577.705 1.256 1.282 2.195 1.42.483-.63-.15-1.72-.187-2.593-3.367-1.805-1.916-6.26-2.576-9.543.353-.865 1.014-2.102-.363-2.744-.307-2.492-.967-4.808-2.018-6.984-1.544-1.74.177-3.33 1.293-4.577 2.798 4.558 6.38 8.76 8.964 13.402 1.21 4.212 3.943 7.793 3.134 12.852-.874-2.315-2.52-4.278-4.213-6.26.363 4.214 3.31 7.953 5.692 11.385.986-.82.362-2.325.54-3.47-.122-.66-.233-1.32-.345-1.98-.79-4.613-1.506-9.245-3.33-13.466-3.943-5.17-5.245-11.95-10.443-16.127l-.578.176-.716-4.4c1.767.457 2.558 2.93 4.576 3.107l8.816 11.56c2.38 5.683 2.288 12.406 2.195 19.084l.55.753c1.44-1.2.956-3.552 1.83-5.143-.158-7.487-1.943-14.545-5.867-20.692-1.284-2.018-2.81-3.944-4.576-5.738-2.046-3.59-6.957-5.878-6.984-9.914l2.194 1.478c4.185 3.945 7.468 8.91 9.728 13.942.986.716.967 2.744 2.41 2.38 2.11 3.842 3.226 8.11 3.728 12.63.15 1.274.242 2.576.298 3.897 2.083 2.194-.12 5.114.372 7.523 2.288 3.487 1.023 8.667 1.107 12.852-.177.512-.69.903-1.293.726.995-2.38-.093-5.003-1.655-6.593-2.223 1.87.78 6.23-2.558 7.347-.186-2.41 1.265-5.245-.577-7.17-1.07.316-1.45 1.06-1.58 1.962.01.447-.03.912-.057 1.367.02.614.056 1.237.02 1.795-.075-.567-.056-1.18-.02-1.795-.01-.465-.01-.93.056-1.367-.01-.874-.177-1.702-.8-2.316-3.274.893.455 7.282-4.39 6.408-.39-3.218-.512-6.594-2.018-9.365-1.656-1.507-2.223-4.12-4.4-4.753-.5.39-.808.866-.93 1.442 1.2 2.344 3.61 4.576 3.674 6.984-.604-.39-1.6-2.25-2.38-.93.427 2.41 3.106 4.12 1.84 6.985-.994-.176-2.082-1.17-2.947-.548-.727 1.18 1.17 1.395 1.468 2.204h-.176c-.52.446-1.386.595-1.293 1.48.296.268.566.594.93.715 3.217-.213 5.69-2.194 9.15-1.83.93 3.254 1.293 6.74 1.116 10.47l-1.116 1.088-.25-.418-.402.246.4-.246-3.784-6.175c-.297-.94-.056-2.083-.902-2.772-.874 1.117-1.442 2.586-.93 4.037-.883.604-2.14.27-2.743 1.47-.383.696-1.63 1.72-.364 2.39 1.33-.55 2.66-2.15 4.036-1.638-1.72.605-3.283 2.716-5.143 1.842-1.33-2.325-2.93-4.492-3.32-7.17-.475-1.293.427-3.646-1.443-3.85-.325-1.963.698-3.795-.176-5.506-2.715 1.766-.724 5.803-3.133 7.886.51 1.656 1.05 3.46 2.37 4.576.457-.186.252-.66.55-.912 1.125 2.474 1.655 5.394 1.655 8.073-2.883 1.545-6.35 1.33-9.504.596l-.558 2.38c2.074.69 3.478 2.754 4.185 4.734.883 3.31-1.312 5.385-2.372 7.877-.78 1.18-2.158 2.12-2.38 3.497 4.938 4.548 12.07 8.882 12.824 16.164 1.21-.242 1.99-3.57 3.497-1.293.66.418.837 1.088.753 1.842l-.39.362-1.265-1.48c-.66.995.362 2.15.54 3.31.092 1.173-.363 2.707 1.115 3.136 1.358-.363 2.25-.187 3.46.353.335.427.148 1.03.39 1.477-.567.326-1.348.12-2.018.187l-1.117-1.293c-.446.744-.632 1.59-.54 2.558 2.29 1.795 5.6.596 7.887-.363 1.302-2.055-.725-4.063-1.655-5.868-3.906-2.595-4.697-7.924-9.18-10.267-1.264-2.353-2.957-4.492-3.86-6.984l.187-1.48c5.087-5.746 9.877-11.624 8.64-19.985.446-.66 1.088-1.59 2.018-1.477.344.25.65.54.912.846 1.878 2.147 1.97 5.42 2.76 8.155.14.78.225 1.553.29 2.297l1.73-.102c.232-.39.176-1.228.902-1.107.316.14.548.316.716.503.892 1.04-.168 2.67.037 3.738-1.87.158-.846-2.204-1.655-3.134l-1.73.102c.205 2.26.307 4.37 1.73 6.305.688 1.423-.78 4.074 1.292 4.613 1.87 2.585 5.357 3.925 8.426 3.283.028-2.77-1.264-5.478-2.77-7.896-2.038-1.97-1.86-4.864-3.638-6.947-.11-.232-.222-.465-.316-.697l-.397.182.396-.183c-2.083-4.762-2.01-10.388-1.916-16.015.484-1.292 1.953-.632 2.772-.54 5.812 5.088 4.994 12.92 9.188 18.703 1.646 3.227 3.227 6.826 3.283 10.565l1.265-.037c0-.25.056-.51.204-.78.856.743 2.12 1.998 2.753 3.28l1.702-.696c-2.064-5.096-3.525-10.453-4.1-16.19-.66-3.46-2.168-6.585-3.665-9.72l-3.107-12.1c1.386-2.985 2.772-6.453 1.48-9.913-1.99-4.837-1.777-10.594-5.153-14.872-.028-.102-.047-.195-.065-.288l-1.8.2 1.8-.2c-.158-1.032.623-1.702 1.143-2.446 1.368-.4 1.182-1.302 1.303-2.408.846-1.572 4.938-1.18 2.957-3.674-.242-.688.446-1.237 0-1.804-.94.93-2.018 1.442-3.32 1.442-.298-1.442.474-2.92.725-4.39-.595-.065-.81.837-1.44.716-.28-.39-.243-.902-.578-1.265l-1.265 1.266c-.065-.716-.688-1.44-.213-2.195l.938-.724.716.725c1.032-1.478 2.985-3.16 2.232-5.328l.363-.902c-.634-.39-1.303.242-1.833.54-.67-1.088-.307-2.14-.186-3.284.484-.418.782-.9.903-1.47-.596-.222-1.358.392-2.195.178-.12-1.414 2.26-2.864 1.293-4.213l-.576.54c-.837-.874.763-1.655.94-2.557-.484-.78-1.024.428-1.656.363-.456-1.117.176-2.68-.55-3.674-.864.456-.9 1.776-2.017 1.656-.436-.996-.566-2.074-1.282-2.948-.037-1.023-.67-1.777-1.303-2.558-.567 2.046.512 5.6-.9 7.7l-.54-1.655-.754 1.48c-.092-1.778-.455-3.433-1.078-4.967-.642.362-.307 1.264-.94 1.47-1.087-1.833 1.36-3.284 1.842-4.78.326-.215.42-.513.353-.904l-.353-.362c-1.302.177-2.437 1.832-3.674 1.08.056-.755.03-1.5-.54-2.02l-.547.39-2.586-3.124c-1.423.568.66 1.86-.54 2.735-1.06-1.135-1.543-2.855-3.133-3.488-.093 1.748-1.814.54-2.558.39-.55-.576-1.023-1.2-1.665-.39-1.998-.726-3.393-2.92-5.504-3.47-.056 2.328 2.808 3.443 3.506 5.695-.763.428-1.367-.633-2.028-.93-2.985-2.41-6.742-4.548-10.657-3.097v.177c2.167 1.06 5.115.66 6.62 2.92-2.073.084-4.25-2.14-6.23 0l.363 1.116c-1.172.335-2.316.66-3.134 1.832 2.018 1.897 6.445-.902 7.886 2.38-.958.177-1.795-1.115-2.92-1.115l-.753 2.408-1.833-.567c-.307.716.55 1.414.576 2.195-1.144.605-1.72-.874-2.204-1.627.12-.66-.243-1.116-.39-1.655-1.592.78-.755 2.437-.718 3.85-.158 1.116 1.2 2.316.177 3.106-2.26.326-4.67-4.064-6.055-.902.418.605 1.05.66 1.48 1.293l-.93.54c.26.938 2.407 1.06 1.468 2.38l1.832.754c-.232.36-1.107.808-1.107 1.44.568.697 1.6.242 2.41.363 0 1.115-1.303 2.14-1.656 3.31-.837 4.362-5.18 7.254-6.63 11.384-.3 2.315 1.96 3.552 2.026 5.69.902 1.564 2.883.93 3.664 2.382 1.628-.792 3.107 1.348 4.427-.55 1.06-.995 1.534-2.26 2.017-3.497 1.535-1.627 3.134-3.097 4.938-4.026 3.73 3.04 5.683-5.125 8.454-.726 1.748 3.098 2.93 7.562 1.087 11.022-4.296 4.455-5.868 10.025-10.806 13.755-2.426 1.413-4.956 2.566-7.374 4.008l.11.188-.11-.19c-1.125.662-2.232 1.387-3.283 2.224-1.925.25-2.948-1.684-4.036-2.948-.995-1.75-.595-4.065-1.47-5.87-.362.242-.157 1.172-.725 1.293-.418-.874.037-2.074-.39-2.92-.484-.214-.363.326-.54.54.056.278-.25.362-.362.548l-.55-.185c-.594.67-.324 1.72-.93 2.372-1.227-2.158-1.227-4.846-2.557-6.947l-.93.54c-1.302-1.47-2.65-3.405-1.84-5.33.51-1.767.725-3.636-.178-5.33-.81 1.48-1.33 3.107-1.627 4.79h-.754c-1.924-1.32-3.31-3.97-5.682-4.212.567 1.925 3.488 2.92 3.488 5.115-1.116.995.902 2.046.716 3.31 0 .214.065.428-.177.54-.903.093-1.48-1.748-2.382-.54l.55 1.842c-2.41.446-2.717-2.688-4.037-4.036l-.176 1.83c-1.897-1.98-4.185-1.348-6.417-2.584-.632.455.418.66.354 1.106 2.78 2.38 6.24 3.804 7.72 7.357-2.112 0-2.65-2.866-4.4-3.86-1.47 3.7 3.944 5.244 3.674 8.425-.428-.595-1.05-.66-1.478-1.256-.298 1.562 1.208 2.826 1.478 4.39-.697.362-1.45-.597-2.232 0 1.33.817 2.558 1.84 3.134 3.31-.967.455-1.72-.745-2.558-1.117-.064 1.088.782 2.205.726 3.498l2.195 2.205c-2.29.297-4.13-1.637-6.055-2.744l-.186.178 4.044 4.036-2.744.363c0 3.878 5.478 1.71 7.887 2.557 5.422-.297 9.42-4.092 14.87-4.39.512 2.912-2.5 4.81-3.496 7.338-.994 4.604-2.194 9.133-3.82 13.485-1.164 3.135-2.55 6.176-4.242 9.096-.242 5.905-4.576 10.146-7.737 14.843-3.366 2.288-4.305 6.37-7.71 8.816.066 1.45-1.59 2.706-.715 4.036 1.384 1.75 3.914 1.293 5.867 1.117zm28.45-46.63l.36.743c.485 2.688-2.714 4.706-4.212 5.7 1.293-2.175 2.95-4.128 3.85-6.444zm14.117 17.642c-1.024 1.682 2.082 3.878-1.09 4.928-1.32 1.153-.176 2.38 0 3.683-.957-1.544-3.58-2.27-3.487-4.4.363-1.6 1.6-.185 2.372-1.115 1.153-1.72 2.26-3.44 2.594-5.505-.177-.335-.335-1.06-.93-.902.148-.4-.028-1.06.54-1.117l1.84 2.762-1.84 1.665zm8.276-4.976c-1.32.168.51-4.25.316-6.62l.595-.177h.54c.297 2.585-.568 4.696-1.45 6.798zm14.843 8.64h.39c1.143 1.302 3.068 1.963 3.673 3.47-1.293.604-2.465-.215-3.488-.726-.456-.81-.697-1.925-.576-2.744zm8.1-20.2c1.17 2.03 3.552 3.86 3.282 6.594 1.804 2.196-1.87 3.22-.363 5.516-2.642-1.777-1.75-5.394-2.196-8.25-.307-1.395-1.544-2.38-2.027-3.673l1.302-.186zm-7.888-61.473l-.753 1.656c-.122.278-.606.278-.726 0 .297-.624.79-1.348 1.478-1.656zM110.4 19.27c.79 1.023.642 2.77 1.656 3.86.94-.726 1.022-2.26 2.203-2.38 1.143.175.11 1.803.176 2.733-1.116.52-2.492.902-3.673.725V21.11c.056-.688-.865-1.21-.363-1.84zm-1.832 0l.716 2.018h-.354c.03-.335-.362-.512-.54-.753-.25-.3-.427-1.053.178-1.265zm-2.77-5.143l1.83 1.116-1.078 2.557c-.028-1.33-1.172-2.176-.753-3.673zm-11.924-3.135l.186-1.618 1.832 1.83c.763.597 1.265-.752 1.293-1.114l1.116.725c.27-.307.726-.577.54-1.088l.726.363c.334-.214.297-.512.567-.716l1.088 1.255c.364-.057.726-.66 1.117-.178v.363c1.953.474.874 3.07.902 4.427-.15-.577-1.6-.753-1.833-1.84-1.358 1.45-1.897-1.267-3.106-1.294-.966.418.308 1.264-.39 1.655l-2.018-1.47-2.204.717c-2.037-1.48-4.213-3.59-5.143-5.868 2.316.456 3.497 3.34 5.33 3.85zm-6.417 2.232c1.544 1.05 1.423 3.515 2.018 4.752l-1.47.363c.456-1.75-1.088-3.34-.548-5.116zm.186 5.87c.753 1.18 2.743.715 3.31 1.078-1.385.78-2.25 2.734-3.85 2.957.624-1.09-.576-2.056-1.292-2.772.596-.457.987-1.387 1.833-1.265zm-7.635-1.332c.855-.158 2.213-.567 2.492.577-.158-.066-.242.092-.372.176l-.716-.903-.363.363c.66.94-1.2 1.265-1.293 1.116l.902-.753c-.234-.14-.383-.522-.652-.578zm-6.482 18.006c.362-.55 1.59-.55 1.832 0h-1.832zM93.52 30.83c-1.627 1.478-2.985 3.552-5.338 3.32.698-3.376-3.19-3.414-4.93-4.79l-.4.363c.578.81 1.322 1.525 1.657 2.37-1.898.54-3.823-1.32-4.93.755 1.172 1.534 3.34 1.423 4.213 2.92-1.842-.177-3.404.186-4.79 1.116.27 1.683-1.683 2.585-2.743 3.497-.15-1.06.25-2.38.362-2.78l.577.753c1.775-1.32-1.36-3.757 1.264-4.966.056-.363-.028-.688-.363-.902l-2.194 1.665v-1.48l5.683-9.54c.185.51.268 2.045 1.477 1.655v.54c-1.06.743-.995 1.96-1.478 2.92.938.845 1.775-.633 2.556-1.266l.55 1.088c1.505.24 1.952-1.842 3.124-1.45 2.055-2.26 3.283-5.153 5.16-7.162l1.257 1.293c2.53 3.122-.754 6.59-.716 10.08zm4.78-12.128c-1.534-.185-3.003-1.032-4.063-2.018 1.125-.214 1.87.42 2.948.177.78.243 1.357.94 1.116 1.842zM71.51 66.412c-.698.092-1.088-.876-1.293-1.443.66.065 1.293.78 1.293 1.44zm-6.622-3.675c.12.577.726 1.33.363 1.665-.67-.79-1.713-1.423-2.02-2.38l1.656.715zM60.134 73.22c-.39-1.118-1.777-1.666-2.77-1.666 1.533-.112 3.663-.65 4.778.735-.687.324-1.227.9-2.008.93zm2.734-7.172c-.242-.716-1.05-1.627-.726-2.194l6.055 3.31c1.832.428 4.334.577 5.505 1.265-4.175 1.682-7.095-2.828-10.834-2.382zm-8.603 51.932c.595.995-1.21.995-.577 2.223-.604 1.627-2.14 1.962-3.497 2.027 1.36-1.423 2.447-3.107 4.075-4.25z"></path>
        <path d="M132.785 112.11c.204.44.344.875.372 1.294-1.35.242-1.414-1.534-2.772-1.293.103-.9-.558-1.645-.558-2.5l-1.264.037c.018.818-.038 1.637-.187 2.464.66 1.6.744 4.038 2.772 4.428-.242.66-.698 1.265-.763 2.018.54 2.558 5.46.084 3.497 3.097-.958.242-1.72-1.2-2.558-.176l.177.93c2.745.93 5.544 4.482 8.613 1.832.214-3.61-2.167-6.65-4.213-9.543-.502-1.08-.976-2.177-1.414-3.283l-1.7.697z"></path>
    </symbol>
    <symbol id="socials-fb" viewBox="7.589 0 16.82 31">
        <path d="M23.42 9.675h-4.18V6.822h3.844c.547 0 .99-.443.99-.99V.992c0-.55-.443-.992-.99-.992H18.25c-.042 0-.08.003-.12.007-3.157.064-5.706 2.652-5.706 5.825v3.843H8.58c-.548 0-.99.443-.99.99v4.84c0 .548.442.992.99.992h3.844V30.01c0 .55.443.99.99.99h4.835c.546 0 .99-.44.99-.99v-5.57c0-.55-.444-.99-.99-.99-.55 0-.992.44-.992.99v4.58h-2.853V15.508c0-.548-.443-.99-.99-.99l-3.845-.002v-2.86h3.844c.548 0 .99-.442.99-.99V5.833c0-2.12 1.725-3.845 3.845-3.845.036 0 .072-.002.107-.006h3.735v2.86h-3.845c-.548 0-.99.443-.99.99v4.835c0 .547.442.99.99.99h4.182v2.863l-4.183-.002c-.264 0-.516.104-.7.29-.187.186-.29.438-.29.7v3.44c0 .547.442.99.99.99.547 0 .99-.443.99-.99V16.5H23.42c.26 0 .515-.103.7-.288.186-.187.29-.438.29-.7v-4.846c0-.548-.442-.99-.99-.99"></path>
    </symbol>
    <symbol id="socials-inst" viewBox="0 0 29 28">
        <path d="M27.86 18.502c.596 0 1.08.482 1.08 1.078v2.988c0 2.98-2.427 5.406-5.408 5.406H6.37c-2.98 0-5.406-2.425-5.406-5.406V5.406C.964 2.426 3.39 0 6.37 0h17.162c2.98 0 5.407 2.425 5.407 5.406v8.58c0 .596-.484 1.08-1.08 1.08-.596 0-1.078-.484-1.078-1.08v-2.763H21.6c.335.858.525 1.788.525 2.763 0 4.2-3.416 7.616-7.615 7.616-4.2 0-7.616-3.416-7.616-7.616 0-.975.192-1.905.527-2.763h-4.3v11.345c0 1.792 1.458 3.25 3.25 3.25h17.162c1.793 0 3.25-1.458 3.25-3.25V19.58c0-.596.482-1.078 1.078-1.078zm-13.35.943c3.01 0 5.46-2.45 5.46-5.46s-2.45-5.458-5.46-5.458-5.46 2.45-5.46 5.46 2.45 5.458 5.46 5.458zM8.707 9.067c1.398-1.647 3.48-2.696 5.803-2.696 2.324 0 4.405 1.05 5.803 2.697h6.47v-3.66c0-1.794-1.458-3.25-3.25-3.25H6.37c-1.792 0-3.25 1.456-3.25 3.25v3.66h5.587zM24.855 7.45h-3.168V4.28h3.168V7.45z"></path>
    </symbol>
    <symbol id="search-loop" viewBox="0 0 119 118">
        <path d="M115.97,101.597 L88.661,74.286 C93.301,66.899 95.994,58.168 95.994,48.798 C95.994,22.289 74.504,0.802 47.996,0.802 C21.488,0.802 0,22.289 0,48.798 C0,75.308 21.487,96.793 47.996,96.793 C58.193,96.793 67.638,93.605 75.41,88.188 L102.394,115.174 C104.269,117.047 106.727,117.98 109.182,117.98 C111.64,117.98 114.095,117.047 115.973,115.174 C119.72,111.423 119.72,105.347 115.97,101.597 L115.97,101.597 Z M47.996,81.243 C30.079,81.243 15.553,66.718 15.553,48.8 C15.553,30.882 30.079,16.356 47.996,16.356 C65.914,16.356 80.439,30.882 80.439,48.8 C80.439,66.718 65.914,81.243 47.996,81.243 L47.996,81.243 Z"></path>
    </symbol>
    <symbol id="chevron-down" viewBox="0 0 31 20">
        <path d="M29.994,5.183 L15.363,19.812 L0.733,5.184 C-0.244,4.206 -0.244,2.623 0.733,1.648 C1.71,0.671 3.292,0.672 4.269,1.648 L15.364,12.741 L26.461,1.647 C27.438,0.671 29.02,0.671 29.996,1.647 C30.971,2.624 30.971,4.206 29.994,5.183 L29.994,5.183 Z"></path>
    </symbol>
    <symbol id="pointmap" viewBox="0 0 342 512">
        <path d="M170.987,102.374 C133.346,102.374 102.72,133 102.72,170.641 C102.72,208.282 133.346,238.908 170.987,238.908 C208.628,238.908 239.254,208.282 239.254,170.641 C239.254,133.001 208.628,102.374 170.987,102.374 L170.987,102.374 Z"></path>
        <path d="M170.987,0 C76.882,0 0.321,76.553 0.321,170.641 C0.321,216.542 14.324,244.565 33.712,283.349 C36.724,289.374 39.882,295.68 43.15,302.387 C90.903,400.452 163.205,507.17 163.931,508.237 C165.518,510.575 168.164,511.975 170.988,511.975 C173.812,511.975 176.458,510.576 178.045,508.237 C178.77,507.17 251.073,400.452 298.826,302.387 C302.094,295.68 305.252,289.374 308.264,283.349 C327.652,244.565 341.655,216.542 341.655,170.641 C341.654,76.553 265.093,0 170.987,0 L170.987,0 Z M170.987,255.974 C123.934,255.974 85.654,217.693 85.654,170.641 C85.654,123.589 123.935,85.308 170.987,85.308 C218.039,85.308 256.32,123.589 256.32,170.641 C256.32,217.693 218.04,255.974 170.987,255.974 L170.987,255.974 Z"></path>
    </symbol>
    <symbol id="pointmap_outline" viewBox="0 0 58 81">
        <path d="M28.5761402,81 L27.753806,80.2804522 C22.7170046,75.2436487 18.0913703,69.8984744 13.876903,64.2449213 C4.72842611,51.7043119 0,40.8083749 0,31.7626887 C0,13.9796953 12.5406084,0 28.47335,0 C44.4060915,0 57.0494901,13.9796953 57.0494901,31.7626887 C57.0494901,52.4238558 30.4263952,79.1497431 29.2956841,80.2804522 L28.5761402,81 L28.5761402,81 L28.5761402,81 L28.5761402,81 Z M28.6581089,4 C14.8418921,4 4,16.1851349 4,31.728378 C4,49.0945946 24.6283784,70.8743214 28.6581089,75 C32.6878393,70.8743214 53.4121622,48.6148649 53.4121622,31.8243243 C53.4121622,16.1851349 42.570271,4 28.6581089,4 L28.6581089,4 L28.6581089,4 L28.6581089,4 Z"></path>
        <path d="M28.5467683,43.6999989 C20.7749064,43.6999989 14.6000004,37.4186287 14.6000004,29.6467667 C14.6000004,21.8749046 20.8813685,15.6999989 28.6532305,15.6999989 C36.4250924,15.6999989 42.6000004,21.981367 42.6000004,29.7532291 L42.6000004,29.7532291 C42.6000004,37.4186287 36.3186302,43.6999989 28.5467683,43.6999989 L28.5467683,43.6999989 L28.5467683,43.6999989 L28.5467683,43.6999989 Z M28.5551571,19.7000008 C22.9946186,19.7000008 18.6000004,24.1843055 18.6000004,29.744844 C18.6000004,35.3053825 23.0843051,39.6999989 28.5551571,39.6999989 C34.0260092,39.6999989 38.5103155,35.2156942 38.5103155,29.7448422 C38.6000002,24.1843055 34.1156955,19.7000008 28.5551571,19.7000008 L28.5551571,19.7000008 L28.5551571,19.7000008 L28.5551571,19.7000008 L28.5551571,19.7000008 Z"></path>
    </symbol>
    <symbol id="whatsapp" viewBox="0 0 512 512">
        <path fill="#EDEDED" d="M0,512 L35.31,384 C12.359,344.276 0,300.138 0,254.234 C0,114.759 114.759,0 255.117,0 C395.475,0 512,114.759 512,254.234 C512,393.709 395.476,512 255.117,512 C210.979,512 168.607,497.876 130.648,476.69 L0,512 L0,512 Z"></path>
        <path fill="#55CD6C" d="M137.71,430.786 L145.655,435.2 C178.317,455.503 216.276,467.862 256,467.862 C371.641,467.862 467.862,371.641 467.862,254.234 C467.862,136.827 371.641,44.138 255.117,44.138 C138.593,44.138 44.138,137.71 44.138,254.234 C44.138,294.841 55.614,334.565 76.8,368.11 L82.097,376.055 L61.794,450.207 L137.71,430.786 L137.71,430.786 Z"></path>
        <path fill="#FEFEFE" d="M187.145,135.945 L170.373,135.062 C165.076,135.062 159.78,136.828 156.249,140.359 C148.304,147.421 135.063,160.662 131.532,178.318 C125.353,204.801 135.063,236.58 158.015,268.359 C180.967,300.138 225.105,351.338 302.787,373.407 C327.504,380.469 346.925,376.055 362.815,366.345 C375.174,358.4 383.118,346.042 385.767,332.8 L388.415,320.441 C389.298,316.91 387.532,312.496 384.001,310.731 L328.387,285.131 C324.856,283.365 320.442,284.248 317.794,287.779 L295.725,316.027 C293.959,317.793 291.311,318.675 288.663,317.793 C273.656,312.496 223.339,291.31 195.973,238.345 C195.09,235.697 195.09,233.048 196.856,231.283 L218.042,207.449 C219.808,204.801 220.69,201.27 219.808,198.621 L194.208,141.242 C193.324,138.593 190.676,135.945 187.145,135.945"></path>
    </symbol>
    <symbol id="metro" viewBox="0 0 72 50">
        <polygon points="49.236 0.214 48.637 0.213 35.908 25.156 22.721 0 4.666 45.445 0 45.445 0 49.095 25.562 49.095 25.562 45.445 20.49 45.445 25.562 31.242 35.908 49.095 45.849 31.242 50.92 45.445 45.849 45.445 45.849 49.095 71.207 49.095 71.207 45.445 66.814 45.445"></polygon>
    </symbol>
    <symbol id="heart" viewBox="0 0 557 527">
        <path d="M278.692684,526.802795 C273.5115,526.802795 268.539749,524.719727 264.693567,520.9375 L62.5594417,322.09671 C23.0883752,287.555695 0.453583062,236.255905 0.453583062,181.315506 C0.453583062,81.6132965 75.2416271,0.5 167.168849,0.5 C208.570194,0.5 247.856096,16.8687 278.5,46.7359009 C309.142991,16.8687 348.429253,0.5 389.831138,0.5 C481.757923,0.5 556.545974,81.6132965 556.545974,181.315506 C556.545974,234.268097 535.253261,284.351593 498.109006,318.792999 C497.763503,319.181702 497.421599,319.542999 497.071611,319.887695 L292.69169,520.936523 C288.845149,524.719727 283.873398,526.802795 278.692684,526.802795 L278.692684,526.802795 Z M170.39654,21.5 C88.6039502,21.5 22.0610749,93.7411313 22.0610749,182.536921 C22.0610749,231.487654 42.225713,277.208056 77.3851867,307.974777 L77.6817196,308.250796 L273.65882,501.501621 C274.965997,502.790582 276.665789,503.5 278.444222,503.5 C280.222574,503.5 281.921991,502.790582 283.230026,501.500732 L481.234383,306.25055 C481.406042,306.080783 481.569063,305.901502 481.725272,305.718546 L481.988821,305.410281 L482.283161,305.138055 C515.438089,274.456692 534.453583,229.770022 534.453583,182.536921 C534.453583,93.7411313 467.91113,21.5 386.118534,21.5 C347.330641,21.5 310.640412,37.6568628 282.806835,66.9943081 L278.257544,71.7899085 L273.707689,66.9943081 C245.87379,37.6568628 209.183977,21.5 170.39654,21.5 L170.39654,21.5 Z"></path>
    </symbol>
    <symbol id="chain" viewBox="0 0 32 32">
        <path d="M30.9769993,19.8199997 C31.5419998,19.8199997 32,19.3610001 32,18.7959995 L32,12.5009994 C32,11.9349994 31.5419998,11.4759998 30.9769993,11.4759998 L20.5230007,11.4759998 L20.5230007,1.025 C20.5230007,0.459 20.066,0 19.5,0 L1.025,0 C0.458,0 0,0.459 0,1.025 L0,19.5 C0,20.066 0.458,20.5230007 1.025,20.5230007 L11.4760002,20.5230007 L11.4760002,30.9740009 C11.4760002,31.5400009 11.9349998,31.9980011 12.5000004,31.9980011 L30.9769997,31.9980011 C31.5419998,32 32,31.5419998 32,30.9769993 L32,27.5799999 C32,27.0149994 31.5419998,26.5559997 30.9769993,26.5559997 C30.4109993,26.5559997 29.9529991,27.0149993 29.9529991,27.5799999 L29.9529991,29.9529991 L13.5249996,29.9529991 L13.5249996,20.5259991 L19.5,20.5259991 C20.066,20.5259991 20.5230007,20.0669995 20.5230007,19.5019989 L20.5230007,13.5269985 L29.9510002,13.5269985 L29.9510002,18.7979984 C29.9510002,19.3610001 30.4090004,19.8199997 30.9769993,19.8199997 L30.9769993,19.8199997 Z M2.049,18.4769993 L2.049,2.049 L18.4750006,2.049 L18.4750006,11.476 L12.5,11.476 C11.9350004,11.476 11.4759998,11.9340002 11.4759998,12.5009996 L11.4759998,18.4769994 L2.049,18.4769994 L2.049,18.4769993 Z M18.4750004,18.4769993 L13.5250006,18.4769993 L13.5250006,13.5249996 L18.4750004,13.5249996 L18.4750004,18.4769993 L18.4750004,18.4769993 Z"></path>
    </symbol>
    <symbol id="mail" viewBox="0 0 36 30">
        <path d="M19.9260502,28.5 L4.8000002,28.5 C2.9774604,28.5 1.5,27.0778465 1.5,25.3235302 L1.5,4.6764708 C1.5,2.9221544 2.9774604,1.5 4.8000002,1.5 L31.2000017,1.5 C33.022541,1.5 34.5,2.9221544 34.5,4.6764708 L34.5,25.3235312 C34.5,27.0778465 33.022541,28.5 31.2000008,28.5 L28.467226,28.5"></path>
        <path d="M2.7738972,2.5422795 L16.9313793,18.1256755 C17.5475368,18.629803 18.4524631,18.629803 19.0686207,18.1256755 L33.2261048,2.5422795"></path>
    </symbol>
    <symbol id="paper" viewBox="0 0 80 93">
        <path d="M3.2809753,92.8789978 L76.5589904,92.8789978 C78.3979949,92.8789978 79.839981,91.440979 79.839981,89.6019897 L79.839981,3.2810059 C79.8399811,1.440979 78.397995,0 76.5589905,0 L21.6019897,0 C21.3589782,0 21.0389709,0 20.8009643,0.0779724 C20.7189636,0.0779724 20.6409912,0.1600036 20.6409912,0.1600036 C20.3980103,0.2380066 20.2379761,0.3200073 20,0.3979797 C19.9219666,0.4799804 19.8399658,0.4799804 19.7619934,0.5589904 C19.519989,0.7189941 19.2810059,0.8789672 19.1209717,1.1210021 L0.8009949,22.7189941 C0.5589905,22.9609985 0.3979798,23.2809753 0.2380066,23.6019897 C0.1599732,23.6799926 0.1599732,23.8399963 0.1599732,23.921997 C0.0779724,24.1600037 0.0779724,24.3979797 0,24.6409912 L0,89.519989 C0,91.440979 1.519989,92.8789978 3.2809753,92.8789978 L3.2809753,92.8789978 L3.2809753,92.8789978 Z M18.3200073,12.2380066 L18.3200073,21.6799927 L10.3199768,21.6799927 L18.3200073,12.2380066 L18.3200073,12.2380066 Z M6.5589905,28.1600037 L21.6019898,28.1600037 C23.4409791,28.1600037 24.8789979,26.7189637 24.8789979,24.8789673 L24.8789979,6.5589905 L73.2809907,6.5589905 L73.2809907,86.3199768 L6.5589905,86.3199768 L6.5589905,28.1600037 L6.5589905,28.1600037 Z"></path>
        <path d="M63.5199738,35.2809753 L16.3199768,35.2809753 C14.480011,35.2809753 13.0389709,36.7189941 13.0389709,38.5589904 C13.0389709,40.3979797 14.4800109,41.8399963 16.3199768,41.8399963 L63.5199737,41.8399963 C65.3589935,41.8399963 66.8009948,40.3979797 66.8009948,38.5589904 C66.8009949,36.7189941 65.3589935,35.2809753 63.5199738,35.2809753 L63.5199738,35.2809753 L63.5199738,35.2809753 Z"></path>
        <path d="M63.5199738,51.1209717 L16.3199768,51.1209717 C14.480011,51.1209717 13.0389709,52.5589905 13.0389709,54.3979798 C13.0389709,56.2379761 14.4800109,57.6799927 16.3199768,57.6799927 L63.5199737,57.6799927 C65.3589935,57.6799927 66.8009948,56.2379761 66.8009948,54.3979798 C66.8009949,52.6409912 65.3589935,51.1209717 63.5199738,51.1209717 L63.5199738,51.1209717 L63.5199738,51.1209717 Z"></path>
    </symbol>
    <symbol id="pdf" viewBox="0 0 383 454">
        <rect x="268.173401" y="5.1091995" width="11.9212999" height="99.9123001"></rect>
        <rect x="268.173401" y="96.5062027" width="105.589104" height="12.4890003"></rect>
        <polygon points="278.959412 14.8253994 278.959412 100.498497 363.303711 98.0227966"></polygon>
        <path d="M276.511688,0 L37.1263008,0 L37.1263009,236.034424 C42.2354012,237.345917 57.033536,232.390717 59.871934,236.034424 L59.871934,22.9953969 L278.596242,22.9953969 L320.916595,57.1515999 L362.829992,105.038696 L362.829992,432.791837 L57.8281337,432.791837 L57.8281337,371.015167 C57.8281337,372.389648 45.8183861,367.555206 44.3202858,368.592407 C41.7112885,370.410431 39.3969994,367.69751 37.1263009,368.592407 L37.1263009,453.011414 L382.845387,453.011414 L382.845387,100.118797 L331.368103,49.5455017 L276.511688,0 Z"></path>
        <g transform="translate(0.000000, 212.000000)">
            <path d="M181.559601,61.0769958 C179.081695,58.7323913 175.927094,57.1603088 172.113403,56.3353881 C169.259094,55.6889953 163.674805,55.3789062 155.350006,55.3789062 L146.462295,55.3789062 L146.462295,123.500885 L161.424499,123.500885 C167.119202,123.500885 171.240097,122.589203 173.766693,121.945587 C177.080002,121.117187 179.827103,119.420013 182.008408,117.444 C184.189697,115.467285 185.970596,112.06311 187.358093,107.536896 C188.731506,103.008514 189.425293,96.7637023 189.425293,88.945404 C189.425293,81.1299133 188.731506,75.092102 187.358093,70.9075927 C185.970596,66.7262878 184.0448,63.4230042 181.559601,61.0769958 L181.559601,61.0769958 Z"></path>
            <path d="M322.444092,12.1902008 C322.444092,5.5265045 316.8461,0.3135986 310.178101,0.3135986 L11.9527998,0.3135986 C5.2916002,0.3135986 0,5.5265045 0,12.1902008 L0,176.753693 C0,183.417389 5.2916002,188.784485 11.9527998,188.784485 L310.178111,188.784485 C316.84611,188.784485 322.444102,183.417389 322.444102,176.753693 L322.444102,12.1902008 L322.444092,12.1902008 Z M105.698799,85.0105896 C103.441498,89.2398987 100.583702,92.5621033 97.1117019,94.9719849 C93.6397018,97.3887024 90.1121978,99.6257019 86.5264968,100.409912 C81.6567,101.37439 74.5950011,102.496612 65.3555984,102.496612 L52.226799,102.496612 L52.226799,138.8284 L31.2226009,138.8284 L31.2226009,39.4837951 L64.3858013,39.4837951 C76.8038997,39.4837951 84.8939953,39.3769988 88.6629009,40.3857116 C94.4540004,41.9049987 99.3067989,44.8920898 103.213896,49.9757079 C107.124098,55.0530089 109.080999,61.4663085 109.080999,69.5086974 C109.081001,75.7175903 107.952499,80.7791138 105.698799,85.0105896 L105.698799,85.0105896 Z M207.424194,111.286591 C204.894394,118.641296 201.280701,124.595001 196.593704,129.145599 C193.052795,132.596008 188.269196,135.024292 182.249802,136.953186 C177.742599,138.378906 171.716507,138.8284 164.178696,138.8284 L123.187302,138.8284 L123.187302,39.4837952 L163.077499,39.4837952 C171.495606,39.4837952 177.908005,39.5135041 182.319107,40.7998963 C188.251907,42.5497132 193.328796,45.3406067 197.560303,49.7997132 C201.791397,54.2608948 205.008194,59.5669861 207.217102,66.0278931 C209.4189,72.4880066 210.5233,80.3721924 210.5233,89.8421021 C210.5233,98.1647034 209.488205,105.261108 207.424194,111.286591 L207.424194,111.286591 Z M298.60141,55.3789062 L248.645294,55.3789062 L248.645294,78.6539001 L290.6539,78.6539001 L290.6539,96.8197937 L248.645294,96.8197937 L248.645294,138.8284 L227.641007,138.8284 L227.641007,39.4837952 L298.60141,39.4837952 L298.60141,55.3789062 L298.60141,55.3789062 Z"></path>
            <path d="M76.5968018,56.0575867 C74.1603013,55.5957032 69.2591019,55.3789063 61.908001,55.3789063 L52.226799,55.3789063 L52.226799,83.7630921 L63.2195015,83.7630921 C71.2643967,83.7630921 76.6417007,83.376709 79.3580017,82.3207093 C82.0705032,81.2604981 84.1895981,79.6754151 85.7326965,77.4208985 C87.2753982,75.1689149 88.0416031,72.585907 88.0416031,69.597107 C88.0416031,65.9161988 86.9580002,62.9090882 84.8006973,60.5165101 C82.6434021,58.1231079 79.906601,56.656311 76.5968018,56.0575867 L76.5968018,56.0575867 Z"></path>
        </g>
    </symbol>
    <symbol id="calendar" viewBox="0 0 450 439">
        <rect id="Rectangle-path" x="202.5" y="191.250397" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="274.5" y="191.250397" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="346.5" y="191.250397" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="202.5" y="263.250305" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="274.5" y="263.250305" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="346.5" y="263.250305" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="58.5" y="263.250305" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="130.5" y="263.250305" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="202.5" y="335.250214" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="274.5" y="335.250214" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="58.5" y="335.250214" width="45" height="44.9995995"></rect>
        <rect id="Rectangle-path" x="130.5" y="335.250214" width="45" height="44.9995995"></rect>
        <path d="M94.5003891,87.75 C80.8536911,87.75 69.7503891,76.6467972 69.7503891,63 L69.7503891,24.75 C69.7503891,11.1032 80.8527908,0 94.499588,0 C108.147186,0 119.250389,11.1032 119.250389,24.75 L119.250389,63 C119.250389,76.6467972 108.147186,87.75 94.5003891,87.75 L94.5003891,87.75 Z"></path>
        <path d="M380.249573,24.75 L380.249573,63 C380.249573,76.643898 369.143677,87.75 355.499573,87.75 C341.855377,87.75 330.749573,76.643898 330.749573,63 L330.749573,24.75 C330.749573,11.1059999 341.855377,0 355.499573,0 C369.143677,0 380.249573,11.1059999 380.249573,24.75 L380.249573,24.75 Z"></path>
        <path d="M380.249573,24.75 L380.249573,63 C380.249573,76.643898 369.143677,87.75 355.499573,87.75 C341.855377,87.75 330.749573,76.643898 330.749573,63 L330.749573,24.75 C330.749573,11.1059999 341.855377,0 355.499573,0 C369.143677,0 380.249573,11.1059999 380.249573,24.75 L380.249573,24.75 Z"></path>
        <path d="M427.5,43.8750992 L391.5,43.8750992 L391.5,63.0000992 C391.5,82.8824005 375.382172,99.0000992 355.5,99.0000992 L355.5,99.0000992 C335.617767,99.0000992 319.5,82.8824005 319.5,63.0000992 L319.5,43.8750992 L130.5,43.8750992 L130.5,63.0000992 C130.5,82.8824005 114.382187,99.0000992 94.5,99.0000992 L94.5,99.0000992 C74.6177902,99.0000992 58.5,82.8824005 58.5,63.0000992 L58.5,43.8750992 L22.5,43.8750992 C10.0735903,43.8750992 0,53.9486008 0,66.3750992 L0,164.250198 L0,416.25 C0,428.676392 10.0735903,438.75 22.5,438.75 L427.5,438.75 C439.926392,438.75 450,428.676392 450,416.25 L450,164.250198 L450,66.3750992 C450,53.9486008 439.926392,43.8750992 427.5,43.8750992 L427.5,43.8750992 Z M418.5,407.25 L31.5,407.25 L31.5,164.250198 L418.5,164.250198 L418.5,407.25 L418.5,407.25 Z"></path>
    </symbol>
    <symbol id="star" viewBox="0 0 391 373">
        <path d="M280.644989,227.160004 C278.082001,229.641007 276.964996,233.238007 277.60199,236.761993 L295.921997,341.800995 L201.363007,292.442017 C198.242004,290.761993 194.483993,290.839996 191.281006,292.442017 L97.0429992,342.359985 L114.722999,237.160004 C115.280998,233.641006 114.164001,230.121002 111.601997,227.641006 L35.125,153.399002 L140.645004,137.718994 C144.164001,137.160004 147.203003,135 148.723007,131.800995 L195.602005,36.0390015 L243.125,131.559006 C244.723007,134.761993 247.761993,136.917999 251.281006,137.481003 L356.882996,152.520004 L280.644989,227.160004 L280.644989,227.160004 Z M390.242004,141.481003 C388.964996,137.559006 385.60199,134.761993 381.52301,134.121002 L259.921997,116.839996 L205.203003,6.8399963 C203.363007,3.1600036 199.602005,0.8399963 195.522995,0.8399963 C191.440994,0.8399963 187.684006,3.1600036 185.843994,6.9179992 L131.843994,117.238006 L10.2419996,135.320007 C6.164,135.960998 2.8049999,138.761993 1.523,142.679993 C0.242,146.602005 1.363,150.917999 4.3239999,153.718994 L92.5619989,239.238007 L72.1640039,360.359985 C71.4410043,364.441986 73.1250024,368.519989 76.4840036,370.917999 C78.3239975,372.281006 80.5619965,373 82.8050003,373 C84.5619965,373 86.2419968,372.60199 87.8440018,371.718994 L196.401993,314.199005 L305.281006,371.078003 C306.882996,371.878998 308.562012,372.281006 310.242004,372.281006 C316.164002,372.281006 321.042999,367.398987 321.042999,361.480987 C321.042999,360.60199 320.964996,359.800995 320.722992,359 L299.683991,238.602005 L387.363007,152.602005 C390.484009,149.718994 391.52301,145.399002 390.242004,141.481003 L390.242004,141.481003 Z"></path>
    </symbol>
    <symbol id="ruble" viewBox="0 0 464 511">
        <path d="M11.786,428.963 L92.944,428.963 L92.944,498.535 C92.944,501.92 94.027,504.691 96.206,506.857 C98.379,509.037 101.157,510.127 104.541,510.127 L165.043,510.127 C168.183,510.127 170.9,509.037 173.195,506.857 C175.49,504.691 176.634,501.919 176.634,498.535 L176.634,428.963 L359.598,428.963 C362.975,428.963 365.754,427.887 367.932,425.707 C370.112,423.529 371.194,420.756 371.194,417.371 L371.194,370.994 C371.194,367.629 370.112,364.838 367.932,362.672 C365.76,360.492 362.975,359.402 359.598,359.402 L176.628,359.402 L176.628,316.648 L299.812,316.648 C348.117,316.648 387.542,301.929 418.105,272.449 C448.656,243 463.939,204.959 463.939,158.324 C463.939,111.72 448.656,73.678 418.105,44.199 C387.548,14.749 348.116,0 299.812,0 L104.535,0 C101.15,0 98.378,1.089 96.2,3.256 C94.027,5.435 92.938,8.225 92.938,11.591 L92.938,239.487 L11.786,239.487 C8.402,239.487 5.629,240.632 3.451,242.926 C1.279,245.221 0.189,247.938 0.189,251.077 L0.189,305.055 C0.189,308.44 1.272,311.213 3.451,313.391 C5.63,315.571 8.396,316.647 11.786,316.647 L92.944,316.647 L92.944,359.401 L11.786,359.401 C8.402,359.401 5.629,360.491 3.451,362.671 C1.279,364.837 0.189,367.622 0.189,370.993 L0.189,417.37 C0.189,420.755 1.272,423.528 3.451,425.706 C5.629,427.887 8.401,428.963 11.786,428.963 L11.786,428.963 Z M176.628,77.179 L292.566,77.179 C318.166,77.179 338.814,84.664 354.519,99.639 C370.216,114.615 378.068,134.186 378.068,158.33 C378.068,182.486 370.216,202.063 354.519,217.021 C338.814,232.009 318.165,239.494 292.566,239.494 L176.628,239.494 L176.628,77.179 L176.628,77.179 Z"></path>
    </symbol>
    <symbol id="stalinka" viewBox="0 0 509 510">
        <path d="M491.700012,491.910004 L491.700012,115.009979 L393.399994,115.009979 L393.399994,0.3099861 L114.800003,0.3099861 L114.800003,115.009983 L16.5000057,115.009983 L16.5000057,491.909977 L0.1000061,491.909977 L0.1000061,508.310001 L508.099976,508.310001 L508.099976,491.910007 L491.700012,491.910007 L491.700012,491.910004 Z M32.9000053,491.910004 L32.9000053,131.410004 L114.799999,131.410004 L114.799999,172.410004 L57.5000076,172.410004 L57.5000076,188.809998 L114.900009,188.809998 L114.900009,238.009995 L57.5000076,238.009995 L57.5000076,254.310013 L114.900009,254.310013 L114.900009,303.510025 L57.5000076,303.510025 L57.5000076,319.910019 L114.900009,319.910019 L114.900009,369.110031 L57.5000076,369.110031 L57.5000076,385.510025 L114.900009,385.510025 L114.900009,434.710037 L57.5000076,434.710037 L57.5000076,451.110031 L114.900009,451.110031 L114.900009,492.110031 L32.9000091,492.110031 L32.9000091,491.910004 L32.9000053,491.910004 Z M204.900009,491.910004 L204.900009,360.809998 L303.200012,360.809998 L303.200012,491.910004 L204.900009,491.910004 L204.900009,491.910004 Z M377,491.910004 L319.600006,491.910004 L319.600006,344.410004 L188.600006,344.410004 L188.600006,491.910004 L131.200012,491.910004 L131.200012,16.7099857 L377.00003,16.7099857 L377.00003,491.909998 L377,491.909998 L377,491.910004 Z M475.300018,491.910004 L393.400024,491.910004 L393.400024,450.910004 L450.800018,450.910004 L450.800018,434.51001 L393.400024,434.51001 L393.400024,385.309998 L450.800018,385.309998 L450.800018,368.910004 L393.400024,368.910004 L393.400024,319.709992 L450.800018,319.709992 L450.800018,303.309998 L393.400024,303.309998 L393.400024,254.309998 L450.800018,254.309998 L450.800018,237.909988 L393.400024,237.909988 L393.400024,188.709992 L450.800018,188.709992 L450.800018,172.309998 L393.400024,172.309998 L393.400024,131.309998 L475.300018,131.309998 L475.300018,491.910004 L475.300018,491.910004 Z"></path>
        <path d="M229.5,49.5099869 L164,49.5099869 L164,115.009979 L229.5,115.009979 L229.5,49.5099869 L229.5,49.5099869 Z M213.100006,98.6099854 L180.300003,98.6099854 L180.300003,65.8099823 L213.100006,65.8099823 L213.100006,98.6099854 L213.100006,98.6099854 Z"></path>
        <path d="M344.200012,49.5099869 L278.700012,49.5099869 L278.700012,115.009979 L344.200012,115.009979 L344.200012,49.5099869 L344.200012,49.5099869 Z M327.800018,98.6099854 L295.100006,98.6099854 L295.100006,65.8099823 L327.899994,65.8099823 L327.899994,98.6099854 L327.800018,98.6099854 L327.800018,98.6099854 Z"></path>
        <path d="M229.5,147.809982 L164,147.809982 L164,213.309982 L229.5,213.309982 L229.5,147.809982 L229.5,147.809982 Z M213.100006,196.909988 L180.300003,196.909988 L180.300003,164.109985 L213.100006,164.109985 L213.100006,196.909988 L213.100006,196.909988 Z"></path>
        <path d="M344.200012,147.809982 L278.700012,147.809982 L278.700012,213.309982 L344.200012,213.309982 L344.200012,147.809982 L344.200012,147.809982 Z M327.800018,196.909988 L295.100006,196.909988 L295.100006,164.109985 L327.899994,164.109985 L327.899994,196.909988 L327.800018,196.909988 L327.800018,196.909988 Z"></path>
        <path d="M229.5,246.109985 L164,246.109985 L164,311.609985 L229.5,311.609985 L229.5,246.109985 L229.5,246.109985 Z M213.100006,295.309998 L180.300003,295.309998 L180.300003,262.51001 L213.100006,262.51001 L213.100006,295.309998 L213.100006,295.309998 Z"></path>
        <path d="M344.200012,246.109985 L278.700012,246.109985 L278.700012,311.609985 L344.200012,311.609985 L344.200012,246.109985 L344.200012,246.109985 Z M327.800018,295.309998 L295.100006,295.309998 L295.100006,262.51001 L327.899994,262.51001 L327.899994,295.309998 L327.800018,295.309998 L327.800018,295.309998 Z"></path>
    </symbol>
    <symbol id="earth" viewBox="0 0 107 107">
        <path d="M98.2344742,24.7255993 C88.4102707,9.2432003 71.5830765,0 53.2236748,0 C43.141674,0 33.2910728,2.8682001 24.7383747,8.2959003 C12.7275743,15.9169998 4.4043741,27.7598 1.3018743,41.6416016 C-1.8017257,55.5224991 0.6865742,69.7822037 8.308674,81.7929993 C18.133875,97.2744294 34.9600755,106.517601 53.3193742,106.517601 C63.4023744,106.517601 73.2520753,103.649429 81.8047715,98.2217026 C93.8154679,90.6006012 102.138771,78.7577973 105.242271,64.8769989 C108.344772,50.9950981 105.856468,36.7363014 98.2344742,24.7255993 L98.2344742,24.7255993 Z M95.2695694,26.6074009 C95.3613739,26.7509995 95.4424744,26.8985004 95.5322723,27.0429993 C94.9971695,26.9981003 94.4482727,26.9570008 93.8799743,26.9179993 C91.2432708,26.7353993 87.2588729,26.4599991 86.2217712,25.2763996 C85.0664749,23.9599991 84.151474,22.5732994 83.2656707,21.2315006 C81.4131774,18.4237995 79.497177,15.5214996 75.513771,13.4238004 C72.8828735,12.0381002 70.6475753,12.1660003 68.6787719,12.2735004 C67.1523742,12.3584003 65.8330764,12.4326 64.3086776,11.8682003 C60.0479736,10.2890997 57.729576,7.6220999 55.0439758,3.5683994 C71.4795761,4.1571999 86.4189758,12.6591997 95.2695694,26.6074009 L95.2695694,26.6074009 Z M22.7783737,13.9618998 C24.1230736,15.9462996 25.9580746,18.8467007 25.5947742,20.8721009 C25.2187747,22.9706994 23.9180736,23.3612996 21.2471733,23.9804993 C19.851675,24.3036995 18.4082737,24.6376992 17.084074,25.4160004 C15.5605745,26.3096009 14.8076744,27.6065007 14.2012739,28.6485005 C13.5723743,29.7315007 13.2051744,30.3096009 12.3750744,30.5790997 C11.7217741,30.7910004 10.5312739,30.7324009 9.4805746,30.6786995 C9.2959738,30.6690006 9.124074,30.6660004 8.9443741,30.6581993 C12.2422743,24.1630993 16.9375744,18.4776001 22.7783737,13.9618998 L22.7783737,13.9618998 Z M31.9326744,94.7832184 C31.6895733,95.8877106 31.4873733,96.7851715 30.776474,97.6308823 C22.9355736,93.6582184 16.1689739,87.6250229 11.2734756,79.9111023 C6.3584752,72.1651001 3.7314748,63.4179993 3.5283751,54.4776001 C3.8428752,54.4160004 4.1484751,54.2988014 4.3984751,54.0625 C8.6094751,50.0741997 11.1113748,50.7686005 14.9023756,51.8194008 C17.5400747,52.5498009 20.5293764,53.3788986 24.3857759,52.5596008 C28.038175,51.7841987 29.6699747,48.8681984 31.1094755,46.2969017 C31.9746755,44.7528992 32.7910742,43.2939987 33.9355749,42.4424019 C36.6621755,40.4141007 41.8115744,39.7187996 45.4141744,40.8936005 C46.4990743,41.2471009 47.8262761,42.330101 49.108476,43.3769989 C51.2529767,45.1278992 53.698274,47.0889015 56.4961751,47.0391006 C58.9062741,46.9766006 60.7314771,45.4375 62.4951756,43.9491996 C63.9375737,42.7323989 65.2998745,41.5839996 66.8447735,41.3036994 C70.8311779,40.5772017 77.7266781,42.4921989 80.0811779,45.7538985 C81.1816723,47.2783011 81.2031719,48.9570006 80.1504757,50.887699 C77.2930767,56.1231002 71.1436779,64.5537032 66.2158749,62.9277991 C65.1367733,62.5722998 64.016679,62.1231002 62.8301747,61.6464995 C57.3291752,59.4413985 49.7959759,56.4189986 45.0879758,64.7782973 C42.9131749,68.6426009 44.7305768,73.3144988 46.3350766,77.4346007 C48.1572736,82.1182021 48.8193753,84.4443968 47.0254758,85.5420073 C45.4326757,86.5185698 43.5566762,86.9248198 41.5693753,87.3554915 C39.8691762,87.7236479 38.1113751,88.1054915 36.4150746,88.8701323 C32.8848724,90.4599762 32.3564758,92.8574371 31.9326744,94.7832184 L31.9326744,94.7832184 Z M79.9229736,95.2568512 C72.1816711,100.169937 63.301876,102.814468 54.1914749,102.975601 C54.1143761,99.2920074 54.8965759,96.6699371 56.5957756,95.0048981 C58.7520752,92.892601 62.5361748,92.1152497 68.4980774,92.5547028 C72.5498734,92.8437729 74.3828735,90.3320466 75.8535767,88.3047028 C76.6094742,87.2627106 77.3232727,86.2783432 78.2773743,85.67482 C80.271576,84.4121018 82.459076,85.2705002 85.8232727,86.8349762 C86.7930756,87.2871323 87.7812729,87.736351 88.7803726,88.0976715 C86.1387711,90.7802887 83.1807709,93.1894684 79.9229736,95.2568512 L79.9229736,95.2568512 Z M91.4199753,85.1992035 C90.1807709,84.9736023 88.7842713,84.3398972 87.303772,83.6513977 C84.1211777,82.1718979 80.1592713,80.3291016 76.4004746,82.7061005 C74.8760758,83.669899 73.8857728,85.0371018 73.0107728,86.2422028 C71.5576707,88.2451325 70.7656709,89.1992417 68.7578736,89.0527497 C64.3223725,88.7246323 57.9854737,88.7246323 54.136776,92.4970933 C51.7314759,94.8545075 50.6084748,98.2832185 50.6826744,102.923851 C44.8613739,102.621109 39.2451744,101.318382 34.0283737,99.134781 C34.846775,97.8720933 35.1270752,96.6074372 35.3623733,95.5381013 C35.7314758,93.8613511 35.9355735,92.937523 37.8574752,92.072281 C39.2168731,91.4589998 40.721775,91.1328279 42.3135757,90.7881013 C44.499073,90.3134919 46.7588729,89.8232575 48.8594741,88.5371324 C53.3525733,85.7851716 51.3633727,80.671898 49.6074752,76.1611024 C48.221775,72.6006013 46.7881736,68.9179994 48.1484756,66.5009996 C51.1904754,61.0985986 55.2148742,62.3750001 61.5225753,64.9063036 C62.7070731,65.3818972 63.9326743,65.8731005 65.1182708,66.2637026 C73.4873733,69.0186007 81.0986709,56.4795 83.2334747,52.5703013 C85.4023742,48.5918009 84.2646713,45.5498011 82.9287719,43.6982997 C79.417076,38.8339999 70.8301772,37.0136989 66.2187728,37.8476985 C63.7520751,38.2948993 61.881874,39.8731006 60.2314757,41.2647021 C58.8701743,42.4131015 57.5840758,43.4981005 56.404373,43.5283015 C54.8994749,43.5674021 53.082073,42.0878985 51.3291739,40.6572001 C49.796974,39.4062998 48.211975,38.1123011 46.5029753,37.5546992 C41.7930754,36.0205004 35.4902724,36.9101985 31.8398741,39.6240008 C30.0928744,40.9248011 29.051874,42.7831996 28.0459746,44.5811007 C26.8145732,46.7803004 25.7510737,48.6796992 23.6562747,49.1250002 C20.6387748,49.7655985 18.3076743,49.1192019 15.8408746,48.4356005 C12.2070741,47.4286997 8.4609746,46.4081995 3.6270742,50.1171992 C3.7949743,47.5458987 4.155374,44.9697001 4.7285742,42.4072001 C5.3652744,39.5596011 6.2500743,36.8115008 7.341874,34.168999 C7.8271741,34.1104014 8.5752743,34.1484988 9.301874,34.1856006 C9.8291739,34.2118991 10.3848742,34.2411998 10.9414738,34.2411998 C11.8125742,34.2411998 12.6875742,34.1708987 13.4629744,33.918999 C15.6064738,33.2206996 16.5107745,31.6641009 17.2373732,30.4130996 C17.7383746,29.5518001 18.1338747,28.8710998 18.8613737,28.4444011 C19.724674,27.9375003 20.8486746,27.6768001 22.0391748,27.4013999 C24.6602743,26.7940009 28.2500742,25.961901 29.0518739,21.4911998 C29.662174,18.0830005 27.3701741,14.4678004 25.6367738,11.919 C25.964874,11.7002004 26.2861745,11.4727004 26.6201741,11.2608007 C33.9434735,6.6133002 42.2861745,4.0020002 50.8770749,3.5947002 C50.8770749,3.5947002 50.8779752,3.5967001 50.8789746,3.5977002 C53.7637746,8.1269999 56.747173,12.8106004 63.0889737,15.1620999 C65.2998731,15.9805003 67.1992719,15.8739997 68.8760754,15.7803002 C70.6816708,15.6778002 72.1064755,15.5986004 73.8779751,16.5312997 C77.0635754,18.2089997 78.5791775,20.5058995 80.335075,23.1660005 C81.2852703,24.6065008 82.2686764,26.0947 83.5811764,27.5918008 C85.5723721,29.8642999 89.8564678,30.1602002 93.6367718,30.4209005 C95.1670681,30.5273992 96.6113735,30.627001 97.4961697,30.8428003 C97.5625683,30.8584005 97.6260678,30.8574011 97.6914746,30.8661997 C99.6279675,34.6913988 101.039169,38.7099993 101.924873,42.8330004 C101.769569,42.8778994 101.617271,42.9375002 101.473671,43.0274012 C101.091873,43.2686007 100.684677,43.5186007 100.261772,43.7774012 C96.4951702,46.0918009 91.8086773,48.9706995 91.0342709,53.3125002 C90.6484677,55.4678003 91.3076703,57.6464998 92.9922711,59.7891008 C94.7988736,62.086899 94.7520749,63.5429994 94.702171,65.0839998 C94.6182705,67.6983034 94.914169,69.9228975 99.1650693,72.4375002 C97.2354736,77.0820007 94.6289749,81.3759995 91.4199753,85.1992035 L91.4199753,85.1992035 Z M101.815468,64.1112976 C101.43557,65.8086014 100.967873,67.472702 100.422974,69.1016006 C98.133873,67.6552963 98.1621704,66.7686004 98.2129745,65.1973037 C98.2705688,63.3926009 98.3506774,60.9219016 95.7529678,57.6181983 C94.6992721,56.2793006 94.2861709,55.0722999 94.4902725,53.9296988 C94.9893722,51.1386984 99.0986709,48.6133002 102.099678,46.7695006 C102.261772,46.6708983 102.407272,46.5791014 102.564567,46.4823989 C103.358475,52.2793007 103.129974,58.2304993 101.815468,64.1112976 L101.815468,64.1112976 Z"></path>
    </symbol>
    <symbol id="moscow-city" viewBox="0 0 85 119">
        <defs>
            <rect id="path-1" x="0" y="0.2655969" width="84.119791" height="118.734403"></rect>
            <path d="M94.8030319,12.4389372 C94.7582016,12.3989372 93.6493759,2.9687367 93.583332,2.9389372 C78.7790107,-4.9609628 41.2480201,5.5725312 40.5025138,5.5227313 C39.8694114,5.4826312 39.2352151,5.5725312 38.7534451,5.7629313 C38.2729868,5.9528312 38.0103421,6.2229313 38.0103421,6.5129313 L38.0103421,119.312728 L28.7160897,119.312728 L24.8890447,46.1125331 C24.8890447,45.562736 23.9045104,45.1125331 22.7021617,45.1125331 C22.1991786,45.1125331 13.8231982,45.152534 3.0202159,47.7229343 L3.0202159,53.3127361 C3.0202159,53.8625332 2.0356807,54.3127361 0.833332,54.3127361 L0.833332,69.3127323 C2.0356807,69.3127323 3.0202159,69.7629352 3.0202159,70.3127323 L3.0202159,91.3127323 C3.0202159,91.862537 2.0356807,92.3127323 0.833332,92.3127323 L0.833332,108.312732 C2.0356807,108.312732 3.0202159,108.762935 3.0202159,109.312732 L3.0202159,119.312732 L3.0202159,121.312732 L48.6713962,121.312732 L94.8030338,121.250232 C94.8030338,121.250232 98.8153553,117.509342 99.2083378,117.438938 C99.0567856,90.1684341 108.755127,21.9985371 94.8030319,12.4389372 L94.8030319,12.4389372 Z" id="path-3"></path>
            <path d="M31.9583359,127.688934 C31.5833359,127.438934 20.2083359,108.812729 20.2083359,108.812729 C20.2083359,108.812729 21.3333359,85.4389343 20.2083359,83.3139343 C19.0833359,81.1889343 13.5833359,37.3139381 13.5833359,37.3139381 L8.8333359,39.0639381 L8.8333359,99.5639343 L0.018879,92.1398315 L0.8333321,0.1889343 L29.5833359,8.3129549 L39.0833359,123.688931 L31.9583359,127.688934 L31.9583359,127.688934 Z" id="path-5"></path>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <g id="SVGID_1_"></g>
            <g id="Group" mask="url(#mask-2)">
                <g transform="translate(-38.000000, -2.000000)">
                    <g id="Building_3_Moscow_1_">
                        <g id="Clipped">
                            <mask id="mask-4" fill="white">
                                <use xlink:href="#path-3"></use>
                            </mask>
                            <g id="SVGID_3_"></g>
                            <g id="Group" mask="url(#mask-4)" fill="#2E3147">
                                <g transform="translate(23.000000, 5.000000)" id="Shape">
                                    <path d="M82.8333359,127.312729 L68.8333321,127.312729 L68.8333321,120.312729 L68.8333321,116.537331 C69.053032,116.409431 69.293335,116.241432 69.5003319,116.035431 C69.7220345,115.817635 70.1341324,115.412331 70.1341324,114.812729 C70.1341324,88.9172287 68.7024346,19.5632324 62.1653328,9.7580338 C62.1429329,9.7243338 62.1185341,9.6926337 62.093132,9.6618338 C55.3245316,1.7648311 47.3089333,0.569531 46.971035,0.5227308 C46.685833,0.4812307 46.3948326,0.5690307 46.1771316,0.7585311 C45.958332,0.948431 45.833332,1.2238307 45.833332,1.5129309 L45.833332,114.312728 L39.833334,114.312728 L39.833334,41.1125298 C39.833334,40.5598298 39.3855343,40.1125298 38.833334,40.1125298 C38.4954338,40.1125298 30.4661331,40.203331 22.5159321,48.1565323 C15.5887323,56.1272316 15.5091324,112.420128 15.5091324,114.812729 C15.5091324,115.390831 15.8729324,115.775627 16.1517325,116.069534 C16.3519326,116.26973 16.6014324,116.43383 16.8333326,116.55983 L16.8333326,120.312729 L16.8333326,127.312729 L2.8333326,127.312729 C1.7288328,127.312729 0.8333326,128.208237 0.8333326,129.312729 C0.8333326,130.417236 1.7288328,131.312729 2.8333326,131.312729 L82.8333326,131.312729 C83.9378324,131.312729 84.8333326,130.417236 84.8333326,129.312729 C84.8333359,128.208237 83.9378357,127.312729 82.8333359,127.312729 L82.8333359,127.312729 Z M36.833334,119.312729 L18.833334,119.312729 L18.833334,116.312729 L38.833334,116.312729 L46.8333321,116.312729 L66.8333321,116.312729 L66.8333321,119.312729 L47.8333321,119.312729 C47.2806321,119.312729 46.8333321,119.760033 46.8333321,120.312729 L46.8333321,127.312729 L37.833334,127.312729 L37.833334,120.312729 C37.833334,119.760033 37.3855343,119.312729 36.833334,119.312729 L36.833334,119.312729 Z M18.1590333,114.967033 C17.9549332,114.895729 17.6580334,114.74733 17.5437331,114.631134 C17.5325331,114.619331 17.5208335,114.607628 17.5091333,114.595932 C17.5130334,105.900627 17.7591333,95.3723297 18.3113331,85.3127289 L37.833334,85.3127289 L37.833334,115.312729 L18.6277332,115.312729 C18.5101333,115.157433 18.3509336,115.033432 18.1590333,114.967033 L18.1590333,114.967033 Z M19.753233,67.3127289 L37.833334,67.3127289 L37.833334,84.3127289 L18.3685331,84.3127289 C18.7132335,78.2795334 19.1702337,72.4494324 19.753233,67.3127289 L19.753233,67.3127289 Z M66.2024345,49.3127327 L47.8333321,49.3127327 L47.8333321,19.3127308 L63.0599327,19.3127308 C64.3899345,26.4909306 65.4251328,37.18433 66.2024345,49.3127327 L66.2024345,49.3127327 Z M47.8333321,67.3127289 L67.1399346,67.3127289 C67.3753319,72.9523316 67.5657349,78.6740341 67.7142335,84.3127289 L47.8333321,84.3127289 L47.8333321,67.3127289 L47.8333321,67.3127289 Z M47.8333321,66.3127289 L47.8333321,50.3127327 L66.265934,50.3127327 C66.588234,55.4543304 66.8646317,60.8381271 67.0979347,66.3127289 L47.8333321,66.3127289 L47.8333321,66.3127289 Z M47.8333321,85.3127289 L67.740532,85.3127289 C68.0071336,95.7541275 68.1321336,105.869331 68.1341325,114.574432 C68.110634,114.596931 68.0833322,114.62323 68.0511323,114.655533 C67.9397317,114.76683 67.6497346,114.912331 67.4866334,114.973831 C67.303032,115.042229 67.1517335,115.16333 67.0394326,115.312729 L47.8333321,115.312729 L47.8333321,85.3127289 L47.8333321,85.3127289 Z M48.8333321,127.312729 L48.8333321,121.312729 L66.8333321,121.312729 L66.8333321,127.312729 L48.8333321,127.312729 L48.8333321,127.312729 Z M60.533535,10.9157305 C61.3938332,12.2395306 62.1702347,14.8000317 62.8685341,18.3127308 L47.8333321,18.3127308 L47.8333321,2.7551308 C50.1800346,3.3723307 55.7337341,5.3415308 60.533535,10.9157305 L60.533535,10.9157305 Z M23.9778337,49.5197296 C29.6966323,43.8010292 35.5477333,42.4963302 37.8333339,42.1994324 L37.8333339,66.3127289 L19.8665333,66.3127289 C20.8636332,57.9211311 22.2122335,51.5529327 23.9778337,49.5197296 L23.9778337,49.5197296 Z M18.8333335,121.312729 L35.8333335,121.312729 L35.8333335,127.312729 L18.8333335,127.312729 L18.8333335,121.312729 L18.8333335,121.312729 Z"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g id="Building_4_Moscow_1_" transform="translate(80.000000, 13.000000)">
                        <g id="Building_5_Moscow">
                            <g id="Clipped" transform="translate(13.000000, 0.000000)">
                                <mask id="mask-6" fill="white">
                                    <use xlink:href="#path-5"></use>
                                </mask>
                                <g id="SVGID_5_"></g>
                                <path d="M31.8333359,122.312729 C31.280632,122.312729 30.8333359,121.865433 30.8333359,121.312729 L30.8333359,111.999229 L28.093132,108.985634 C27.9261322,108.801033 27.8333359,108.561729 27.8333359,108.312729 L27.8333359,71.3000336 L24.093132,67.18573 C23.9261322,67.0012284 23.8333359,66.7619324 23.8333359,66.5129318 L23.8333359,38.3342323 L15.1341324,29.8273315 C14.9417343,29.6389312 14.8333359,29.3820304 14.8333359,29.1125297 L14.8333359,20.7268295 L5.8333359,11.7268314 L5.8333359,95.1125354 C5.8333359,95.3615359 5.7405319,95.6008319 5.5735321,95.7854327 L2.8333321,98.8000354 L2.8333321,121.312731 C2.8333321,121.865435 2.3860321,122.312731 1.8333321,122.312731 C1.2806321,122.312731 0.8333321,121.865435 0.8333321,121.312731 L0.8333321,98.4133319 C0.8333321,98.1643314 0.9261322,97.9250354 1.0931321,97.7404346 L3.8333321,94.7258319 L3.8333321,9.3127308 C3.8333321,8.9084301 4.0765343,8.5437317 4.4505349,8.3889313 C4.8255349,8.2346306 5.2542344,8.3195305 5.5403367,8.6057301 L16.5403367,19.605732 C16.7278367,19.793232 16.833336,20.0476303 16.833336,20.3127327 L16.833336,28.6916313 L25.5325319,37.1984291 C25.72493,37.3869324 25.833336,37.6438293 25.833336,37.9133301 L25.833336,66.1262284 L29.5735322,70.2404328 C29.740532,70.4250336 29.833336,70.6643296 29.833336,70.9133301 L29.833336,107.926033 L32.5735322,110.939728 C32.740532,111.124229 32.833336,111.363533 32.833336,111.612534 L32.833336,121.312729 C32.8333359,121.865433 32.3860321,122.312729 31.8333359,122.312729 L31.8333359,122.312729 Z" id="Shape" fill="#2E3147" mask="url(#mask-6)"></path>
                            </g>
                            <path d="M17.8333321,11.3127308 C17.2806321,11.3127308 16.8333321,10.8649311 16.8333321,10.3127308 L16.8333321,7.3127308 C16.8333321,6.7605305 17.2806321,6.3127308 17.8333321,6.3127308 C18.3860321,6.3127308 18.8333359,6.7605305 18.8333359,7.3127308 L18.8333359,10.3127308 C18.8333359,10.8649311 18.3860321,11.3127308 17.8333321,11.3127308 L17.8333321,11.3127308 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M25.3333359,121.812729 C25.0569306,121.812729 24.8333359,121.589127 24.8333359,121.312729 L24.8333359,54.4133301 C24.8333359,54.210228 24.956337,54.0266342 25.1448364,53.9504318 C25.3294296,53.8713302 25.5491333,53.9182281 25.6907348,54.0637283 L42.1907348,70.9631271 C42.3841323,71.1613311 42.3802337,71.4777298 42.1829299,71.6701278 C41.9856338,71.8654327 41.6692351,71.8596343 41.4759368,71.6623306 L25.8333359,55.640831 L25.8333359,121.312729 C25.8333359,121.589127 25.6097336,121.812729 25.3333359,121.812729 L25.3333359,121.812729 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M28.3333359,121.812729 C28.0569306,121.812729 27.8333359,121.589127 27.8333359,121.312729 L27.8333359,95.1125336 C27.8333359,94.9094315 27.956337,94.7258301 28.1448364,94.6496277 C28.3333359,94.5705338 28.5481338,94.6174317 28.6917343,94.7639313 L45.7415314,112.264832 C45.9339371,112.462128 45.9300309,112.778534 45.7317353,112.971931 C45.535431,113.16523 45.2200318,113.160431 45.0247346,112.962128 L28.833336,96.3420334 L28.833336,121.312729 C28.8333359,121.589127 28.6097336,121.812729 28.3333359,121.812729 L28.3333359,121.812729 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M20.8333359,91.6262283 L20.8333359,13.3127308 C20.8333359,13.0363312 21.0569306,12.8127308 21.3333359,12.8127308 C21.6097336,12.8127308 21.8333359,13.0363312 21.8333359,13.3127308 L21.8333359,91.8127308 C21.8333359,91.9328327 21.7903366,92.049036 21.7112351,92.1398335 L20.8333359,91.6262283 L20.8333359,91.6262283 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M28.3333359,96.8127289 C28.0569306,96.8127289 27.8333359,96.5891342 27.8333359,96.3127289 L27.8333359,57.3127289 C27.8333359,57.0363312 28.0569306,56.8127289 28.3333359,56.8127289 C28.6097336,56.8127289 28.8333359,57.0363312 28.8333359,57.3127289 L28.8333359,96.3127289 C28.8333359,96.5891342 28.6097336,96.8127289 28.3333359,96.8127289 L28.3333359,96.8127289 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M31.3333359,121.812729 C31.0569306,121.812729 30.8333359,121.589127 30.8333359,121.312729 L30.8333359,98.3127289 C30.8333359,98.0363312 31.0569306,97.8127289 31.3333359,97.8127289 C31.6097336,97.8127289 31.8333359,98.0363312 31.8333359,98.3127289 L31.8333359,121.312729 C31.8333359,121.589127 31.6097336,121.812729 31.3333359,121.812729 L31.3333359,121.812729 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M18.3333359,121.812729 C18.0569306,121.812729 17.8333321,121.589127 17.8333321,121.312729 L17.8333321,95.3127289 C17.8333321,95.0363312 18.0569306,94.8127289 18.3333359,94.8127289 C18.6097336,94.8127289 18.8333359,95.0363312 18.8333359,95.3127289 L18.8333359,121.312729 C18.8333359,121.589127 18.6097336,121.812729 18.3333359,121.812729 L18.3333359,121.812729 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M42.0335312,76.9133301 C41.905632,76.9133301 41.7776337,76.8645325 41.6800308,76.7668305 L28.4798355,63.5666275 C28.2845306,63.3713303 28.2845306,63.0549316 28.4798355,62.8596344 C28.6751327,62.6643295 28.9915314,62.6643295 29.1868362,62.8596344 L42.3870315,76.0598297 C42.5823364,76.2551346 42.5823364,76.5715332 42.3870315,76.7668304 C42.2894363,76.8645325 42.1614304,76.9133301 42.0335312,76.9133301 L42.0335312,76.9133301 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M45.3333359,117.612534 C45.2034302,117.612534 45.0735321,117.562729 44.9759369,117.462128 L31.4759369,103.662331 C31.2825317,103.465034 31.2864304,103.148628 31.4837341,102.95533 C31.68293,102.762932 31.9983368,102.764831 32.1907348,102.963127 L45.6907348,116.762924 C45.8841323,116.960236 45.8802337,117.276627 45.6829299,117.469925 C45.5853348,117.564728 45.4593353,117.612534 45.3333359,117.612534 L45.3333359,117.612534 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M37.6331329,43.9133301 C37.5091324,43.9133301 37.3841324,43.8674317 37.2874298,43.7746315 L21.4876328,28.6740303 C21.2884369,28.4836311 21.2806321,28.1672325 21.4720307,27.9670296 C21.6624299,27.7688294 21.980835,27.7600327 22.1790314,27.9514313 L37.9788361,43.0520325 C38.178032,43.2424317 38.1858368,43.5588303 37.9944306,43.7590294 C37.8968353,43.8615303 37.7649307,43.9133301 37.6331329,43.9133301 L37.6331329,43.9133301 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M37.6331329,39.5129318 C37.5052337,39.5129318 37.3782348,39.4641304 37.280632,39.3674316 L21.480835,23.6672325 C21.2854309,23.4729309 21.2845307,23.1560325 21.4788361,22.9602318 C21.6731339,22.764431 21.9896317,22.7634316 22.1858368,22.9582291 L37.9856339,38.658432 C38.1810303,38.8527298 38.1819306,39.1691322 37.9876328,39.3654327 C37.8899307,39.4641304 37.7620316,39.5129318 37.6331329,39.5129318 L37.6331329,39.5129318 Z" id="Shape" fill="#2E3147"></path>
                            <path d="M28.8333359,26.3127327 C28.7112351,26.3127327 28.5892334,26.2683296 28.4935303,26.1789322 L21.4935303,19.6789322 C21.2903366,19.4914322 21.2786331,19.1750298 21.4671326,18.9724312 C21.6556321,18.7702313 21.9729309,18.759531 22.1731339,18.9465313 L29.1731339,25.4465294 C29.3763352,25.6340294 29.3880311,25.9504318 29.1995316,26.1530304 C29.1009369,26.2590294 28.9671326,26.3127327 28.8333359,26.3127327 L28.8333359,26.3127327 Z" id="Shape" fill="#2E3147"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </symbol>
    <symbol id="home" viewBox="0 0 506 510">
        <path d="M448.600006,492.700012 L448.600006,236.299988 L253,66.1999817 L57.4000015,236.299988 L57.4000015,492.700012 L0.3,492.700012 L0.3,509 L505.699994,509 L505.699994,492.700012 L448.600006,492.700012 L448.600006,492.700012 Z M310.100006,492.700012 L195.899994,492.700012 L195.899994,329.700012 L310,329.700012 L310,492.700012 L310.100006,492.700012 L310.100006,492.700012 Z M432.299988,492.700012 L326.299988,492.700012 L326.299988,313.399994 L179.600006,313.399994 L179.600006,492.700012 L73.6000061,492.700012 L73.6000061,243.699997 L253,87.7999878 L432.299988,243.699982 L432.299988,492.700012 L432.299988,492.700012 Z"></path>
        <path d="M13.7999992,229.899979 L253,22.5999851 L492.200012,229.899988 L502.900024,217.599985 L253,0.9999853 L147,92.7999878 L147,3.5999851 L81.8000031,3.5999851 L81.8000031,149.299982 L3.0999999,217.599991 L13.7999992,229.899979 L13.7999992,229.899979 Z M98.0999985,19.8999844 L130.699997,19.8999844 L130.699997,106.899984 L98.0999985,135.19998 L98.0999985,19.8999844 L98.0999985,19.8999844 Z"></path>
        <rect id="Rectangle-path" x="244.800003" y="199.299988" width="16.3000031" height="16.3000031"></rect>
        <rect id="Rectangle-path" x="277.5" y="199.299988" width="16.2999878" height="16.3000031"></rect>
        <rect id="Rectangle-path" x="212.199997" y="199.299988" width="16.3000031" height="16.3000031"></rect>
    </symbol>
    <symbol id="houses" viewBox="0 0 64 64">
        <path d="M62.4499969,63.2599869 L1.5499992,63.2599869 C0.9499988,63.2599869 0.5499992,62.8599854 0.5499992,62.2599869 C0.5499992,61.6599884 0.9499988,61.2599869 1.5499992,61.2599869 L62.4499969,61.2599869 C63.0499954,61.2599869 63.4499969,61.6599884 63.4499969,62.2599869 C63.4499969,62.8599854 62.9499969,63.2599869 62.4499969,63.2599869 L62.4499969,63.2599869 Z" ></path>
        <path d="M31.25,62.7599869 C30.6500015,62.7599869 30.25,62.3599854 30.25,61.7599869 L30.25,2.5599861 L8.5499992,2.5599861 L8.5499992,61.7599869 C8.5499992,62.3599854 8.1499996,62.7599869 7.5499992,62.7599869 C6.9499988,62.7599869 6.5499992,62.3599854 6.5499992,61.7599869 L6.5499992,1.5599861 C6.5499992,0.9599857 6.9499988,0.5599861 7.5499992,0.5599861 L31.25,0.5599861 C31.8499985,0.5599861 32.25,0.9599857 32.25,1.5599861 L32.25,61.7599869 C32.25,62.3599854 31.8499985,62.7599869 31.25,62.7599869 L31.25,62.7599869 Z" ></path>
        <path d="M56.0500031,62.7599869 C55.4500046,62.7599869 55.0500031,62.3599854 55.0500031,61.7599869 L55.0500031,34.1599846 L37.0500031,34.1599846 L37.0500031,61.8599854 C37.0500031,62.4599839 36.6500016,62.8599854 36.0500031,62.8599854 C35.4500046,62.8599854 35.0500031,62.4599839 35.0500031,61.8599854 L35.0500031,33.1599846 C35.0500031,32.5599861 35.4500046,32.1599846 36.0500031,32.1599846 L56.0500031,32.1599846 C56.6500016,32.1599846 57.0500031,32.5599861 57.0500031,33.1599846 L57.0500031,61.8599854 C57.0500031,62.3599854 56.5500031,62.7599869 56.0500031,62.7599869 L56.0500031,62.7599869 Z" ></path>
        <path d="M14.4500008,13.8599854 C13.8500004,13.8599854 13.4500008,13.4599839 13.4500008,12.8599854 L13.4500008,8.1599846 C13.4500008,7.5599842 13.8500004,7.1599846 14.4500008,7.1599846 C15.0500031,7.1599846 15.4500008,7.5599842 15.4500008,8.1599846 L15.4500008,12.8599854 C15.4500008,13.3599854 15.0499992,13.8599854 14.4500008,13.8599854 L14.4500008,13.8599854 Z" ></path>
        <path d="M14.4500008,24.5599861 C13.8500004,24.5599861 13.4500008,24.1599846 13.4500008,23.5599861 L13.4500008,18.8599853 C13.4500008,18.2599868 13.8500004,17.8599853 14.4500008,17.8599853 C15.0500031,17.8599853 15.4500008,18.2599868 15.4500008,18.8599853 L15.4500008,23.5599861 C15.4500008,24.1599846 15.0499992,24.5599861 14.4500008,24.5599861 L14.4500008,24.5599861 Z" ></path>
        <path d="M14.4500008,35.3599854 C13.8500004,35.3599854 13.4500008,34.9599839 13.4500008,34.3599854 L13.4500008,29.6599846 C13.4500008,29.0599861 13.8500004,28.6599846 14.4500008,28.6599846 C15.0500031,28.6599846 15.4500008,29.0599861 15.4500008,29.6599846 L15.4500008,34.3599854 C15.4500008,34.8599854 15.0499992,35.3599854 14.4500008,35.3599854 L14.4500008,35.3599854 Z" ></path>
        <path d="M14.4500008,46.0599823 C13.8500004,46.0599823 13.4500008,45.6599808 13.4500008,45.0599823 L13.4500008,40.3599854 C13.4500008,39.7599869 13.8500004,39.3599854 14.4500008,39.3599854 C15.0500031,39.3599854 15.4500008,39.7599869 15.4500008,40.3599854 L15.4500008,45.0599823 C15.4500008,45.6599884 15.0499992,46.0599823 14.4500008,46.0599823 L14.4500008,46.0599823 Z" ></path>
        <path d="M14.4500008,56.7599869 C13.8500004,56.7599869 13.4500008,56.3599854 13.4500008,55.7599869 L13.4500008,51.05999 C13.4500008,50.4599915 13.8500004,50.05999 14.4500008,50.05999 C15.0500031,50.05999 15.4500008,50.4599915 15.4500008,51.05999 L15.4500008,55.7599869 C15.4500008,56.3599854 15.0499992,56.7599869 14.4500008,56.7599869 L14.4500008,56.7599869 Z" ></path>
        <path d="M19.25,13.8599854 C18.6500015,13.8599854 18.25,13.4599839 18.25,12.8599854 L18.25,8.1599846 C18.25,7.5599842 18.6500015,7.1599846 19.25,7.1599846 C19.8499985,7.1599846 20.25,7.5599842 20.25,8.1599846 L20.25,12.8599854 C20.25,13.3599854 19.8499985,13.8599854 19.25,13.8599854 L19.25,13.8599854 Z" ></path>
        <path d="M19.25,24.5599861 C18.6500015,24.5599861 18.25,24.1599846 18.25,23.5599861 L18.25,18.8599853 C18.25,18.2599868 18.6500015,17.8599853 19.25,17.8599853 C19.8499985,17.8599853 20.25,18.2599868 20.25,18.8599853 L20.25,23.5599861 C20.25,24.1599846 19.8499985,24.5599861 19.25,24.5599861 L19.25,24.5599861 Z" ></path>
        <path d="M19.25,35.3599854 C18.6500015,35.3599854 18.25,34.9599839 18.25,34.3599854 L18.25,29.6599846 C18.25,29.0599861 18.6500015,28.6599846 19.25,28.6599846 C19.8499985,28.6599846 20.25,29.0599861 20.25,29.6599846 L20.25,34.3599854 C20.25,34.8599854 19.8499985,35.3599854 19.25,35.3599854 L19.25,35.3599854 Z" ></path>
        <path d="M19.25,46.0599823 C18.6500015,46.0599823 18.25,45.6599808 18.25,45.0599823 L18.25,40.3599854 C18.25,39.7599869 18.6500015,39.3599854 19.25,39.3599854 C19.8499985,39.3599854 20.25,39.7599869 20.25,40.3599854 L20.25,45.0599823 C20.25,45.6599884 19.8499985,46.0599823 19.25,46.0599823 L19.25,46.0599823 Z" ></path>
        <path d="M19.25,56.7599869 C18.6500015,56.7599869 18.25,56.3599854 18.25,55.7599869 L18.25,51.05999 C18.25,50.4599915 18.6500015,50.05999 19.25,50.05999 C19.8499985,50.05999 20.25,50.4599915 20.25,51.05999 L20.25,55.7599869 C20.25,56.3599854 19.8499985,56.7599869 19.25,56.7599869 L19.25,56.7599869 Z" ></path>
        <path d="M24.0499992,13.8599854 C23.4500007,13.8599854 23.0499992,13.4599839 23.0499992,12.8599854 L23.0499992,8.1599846 C23.0499992,7.5599842 23.4500007,7.1599846 24.0499992,7.1599846 C24.6499977,7.1599846 25.0499992,7.5599842 25.0499992,8.1599846 L25.0499992,12.8599854 C25.0499992,13.3599854 24.5499992,13.8599854 24.0499992,13.8599854 L24.0499992,13.8599854 Z" ></path>
        <path d="M24.0499992,24.5599861 C23.4500007,24.5599861 23.0499992,24.1599846 23.0499992,23.5599861 L23.0499992,18.8599853 C23.0499992,18.2599868 23.4500007,17.8599853 24.0499992,17.8599853 C24.6499977,17.8599853 25.0499992,18.2599868 25.0499992,18.8599853 L25.0499992,23.5599861 C25.0499992,24.1599846 24.5499992,24.5599861 24.0499992,24.5599861 L24.0499992,24.5599861 Z" ></path>
        <path d="M41.25,46.0599823 C40.6500015,46.0599823 40.25,45.6599808 40.25,45.0599823 L40.25,40.3599854 C40.25,39.7599869 40.6500015,39.3599854 41.25,39.3599854 C41.8499985,39.3599854 42.25,39.7599869 42.25,40.3599854 L42.25,45.0599823 C42.25,45.6599884 41.75,46.0599823 41.25,46.0599823 L41.25,46.0599823 Z" ></path>
        <path d="M41.25,56.7599869 C40.6500015,56.7599869 40.25,56.3599854 40.25,55.7599869 L40.25,51.05999 C40.25,50.4599915 40.6500015,50.05999 41.25,50.05999 C41.8499985,50.05999 42.25,50.4599915 42.25,51.05999 L42.25,55.7599869 C42.25,56.3599854 41.75,56.7599869 41.25,56.7599869 L41.25,56.7599869 Z" ></path>
        <path d="M45.9500008,46.0599823 C45.3500023,46.0599823 44.9500008,45.6599808 44.9500008,45.0599823 L44.9500008,40.3599854 C44.9500008,39.7599869 45.3500023,39.3599854 45.9500008,39.3599854 C46.5500031,39.3599854 46.949997,39.7599869 46.949997,40.3599854 L46.949997,45.0599823 C46.9499969,45.6599884 46.5500031,46.0599823 45.9500008,46.0599823 L45.9500008,46.0599823 Z" ></path>
        <path d="M45.9500008,56.7599869 C45.3500023,56.7599869 44.9500008,56.3599854 44.9500008,55.7599869 L44.9500008,51.05999 C44.9500008,50.4599915 45.3500023,50.05999 45.9500008,50.05999 C46.5500031,50.05999 46.949997,50.4599915 46.949997,51.05999 L46.949997,55.7599869 C46.9499969,56.3599854 46.5500031,56.7599869 45.9500008,56.7599869 L45.9500008,56.7599869 Z" ></path>
        <path d="M50.75,46.0599823 C50.1500015,46.0599823 49.75,45.6599808 49.75,45.0599823 L49.75,40.3599854 C49.75,39.7599869 50.1500015,39.3599854 50.75,39.3599854 C51.3499985,39.3599854 51.75,39.7599869 51.75,40.3599854 L51.75,45.0599823 C51.75,45.6599884 51.25,46.0599823 50.75,46.0599823 L50.75,46.0599823 Z" ></path>
        <path d="M50.75,56.7599869 C50.1500015,56.7599869 49.75,56.3599854 49.75,55.7599869 L49.75,51.05999 C49.75,50.4599915 50.1500015,50.05999 50.75,50.05999 C51.3499985,50.05999 51.75,50.4599915 51.75,51.05999 L51.75,55.7599869 C51.75,56.3599854 51.25,56.7599869 50.75,56.7599869 L50.75,56.7599869 Z" ></path>
        <path d="M24.0499992,35.3599854 C23.4500007,35.3599854 23.0499992,34.9599839 23.0499992,34.3599854 L23.0499992,29.6599846 C23.0499992,29.0599861 23.4500007,28.6599846 24.0499992,28.6599846 C24.6499977,28.6599846 25.0499992,29.0599861 25.0499992,29.6599846 L25.0499992,34.3599854 C25.0499992,34.8599854 24.5499992,35.3599854 24.0499992,35.3599854 L24.0499992,35.3599854 Z" ></path>
        <path d="M24.0499992,46.0599823 C23.4500007,46.0599823 23.0499992,45.6599808 23.0499992,45.0599823 L23.0499992,40.3599854 C23.0499992,39.7599869 23.4500007,39.3599854 24.0499992,39.3599854 C24.6499977,39.3599854 25.0499992,39.7599869 25.0499992,40.3599854 L25.0499992,45.0599823 C25.0499992,45.6599884 24.5499992,46.0599823 24.0499992,46.0599823 L24.0499992,46.0599823 Z" ></path>
        <path d="M24.0499992,56.7599869 C23.4500007,56.7599869 23.0499992,56.3599854 23.0499992,55.7599869 L23.0499992,51.05999 C23.0499992,50.4599915 23.4500007,50.05999 24.0499992,50.05999 C24.6499977,50.05999 25.0499992,50.4599915 25.0499992,51.05999 L25.0499992,55.7599869 C25.0499992,56.3599854 24.5499992,56.7599869 24.0499992,56.7599869 L24.0499992,56.7599869 Z" ></path>
    </symbol>
    <symbol id="present" viewBox="0 0 60 60">
        <path d="M31.1215363,11.3272476 C29.6538506,6.5392475 26.9292374,3.5357618 23.9624386,1.9488616 C18.0512391,-1.2132387 9.0209389,1.2994618 10.0268517,8.9630613 C10.363739,11.5230617 12.0668516,14.5240612 15.788538,17.6344604 L1.2709389,17.6324615 L1.2709389,58.2472457 L58.9028511,58.2472457 L58.9028511,17.6324615 L44.6860352,17.6344604 C46.355938,16.1075611 47.2983361,14.4957618 47.6733361,12.9688606 C49.1088486,7.1373615 43.2680359,3.5001611 38.0834351,5.2081613 C35.7065354,5.9908619 33.2016373,7.8878612 31.1215363,11.3272476 Z" id="Shape" stroke="#2C363D" fill="#F3F2F1"></path>
        <path d="M44.643177,9.7675972 C43.5347786,14.2763977 38.0874786,15.4658966 34.1079788,15.4662972 C35.8774795,10.3417969 38.3589783,7.8945971 40.6079788,7.1533976 C42.489891,6.5336971 45.2427787,7.3310976 44.643177,9.7675972 Z" id="Shape" stroke="#2C363D" fill="#F3F2F1"></path>
        <path d="M26.5319347,15.4662971 C21.2546349,15.4658966 13.7819347,12.2822971 12.9870338,6.2348976 C12.4782343,2.3578972 17.9440346,2.1655974 20.6061344,3.5898971 C23.512434,5.144597 26.0973339,8.8202972 26.5319347,15.4662971 Z" id="Shape" stroke="#2C363D" fill="#F3F2F1"></path>
        <path d="M48.2709351,17.6344604 L15.7885361,17.6344604" id="Shape" stroke="#2C363D" fill="#F3F2F1"></path>
        <path d="M30.086895,58.5101395 L30.086895,17.6344604" id="Shape" stroke="#2C363D" fill="#F3F2F1"></path>
    </symbol>
    <symbol id="plus-sign" viewBox="0 0 477 477">
        <path d="M238.369,0 C106.726,0 0,106.726 0,238.369 C0,370.044 106.726,476.738 238.369,476.738 C370.044,476.738 476.738,370.044 476.738,238.369 C476.737,106.726 370.043,0 238.369,0 L238.369,0 Z M365.499,254.26 L254.26,254.26 L254.26,365.499 C254.26,374.239 247.109,381.39 238.369,381.39 C229.597,381.39 222.478,374.239 222.478,365.499 L222.478,254.26 L111.239,254.26 C102.467,254.26 95.348,247.109 95.348,238.369 C95.348,229.597 102.467,222.478 111.239,222.478 L222.478,222.478 L222.478,111.239 C222.478,102.467 229.597,95.348 238.369,95.348 C247.109,95.348 254.26,102.467 254.26,111.239 L254.26,222.478 L365.499,222.478 C374.239,222.478 381.39,229.597 381.39,238.369 C381.39,247.109 374.239,254.26 365.499,254.26 L365.499,254.26 Z"></path>
    </symbol>
</svg>