.el {

  &-map-check {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 3.125vw;
    }

    input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }

    label {
      display: inline-block;
      vertical-align: middle;
      font-family: 'PT Serif';
      font-weight: 600;
      font-size: 2.8vw;
      color: white;
      text-transform: uppercase;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 3.91vw;
        height: 3.91vw;
        border: 0.32vw solid $c_gold;
        margin-right: 6.25vw;
      }
    }

    &.active {
      label {
        //

        &:before {
          background-color: $c_gold;
        }
      }
    }
  }

  &-address {
    display: inline-block;
    font-size: 3.44vw;
    font-style: italic;
    color: $c_gray;

    &.blue {
      color: $c_d_blue;

      &:before {
        content: '';
        display: inline-block;
        width: 2.5vw;
        height: 3.59vw;
        background-image: url('../img/svg/pointmap_blue.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 1.56vw;
        position: relative;
        top: 1px;
      }
    }

    @media only screen and (min-width: 769px) {
      font-size: 22px;

      &.blue:before {
        width: 16px;
        height: 23px;
        margin-right: 10px;
      }
    }
  }


  // whatsapp voice message
  &-wa-vm {
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 2.8vw;

      svg {
        width: 5.62vw;
        height: 5.62vw;
      }
    }
    &__text {
      font-size: 2.8vw;
      color: $c_d_blue;
      border-bottom: 1px solid alpha($c_d_blue, 40%);

      // mods
      &.white {
        color: white;
        border-bottom: 1px solid alpha(white, 40%);
      }
    }

    @media only screen and (min-width: 769px) {
      justify-content: center;

      &__icon {
        margin-right: 18px;

        svg {
          width: 36px;
          height: 36px;
        }
      }
      &__text {
        font-size: 18px;
      }
    }
  }


  // metro
  &-metro {
    font-size: 3.44vw;
    font-weight: 600;
    color: $c_d_blue;

    &__icon {
      display: inline-block;
      margin-right: 1.41vw;
      position: relative;
      top: 0.32vw;

      svg {
        width: 4.375vw;
        height: 3.125vw;
        fill: $c_red;
      }
    }
    &__name {
      color: #91b71c;
    }
    &__region {
      display: inline-block;
      margin-left: 0.78vw;
      color: $c_red;
    }

    @media only screen and (min-width: 769px) {
      font-size: 22px;

      &__icon {
        margin-right: 9px;
        top: 2px;

        svg {
          width: 28px;
          height: 20px;
        }
      }
      &__region {
        margin-left: 5px;
      }
    }
  }



  // infoscription
  &-infoscription {
    background-color: #eeeeee;
    border-bottom: 1px solid white;
    padding: 6.25vw 12.5vw 7.03vw
    text-align: center;

    &__img {
      display: inline-block;
      margin-bottom: 3.125vw;

      img {
        width: 10.94vw;
        height: 10.94vw;
      }

      &:after {
        content: '';
        display: block;
        width: 18.75vw;
        height: 0.32vw;
        background-color: $c_gold;
        margin-top: 1.875vw;
      }
    }

    &__title {
      font-size: 2.5vw;
      font-weight: 600;
      color: $c_d_blue;
      letter-spacing: 0.47vw;
      text-transform: uppercase;
      margin-bottom: 3.44vw;
    }

    &__text {
      font-size: 2.34vw;
      color: $c_d_blue;
      line-height: 1.3;
      text-align: justify;
    }
  }


  // subcut link
  &-subcut {
    text-align: center;

    &__link {
      display: inline-block;

      // mods
      &.opened {
        .el-subcut {
          &__link-icon {
            transform: rotate(45deg);
          }
          &__link-text {
            border-color: alpha($c_gold, 0);
          }
        }
      }
    }

    &__link-text {
      display: inline-block;
      font-size: 3.75vw;
      color: $c_gold;
      border-bottom: 1px solid alpha($c_gold, 40%);
      margin-bottom: 4.69vw;
      transition: border-color 0.2s ease-in-out;
    }

    &__link-icon {
      display: inline-block;
      transition: 0.2s ease-in-out;

      svg {
        width: 5.62vw;
        height: 5.62vw;
        fill: $c_gold;
      }
    }

    &__content {
      text-align: left;
      display: none;
    }

    @media only screen and (min-width: 769px) {

      &__link-text {
        font-size: 24px;
        margin-bottom: 20px;
      }

      &__link-icon svg {
        width: 36px;
        height: 36px;
      }
    }
  }



  // square range
  &-range {
    border-top: 1px solid $c_gold;
    padding: 3.91vw 0;

    &__gold-line {
      display: block;
      width: 100%;
      height: 0.5vw;
      background-color: #afa570;
      position: absolute;
      top: 2.2vw;
    }

    &__title {
      font-size: 2.19vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
      margin-bottom: 3.91vw;
    }

    &__squares {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    &__squares-item {
      width: 4.69vw;
      text-align: center;
      position: relative;

      // not first and not last
      &:not(:last-child), &:not(:first-child) {
        .el-range__value {
          width: 15.6vw;
          position: relative;
          left: calc(50% - 7.8vw);
        }
      }

      // first
      &:first-child {
        text-align: left;

        .el-range__value {
          display: inline-block;
          left: 0;
        }
      }

      // last
      &:last-child {
        text-align: right;
        clearfix();

        .el-range__value {
          display: inline-block;
          left: 0;
          float: right;
        }
      }

      &.active {
        .el-range__square {
          background-color: $c_gold;
        }
      }
    }

    &__square {
      display: inline-block
      width: 4.69vw;
      height: 4.69vw;
      background-color: #f7f6f6;
      border: 0.47vw solid $c_gold;
    }

    &__value {
      display: block;
      font-family: 'PT Serif';
      font-size: 2.5vw;
      color: $c_gold;
      margin-top: 0.78vw;
    }
  }



  // broker
  &-broker {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__photo {
      width: 21.25vw;

      &-wrap {
        width: 21.25vw;
        height: 21.25vw;
        border-radius: 50%;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
        }
      }
    }

    &__middle {
      width: 51.56vw;
      padding-left: 3.125vw;
    }
    &__title {
      font-family: 'PT Serif';
      font-size: 4.06vw;
      font-style: italic;
      color: $c_gold;
      letter-spacing: 0.156vw;
    }
    &__name {
      font-size: 3.75vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
      margin-top: 0.78vw;
    }

    &__call {
      width: 15.6vw;
    }

    @media only screen and (min-width: 769px) {
      max-width: 700px;
      margin: 0 auto;

      &__photo {
        width: 136px;

        &-wrap {
          width: 136px;
          height: 136px;
        }
      }
      &__middle {
        padding-left: 20px;
      }
      &__title {
        font-size: 26px;
      }
      &__name {
        font-size: 24px;
      }
      &__call {
        width: 74px;
      }
    }
  }


  // droplist
  &-droplist {

    span {
      overflow: hidden;
      white-space: nowrap;
      max-width: 31.25vw;
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
    }

    select {
      display: none;
    }

    &__ul {
      clearfix();
    }

    &__li {
      width: 50%;
      float: left;
    }

    &__list {
      display: none;
      width: 100%;
      background-color: $c_d_blue;
      position: absolute;
      left: 0;
      z-index: 50;
      padding: 5.47vw 0 1.56vw;
      clearfix();

      &-left {
        width: 50%;
        float: left;
      }
      &-right {
        width: 50%;
        float: right;
      }

      ul {
        li {
          padding: 0 3.125vw 0 9.375vw;

          a {
            display: inline-block;
            line-height: 1.2;
            font-family: 'PT Serif';
            font-size: 2.8vw;
            font-weight: normal;
            color: white;
            text-transform: uppercase;
          }

          &.active {
            a {
              color: $c_gold;
              text-decoration: underline;
            }
          }

          &:not(:last-child) {
            margin-bottom: 4.375vw;
          }
        }
      }
    }


    // modificators
    &.column {
      top: calc(100% + 0.32vw);

      ul {
        li {
          display: block;
          text-align: center;
          padding: 0;
        }
      }
    }

    @media only screen and (min-width: 769px) {

      span {
        max-width: 300px;
      }

      &__list {
        width: 780px;
        padding: 35px 0;
        margin: 0 calc((100% - 780px) / 2)

        ul {
          li {
            padding: 0 20px 0 60px;

            a {
              line-height: 1.3;
              font-size: 18px;
            }

            &:not(:last-child) {
              margin-bottom: 28px;
            }
          }
        }

        // modificators
        &.column {
          top: calc(100% + 2px);
        }
      }
    }
  }


  // -live-result
  &-live-result {
    padding: 3.125vw 3.125vw 3.125vw 7.03vw;
    position: relative;

    &__name {
      font-size: 2.8vw;
      color: $c_d_blue;
      margin-bottom: 1.875vw;
    }
    &__info {
      font-size: 2.5vw;
      color: $c_d_blue;
      margin-bottom: 1.875vw;
    }
    &__bottom {
      font-size: 2.19vw;
      color: #9e9e9e;

      span {
        color: $c_gold;
      }
    }
    &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__count {
      font-size: 14px;
      font-weight: 600;
      color: $c_gold;
      text-transform: uppercase;
      background-color: #f3f2f1;
      padding: 1.25vw 3.125vw 1.25vw 7.03vw;
    }

    // mods
    &_district {
      .el-live-result__name {
        margin-bottom: 0 !important;
      }
    }

    @media only screen and (min-width: 769px) {
      padding: 20px 20px 20px 45px;

      &__name {
        font-size: 18px;
        margin-bottom: 12px;
      }
      &__info {
        font-size: 16px;
        margin-bottom: 12px;
      }
      &__bottom {
        font-size: 14px;
      }

      &__count {
        font-size: 2.19vw;
        padding: 8px 20px 8px 45px;
      }
    }
  }
}