// Proxima Nova

  // regular
  @font-face {
    font-family: 'Proxima Nova';
    src:
      url('../fonts/ProximaNova/ProximaNovaRegular.otf')  format('opentype');
      //url('../fonts/ProximaNova/ProximaNovaRegular.ttf')  format('truetype'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.woff') format('woff'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.svg#Philosopher') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  // italic
  //@font-face {
  //  font-family: 'Proxima Nova';
  //  src:
  //    url('../fonts/ProximaNova/ProximaNovaRegularItalic.otf')  format('opentype');
  //    //url('../fonts/ProximaNova/ProximaNovaRegular.ttf')  format('truetype'),
  //    //url('../fonts/ProximaNova/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
  //    //url('../fonts/ProximaNova/ProximaNovaRegular.woff') format('woff'),
  //    //url('../fonts/ProximaNova/ProximaNovaRegular.svg#Philosopher') format('svg');
  //  font-weight: normal;
  //  font-style: italic;
  //}

  // semibold
  @font-face {
    font-family: 'Proxima Nova';
    src:
      url('../fonts/ProximaNova/ProximaNovaSemibold.otf')  format('opentype');
      //url('../fonts/ProximaNova/ProximaNovaRegular.ttf')  format('truetype'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.woff') format('woff'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.svg#Philosopher') format('svg');
    font-weight: 500;
    font-style: normal;
  }

  // bold
  @font-face {
    font-family: 'Proxima Nova';
    src:
      url('../fonts/ProximaNova/ProximaNovaBold.otf')  format('opentype');
      //url('../fonts/ProximaNova/ProximaNovaRegular.ttf')  format('truetype'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.woff') format('woff'),
      //url('../fonts/ProximaNova/ProximaNovaRegular.svg#Philosopher') format('svg');
    font-weight: 600;
    font-style: normal;
  }