.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  clearfix();

  &__inner {
    width: 100%;
    height: 12.5vw;
    background-color: #fff;
    box-shadow: 0 0 1.56vw alpha(black, 15%);
    margin: 0 auto;
  }

  &__logo {
    width: 12.5vw;
    height: 100%;
    background-color: $c_d_blue;
    float: left;

    .svg__logo {
      width: 12.5vw;
      height: 12.5vw;
      fill: white;
      position: relative;
      top: 2.35vw;
    }
  }

  &__open-menu {
    width: 12.5vw;
    height: 100%;
    border-right: 1px solid alpha(black, 10%);
    padding: 4.7vw 3.76vw;
    float: left;
  }

  &__discount {
    width: 25vw;
    height: 100%;
    color: $c_gold;
    text-align: center;
    border-right: 1px solid alpha(black, 10%);
    padding: 3.7vw 0 0;
    float: left;

    &-text {
      display: inline-block;
      vertical-align: middle;
      font-family: 'Proxima Nova';
      font-size: 2.8vw;
      font-weight: 600;
      text-transform: uppercase;
      margin-right: 1.1vw;
    }
    &-percent {
      display: inline-block;
      vertical-align: middle;
      font-family: 'PT Serif';
      font-size: 5.62vw;
      position: relative;
      top: -0.48vw;
    }
  }

  &__call {
    width: 50vw;
    height: 100%;
    text-align: center;
    padding-top: 3.75vw;
    float: left;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 3.91vw;
      height: 5.156vw;
      background-image: url('../img/phone-icon.png');
      background-size: 100%;
      background-repeat: no-repeat;
      margin-left: 3.125vw;
      position: relative;
      top: -0.32vw;
    }

    &-text {
      display: inline-block;
      vertical-align: middle;
      font-size: 2.8vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
    }
  }


  &__menu {
    display: none;
    width: 100%;
    max-height: calc(100vh - 12.5vw);
    background-color: $c_d_blue;
    padding: 14.06vw 0 7.03vw;
    position: absolute;
    top: 100%;
    left: 0;
    overflow-y: scroll;
  }
  &__menu-close {
    position: absolute;
    top: 5.47vw;
    right: 7.03vw;

    svg {
      width: 4.69vw;
      height: 4.69vw;
      fill: white;
    }
  }
  &__menu-list {
    //
  }
  &__menu-sublist {
    display: none;
    padding: 7.19vw 0 0;
  }
  &__menu-item {
    display: block;
    font-size: 4.69vw;
    font-weight: 600;
    color: white;
    line-height: 1;
    text-transform: uppercase;
    padding: 3.75vw 0 3.44vw 15.6vw;
    position: relative;


    & > a {
      color: white;

      svg {
        display: inline-block;
        vertical-align: middle;
        width: 3.59vw;
        height: 7.5vw;
        position: relative;
        top: -0.47vw;
        margin-right: 0.78vw;
      }
    }

    &.has-list:after {
      content: '';
      width: 3.44vw;
      height: 5vw;
      background-image: url('../img/svg/menu-chevron.svg');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 3.44vw;
      right: 7.03vw;
      transition: transform 0.2s ease-in-out;
    }

    &.opened {
      &:after {
        transform: rotate(90deg);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #3c4344;
    }
  }
  &__menu-subitem {
    line-height: 1;
    padding-left: 3.125vw;

    a {
      color: $c_gold;
    }

    &:not(:last-child) {
      margin-bottom: 5.31vw;
    }
  }



  // media
  @media only screen and (min-width: 769px) {

    &__inner {
      height: 80px;
    }

    &__logo {
      width: 80px;

      .svg__logo {
        width: 80px;
        height: 80px;
        top: 15px;
      }
    }

    &__open-menu {
      width: 80px;
      padding: 28px 20px 0;
    }

    &__discount {
      width: calc(100% - 80px - 290px - 80px);
      padding: 24px 40px 0 0;
      text-align: right;

      &-text {
        font-size: 18px;
        margin-right: 10px;
      }
      &-percent {
        font-size: 36px;
        top: -3px;
      }
    }

    &__call {
      width: 290px;
      padding-top: 25px;

      &:after {
        width: 26px;
        height: 34px;
        margin-left: 10px;
        top: -3px;
      }

      &-text {
        font-size: 18px;
      }
    }

    &__menu {
      max-height: calc(100vh - 80px);
      padding: 90px 0 45px;
    }
    &__menu-close {
      top: 35px;
      right: 45px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
    &__menu-sublist {
      padding: 46px 0 0;
    }
    &__menu-item {
      font-size: 30px;
      padding: 24px 0 22px 80px;

      &.has-list:after {
        width: 22px;
        height: 32px;
        top: 22px;
        right: 45px;
      }

      a {
        svg {
          width: 23px;
          height: 48px;
          position: relative;
          top: -3px;
          margin-right: 10px;
        }
      }
    }
    &__menu-subitem {
      padding-left: 20px;

      &:not(:last-child) {
        margin-bottom: 34px;
      }
    }
  }
}