/* clearfix */
clearfix() {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

/* noSelect */
noSelect() {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}