.overlay {
  display: none;
  width: 100vw;
  max-height: 100vh - 12.5vw;
  background-color: $c_d_blue;
  position: fixed;
  top: 12.5vw;
  left: 0;
  overflow-y: scroll;
  z-index: 100;

  @media only screen and (min-width: 769px) {
    height: calc(100vh - 80px);
    top: 80px;
  }


  .popup {
    display: none;

    &__close {
      position: absolute;
      top: 5.47vw;
      right: 7.03vw;

      svg {
        width: 4.69vw;
        height: 4.69vw;
        fill: white;
      }
    }

    &__answer {
      font-size: 3.125vw;
      color: white;
      text-align: center;
      padding: 0 7.8vw;
    }
    @media only screen and (min-width: 769px) {
      &__close {
        top: 35px;
        right: 45px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    &_filter {
      .popup {
        //

        &__wrap {
          max-width: 62.5vw;
          padding: 7.8vw 0;
          margin: 0 auto;

          .filter-ext__ranges-item {
            background-color: transparent;
            padding: 0;

            &:first-child {
              .el-range {
                border-top: none;
              }
            }

            .el-range {
              //

              &__title {
                font-size: 3.75vw;
                color: white;
                text-align: center;
              }

              &__squares-item:not(.active) {
                .el-range {
                  &__square {
                    background-color: $c_d_blue;
                  }
                }
              }
            } // .el-range
          }
        } // &__wrap


        @media only screen and (min-width: 769px) {
          &__wrap {
            max-width: 62.5vw;
            margin: 0 auto;
          }
        }
      }
    } // &_filter
  }
}