* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

input {

  &::-webkit-input-placeholder { opacity: 1; transition: 0.2s ease-in-out; font-family: 'Proxima Nova' }
  &::-moz-placeholder          { opacity: 1; transition: 0.2s ease-in-out; font-family: 'Proxima Nova' }
  &:-ms-input-placeholder      { opacity: 1; transition: 0.2s ease-in-out; font-family: 'Proxima Nova' }

  &:focus {
    &::-webkit-input-placeholder { opacity: 0 }
    &::-moz-placeholder          { opacity: 0 }
    &:-ms-input-placeholder      { opacity: 0 }
  }
}

body {
  font-family: 'Proxima Nova';
  font-size: 1rem;
  line-height: 1;
  background-color: white;
}