.wrap {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 12.5vw;
  background-color: #fff;

  // media
  @media only screen and (min-width: 769px) {
    padding-top: 80px;
  }
}


.flags {
  text-align: center;
  margin-top: 1.56vw;

  &__item {
    display: inline-block;

    i {
      display: inline-block;
      font-size: 2.8vw;
      font-weight: 600;
      font-style: normal;
      color: $c_gold;
      text-transform: uppercase;
      margin-right: 3.2vw;

      &:before {
        content: '';
        display: inline-block;
        width: 13px;
        height: 16px;
        background-image: url('../img/svg/flag.png');
        background-size: cover;
        margin-right: 1.56vw;
      }
    }
  }
}


.tablet {
  display: none;

  // media
  @media only screen and (min-width: 769px) {
    display: block;
  }
}
.tablet_ib {
  display: none;

  // media
  @media only screen and (min-width: 769px) {
    display: inline-block;
  }
}
.mobile {
  // media
  @media only screen and (min-width: 769px) {
    display: none;
  }
}

// ui classes
.tac { text-align: center }
.ttu { text-transform: uppercase }
.no-margin { margin: 0 !important }
.select-triggered {
  //
  &_hide {
    display: none;
  }
}


.ui-tabs {
  &__inset {
    display: none;
  }
}


.more-desc {
  display: inline-block;
  font-family: 'PT Serif';
  font-size: 3.44vw;
  font-style: italic;
  color: $c_d_blue;
  line-height: 1;
  background-color: #f0edea;
  padding: 1.875vw 3.125vw 2.03vw;

  &__full {
    display: none;
  }

  @media only screen and (min-width: 769px) {
    font-size: 22px;
    padding: 12px 20px 11px;
  }
}


.footer-map {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 110%;
  transition: 0.3s ease-in-out;
  border-top: 1px solid alpha($c_gold, 50%);

  &__close {
    width: 25px;
    height: 25px;
    background-color: alpha($c_d_blue, 90%);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    text-align: center;
    padding-top: 7px;

    svg {
      width: 10px;
      height: 10px;
      fill: white;
    }

    @media only screen and (min-width: 769px) {
      width: 50px;
      height: 50px;
      padding-top: 15px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &.opened {
    left: 0;
  }
}



.hide-about {
  &_opened {
    overflow: visible !important;
    max-height: 100% !important;
  }
}

.ui-text {
  .p, & > p {
    font-family: 'PT Serif';
    font-size: 4.06vw;
    color: $c_d_blue;
    line-height: 1.4

    &_24 {
      font-size: 3.75vw;
    }

    & > strong {
      display: block;
      font-size: 5.31vw;
      color: $c_gold;
      line-height: 1.2
      text-transform: uppercase;
    }

    &:not(:last-child) {
      margin-bottom: 6.25vw;
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 6.25vw;
    }
    &:not(:first-child) {
      margin-top: 6.25vw;
    }
  }

  a {
    color: $c_blue;
  }

  & > ul {
    text-align: left;
    li {
      font-family: 'PT Serif';
      font-size: 4.06vw;
      color: $c_d_blue;
      line-height: 1.2;
      margin-bottom: 3.125vw;
    }
  }

  .h2, & > .lead {
    font-size: 5.31vw;
    color: $c_gold;
    line-height: 1.2
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 6.25vw;
    }
  }

  .h3 {
    font-size: 4.06vw;
    color: $c_gold;
    line-height: 1.3;
    text-transform: uppercase;

    &_gray {
      color: #a8a8a8;
    }

    &:not(:last-child) {
      margin-bottom: 4.69vw;
    }
  }

  .h4 {
    font-size: 4.06vw;
    color: $c_d_blue;
    line-height: 1.2;
  }

  // modificators
  &_blue-bg {
    background-color: $c_d_blue;

    .p {
      color: white;
    }

    .el-subcut {

      &__link-text {
        color: white;
        border-color: alpha(white, 40%);
      }

      &__link-icon svg {
        fill: white;
      }
    }
  }

  @media only screen and (min-width: 769px) {
    .p, & > p {
      font-size: 26px;

      &_24 {
        font-size: 24px;
      }

      & > strong {
        font-size: 34px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    & > ul {
      li {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
    .h2, & > .lead {
      font-size: 34px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
      &:not(:first-child) {
        margin-top: 40px;
      }
    }
    .h3 {
      font-size: 26px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }

    table {
      margin-left: auto;
      margin-right: auto;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
      &:not(:first-child) {
        margin-top: 40px;
      }
    }
  }
}


// change price
.ui-chaprice {
  padding: 3.91vw 9.375vw;
  border-bottom: 1px solid alpha($c_d_blue, 20%);

  &:first-child {
    border-top: 1px solid alpha($c_d_blue, 20%);
  }

  &__wrap {
    clearfix();
  }
  &__left {
    calc(100% - 34.37vw);
    float: left;
    clearfix();
  }
  &__right {
    width: 34.37vw;
    text-align: right;
    float: right;
  }

  &__icon {
    float: left;

    svg {
      width: 2.8vw;
      height: 3.75vw;
      fill: $c_d_blue;
    }
  }
  &__info {
    float: left;
    margin-left: 2.5vw;
  }
  &__name {
    font-size: 3.125vw;
    font-weight: 600;
    color: $c_gold;
    text-transform: uppercase;
    margin-bottom: 0.78vw;
  }
  &__address {
    font-size: 2.5vw;
    font-weight: 600;
    color: $c_d_blue;
    margin-bottom: 0.78vw;
  }
  &__detail {
    font-family: 'PT Serif';
    font-size: 2.5vw;
    font-style: italic;
    color: $c_d_blue;

    &:not(:last-child) {
      margin-bottom: 0.78vw;
    }
  }

  &__now-cost {
    font-family: 'PT Serif';
    font-size: 4.06vw;
    color: $c_d_blue;
    line-height: 1;
    margin-bottom: 0.78vw;


    &:before {
      content: '';
      display: inline-block;
      width: 1.875vw;
      height: 2.8vw;
      background-size: cover;
      margin-right: 1.56vw;
    }

    &.up {
      &:before {
        background-image: url('../img/svg/chaprice-up.svg');
      }
    }
    &.down {
      &:before {
        background-image: url('../img/svg/chaprice-down.svg');
      }
    }
  }
  &__old-cost {
    font-family: 'PT Serif';
    font-size: 2.8vw;
    color: #a8a8a8;
    line-height: 1;
    text-decoration: line-through;
  }

  &.active {
    background-color: $c_d_blue;
    border-top: none;
    border-bottom: none;

    .ui-chaprice {
      &__icon {
        svg {
          fill: white;
        }
      }
      &__address {
        color: white;
      }
      &__detail {
        color: white;
      }
      &__now-cost {
        color: white;
      }
    }
  }

  // media
  @media only screen and (min-width: 769px) {
    padding: 23px 140px;

    &__left {
      calc(100% - 25vw);
    }
    &__right {
      width: 25vw;
    }
    &__icon svg {
      width: 18px;
      height: 24px;
    }
    &__info {
      margin-left: 15px;
    }
    &__name {
      font-size: 20px;
      margin-bottom: 5px;
    }
    &__address {
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__detail {
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &__now-cost {
      font-size: 26px;
      margin-bottom: 5px;


      &:before {
        width: 13px;
        height: 19px;
        margin-right: 10px;
      }
    }
    &__old-cost {
      font-size: 18px;
    }
  }
}


.ui-horizontal {
  //

  &__wrap {
    width: 100%;
    overflow-x: scroll;
  }
  &__inner {
    white-space: nowrap;

    & > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}


.ui-elect {
  width: 81.23vw;
  background-color: #f3f2f1;

  &__image {
    height: 54.67vw;
    background-size: cover;
    background-position: center;
  }

  &__info {
    padding: 5.47vw 7.03vw;
  }

  &__title {
    display: block;
    font-size: 5.62vw;
    font-weight: 600;
    color: $c_d_blue;
    margin-bottom: 10.156vw;
  }

  &__details {
    font-size: 3.44vw;
    font-style: italic;
    color: #999999;
    margin-bottom: 5.47vw;

    &-area {
      display: inline-block;
      margin-right: 3.91vw;
    }
    &-rooms {
      display: inline-block;
      margin-right: 3.91vw;
    }
    &-bath {
      display: inline-block;
      margin-right: 3.91vw;

      .number {
        &:after {
          content: '';
          display: inline-block;
          width: 5vw;
          height: 3.75vw;
          background-image: url('../img/svg/bath_gray.svg');
          background-size: cover;
          margin-left: 1.25vw;
        }
      }
    }
    &-bad { // bed!
      display: inline-block;
      margin-right: 3.91vw;

      .number {
        &:after {
          content: '';
          display: inline-block;
          width: 5vw;
          height: 4.06vw;
          background-image: url('../img/svg/bed_gray.svg');
          background-size: cover;
          margin-left: 1.25vw;
        }
      }
    }
  }

  &__price {
    font-family: 'PT Serif';
    font-size: 6.25vw;
    color: $c_d_blue;
  }

  // media
  @media only screen and (min-width: 769px) {
    width: 520px;

    &__image {
      height: 350px;
    }

    &__info {
      padding: 35px 55px;
    }

    &__title {
      font-size: 36px;
      margin-bottom: 50px;
    }

    &__details {
      font-size: 22px;
      margin-bottom: 30px;

      &-area {
        margin-right: 20px;
      }
      &-rooms {
        margin-right: 20px;
      }

      &-bath {
        margin-right: 20px;

        .number:after {
          width: 30px;
          height: 23px;
          margin-left: 7px;
          position: relative;
          top: 2px;
        }
      }

      &-bad { // bed!
        margin-right: 3.91vw;

        .number:after {
          width: 30px;
          height: 25px;
          margin-left: 7px;
          position: relative;
          top: 2px;
        }
      }
    }

    &__price {
      font-size: 40px;
    }
  }
}


.ui-dealing {
  //

  &__title {
    background-color: #ebebeb;
    padding: 2.8vw 9.375vw 2.19vw;
  }
  &__name {
    font-size: 4.06vw;
    font-weight: 600;
    color: $c_d_blue;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 0.78vw;

    &:before {
      content: '';
      display: inline-block;
      width: 2.8vw;
      height: 3.75vw;
      background-image: url('../img/svg/pointmap_outline.svg');
      background-size: 100%;
      margin-right: 2.19vw;
    }
  }
  &__address {
    font-family: 'PT Serif';
    font-size: 3.75vw;
    font-style: italic;
    color: #777777;
    margin-left: 5vw;
  }

  &__steps {
    padding: 7.8vw 0 7.8vw 9.375vw;
  }
  &__step {
    display: flex;
    align-items: center;
    position: relative;

    &:not(:first-child) {
      padding-top: 5.47vw;

      &:after {
        content: '';
        width: 0.94vw;
        height: 100%;
        background-color: #d9d9d9;
        position: absolute;
        top: 0;
        left: 2.34vw;
        z-index: 1;
      }
    }

    &-circle {
      width: 5.62vw;
      height: 5.62vw;
      background-color: #fff;
      border: 0.94vw solid #d9d9d9;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      flex-shrink: 0;
    }

    &-name {
      width: 46.95vw;
      font-size: 4.06vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
      margin-left: 2.8vw;
    }

    &-right {
      width: 36.72vw;
      float: right;

      svg {
        display: inline-block;
        vertical-align: middle;
        width: 3.75vw;
        height: 3.75vw;
        fill: $c_gold;
        margin-right: 1.56vw;
        position: relative;
        top: -0.32vw;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 2.5vw;
        font-weight: 600;
        color: $c_d_blue;
        text-transform: uppercase;
      }
    }

    // modificators
    &.done {
      &:after {
        background-color: $c_d_blue;
      }
      .ui-dealing__step-circle {
        border-color: $c_d_blue;
      }
    }
  }

  &__broker {
    padding: 0 9.375vw 0 3.125vw;
  }

  // media
  @media only screen and (min-width: 769px) {
    &__title {
      padding: 16px 60px 14px;
    }
    &__name {
      font-size: 27px;

      &:before {
        width: 18px;
        height: 25px;
        margin-right: 15px;
      }
    }
    &__address {
      font-size: 24px;
      margin-left: 32px;
    }

    &__steps {
      max-width: 700px;
      margin: 0 auto;
      padding: 45px 0;
    }
    &__step {

      &:not(:first-child) {
        padding-top: 30px;

        &:after {
          width: 6px;
          left: 16px;
          top: -4px;
        }
      }
      &-circle {
        width: 37px;
        height: 37px;
        border-width: 6px;
      }
      &-name {
        font-size: 26px;
        margin-left: 15px;
      }
      &-right {
        width: 180px;

        svg {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          top: -2px;
        }

        span {
          font-size: 16px;
        }
      }
    }
    &__broker {
      padding: 0;
    }
  }
}


.content {
  //

  &__top-bar {
    padding: 3.91vw 6.25vw 0;
  }

  &__title {
    text-align: center;
    padding: 4.69vw 3.125vw 0;

    @media only screen and (min-width: 769px) {
      padding: 30px 50px 0;
    }

    span {
      font-size: 7.5vw;
      font-weight: 600;
      color: $c_d_blue;

      @media only screen and (min-width: 769px) {
        font-size: 50px;
      }
    }

    &.small {
      span {
        font-size: 5.62vw;
        text-transform: uppercase;
        line-height: 1.2;

        @media only screen and (min-width: 769px) {
          font-size: 36px;
        }
      }
    }

    &.gray {
      background-color: #f8f8f8;
      border-bottom: 1px solid #c1c1c1;
      padding-bottom: 5.47vw;
      margin-bottom: -5.47vw;

      @media only screen and (min-width: 769px) {
        padding-bottom: 30px;
        margin-bottom: -30px;
      }
    }

    &.open-list {
      background-color: #f8f8f8;
      border-bottom: 1px solid #c1c1c1;
      padding-bottom: 5.47vw;
      margin-bottom: -5.47vw;
      position: relative;

      @media only screen and (min-width: 769px) {
        padding-bottom: 30px;
        margin-bottom: -30px;
      }

      &.opened {
        span:after {
          transform: rotate(180deg);
        }
      }

      span {
        display: inline-block;
        line-height: 1;
        border-bottom: 0.47vw dashed $c_gold;
        position: relative;

        @media only screen and (min-width: 769px) {
          border-width: 2px;
        }

        &:after {
          content: '';
          display: inline-block;
          width: 3.44vw;
          height: 1.875vw;
          background-image: url('../img/chevron-down-gold.png');
          background-size: 100%;
          background-repeat: no-repeat;
          position: absolute;
          top: calc(50% - 0.2vw);
          right: -6.5vw;
          transition: transform 0.2s ease-in-out;

          @media only screen and (min-width: 769px) {
            width: 22px;
            height: 12px;
            top: calc(50% - 1px);
            right: -40px;
          }
        }
      }
    }
  }

  &__subtitle {
    font-family: 'PT Serif';
    font-size: 5.62vw;
    font-style: italic;
    color: $c_gold;
    text-align: center;

    @media only screen and (min-width: 769px) {
      font-size: 30px;
    }

    &.small {
      font-size: 4.69vw;
      margin-top: 1.56vw;

      @media only screen and (min-width: 769px) {
        font-size: 26px;
      }
    }
  }

  &__menu {
    display: none;
    width: 100%;
    background-color: #dadad9;
    text-align: center;
    box-shadow: 0 5px 10px -5px alpha(black, 20%);
    padding: 6.25vw 0;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    z-index: 50;

    &-list {
      display: inline-block;
      text-align: left;
    }

    &-item {

      &:not(:last-child) {
        margin-bottom: 3.125vw;
      }

      &.active {
        .content__menu-link {
          color: white;
        }
      }
    }

    &-link {
      font-size: 4.69vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
    }

    // media
    @media only screen and (min-width: 769px) {
      padding: 40px 0;

      &-item {
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &-link {
        font-size: 30px;
      }
    }
  }

  &__slider {
    position: relative;
    margin-top: 5.47vw;

    &-title {
      width: 100%;
      font-size: 7.5vw;
      font-weight: 600;
      color: white;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 4.69vw;
      left: 0;
      z-index: 20;
    }

    .home-slider {
      position: relative;

      &__item {
        &:not(:first-child) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &.owl-loaded {
        .home-slider__item {
          position: relative;
        }
      }

      & > div {

        img {
          width: 100%;
        }
      }
    }

    // media
    @media only screen and (min-width: 769px) {
      margin-top: 35px;

      &-title {
        font-size: 48px;
      }
    }
  }

  &__section {
    margin-top: 5.47vw;
    position: relative;
    overflow: hidden;

    @media only screen and (min-width: 769px) {
      margin-top: 30px;
    }
  }

  &__btns {
    margin-top: 5.47vw;

    @media only screen and (min-width: 769px) {
      margin-top: 45px;
    }
  }
}



.feedback-block {
  background-color: #f7f8f9;
  padding: 7.03vw 5.47vw;
  position: relative;
  clearfix();

  &__answer {
    display: none;
    font-weight: 600;
    font-size: 4.69vw;
    color: $c_d_blue;
    padding: 0 0 6.25vw;
    line-height: 1.4;
  }

  &__error {
    display: none;
    font-size: 4.375vw;
    color: $c_red;
    line-height: 1.2;
    position: relative;
    top: 3.44vw;
    margin-bottom: 3.44vw;
    clearfix();
  }

  // media
  @media only screen and (min-width: 769px) {
    padding: 45px 50px 150px

    &__answer {
      display: none;
      font-weight: 600;
      font-size: 22px;
    }

    &__error {
      font-size: 20px;
      top: 10px;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 5.62vw;
    color: $c_d_blue;
    text-transform: uppercase;
    padding: 0 3.125vw;
    margin-bottom: 3.125vw;

    span {
      display: inline-block;
      border-bottom: 1px solid $c_d_blue;
      line-height: 1;
    }

    // media
    @media only screen and (min-width: 769px) {
      font-size: 36px;
      text-align: center;
    }
  }
  &__subtitle {
    font-size: 4.69vw;
    color: $c_gold;
    padding: 0 3.125vw;
    margin-bottom: 4.69vw;

    // media
    @media only screen and (min-width: 769px) {
      font-size: 30px;
      text-align: center;
    }
  }


  &__form {
    clearfix();
    margin-bottom: 5.47vw;

    // media
    @media only screen and (min-width: 769px) {
      width: 580px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__input {
    width: calc(100% - 39.06vw);
    font-size: 3.125vw;
    color: $c_d_blue;
    line-height: 10.94vw;
    background: transparent;
    border: 0.32vw solid $c_gold;
    padding-left: 3.125vw;
    float: left;

    @media only screen and (min-width: 769px) {
      width: calc(100% - 245px);
      font-size: 22px;
      line-height: 70px;
    }
  }
  &__submit {
    width: 39.06vw;
    font-weight: 600;
    font-size: 3.125vw;
    color: white;
    text-transform: uppercase;
    line-height: 10.94vw;
    background-color: $c_gold;
    border: 0.32vw solid $c_gold;
    float: left;

    @media only screen and (min-width: 769px) {
      width: 245px;
      font-size: 20px;
      line-height: 70px;
    }
  }

  &__contacts {
    padding: 0 3.125vw;

    // media
    @media only screen and (min-width: 769px) {
      float: left;
      padding: 0;
    }
  }

  &__bottom {
    padding: 0 3.125vw;
    margin-top: 5.47vw;
    clearfix();

    // media
    @media only screen and (min-width: 769px) {
      margin-top: -50px;
      float: right;
    }

    .socials {
      float: left;

      // media
      @media only screen and (min-width: 769px) {
        float: none;
      }
    }

    .btn_upper {
      float: right;

      // media
      @media only screen and (min-width: 769px) {
        float: none;
        width: 180px;
        position: absolute;
        bottom: 30px;
        left: calc(50% - 90px);
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        font-size: 22px;
      }
    }
  }
}



.contacts {
  // css..

  &__item {
    clearfix();

    &:not(:first-child) {
      margin-top: 10.94vw;
    }
  }

  &__pointmap {
    width: 7.34vw;
    height: 11.72vw;
    background-image: url('../img/pointmap.png')
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
  }

  &__info {
    width: calc(100% - 10.94vw);
    float: right;
  }
  &__address {
    font-size: 4.06vw;
    font-weight: 600;
    color: $c_d_blue;
    line-height: 1.2;
    letter-spacing: 0.156vw;
    margin-bottom: 2.34vw;
  }
  &__timework {
    font-size: 4.06vw;
    font-weight: 500;
    color: $c_d_blue;
    letter-spacing: 0.156vw;
    margin-bottom: 0.78vw;
  }
  &__phone {
    display: inline-block;
    font-size: 4.06vw;
    font-weight: 500;
    color: $c_d_blue;
    letter-spacing: 0.156vw;
    border-bottom: 1px solid alpha($c_d_blue, 40%);
    margin-bottom: 2.34vw;
  }
  &__onmap {
    display: inline-block;
    font-size: 4.06vw;
    font-weight: 500;
    font-style: italic;
    color: $c_gold;
    letter-spacing: 0.156vw;
    border-bottom: 1px solid alpha($c_gold, 40%);
    margin-bottom: 2.34vw;
  }

  &__email {
    margin-top: 5.47vw;

    a {
      font-size: 4.06vw;
      font-weight: 600;
      color: $c_d_blue;
      line-height: 1.2;
      letter-spacing: 0.156vw;
      margin-bottom: 2.34vw;
    }
  }



  // media
  @media only screen and (min-width: 769px) {
    &__item {
      display: inline-block;
      vertical-align: top;

      &:not(:first-child) { margin-top: 50px }
    }
    &__info {
      width: calc(100% - 65px);
    }
    &__address {
      font-size: 26px;
    }
    &__timework {
      font-size: 26px;
    }
    &__phone {
      font-size: 26px;
    }
    &__onmap {
      font-size: 26px;
    }
    &__pointmap {
      width: 45px;
      height: 75px;
    }
    &__email {
      float: left;

      a {
        font-size: 26px;
      }
    }
  }
  @media only screen and (min-width: 1024px) {
    &__item {

      &:first-child { width: 420px; margin-right: 25px }
      &:nth-child(2) { width: 470px }

      &:not(:first-child) { margin-top: 0 }
      &:not(:nth-child(2)) { margin-bottom: 20px }
    }
  }
}



.hamb {
  width: 5vw;
  display: block;

  span {
    display: block;
    height: 0.625vw;
    background-color: $c_d_blue;

    &:not(:last-child) {
      margin-bottom: 0.625vw;
    }
  }

  // media
  @media only screen and (min-width: 769px) {
    width: 40px;

    span {
      height: 5px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}



.btns {

  &__row-2 {
    overflow: hidden;
    clearfix();

    &_space {
      display: flex;
      justify-content: space-between;
      .btn {
        width: 49% !important;
      }

      &:after {
        display: none;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(50% + 0.156vw);
      height: 11.72vw;
      margin-right: -0.32vw;
      z-index: 5;
      float: left;

      &_gray {
        width: calc(50%);
        margin-left: -0.32vw;
      }

      &.active {
        z-index: 1;
      }
    }

    &:not(:last-child) {
      margin-bottom: 5.47vw;
    }
  }
  &__row-3 {
    overflow: hidden;
    clearfix();

    .btn {
      width: calc(33.333% + 0.20vw);
      margin-right: -0.32vw;
      z-index: 5;
      float: left;

      &_gray {
        width: calc(33.333% + 0.625vw);
        margin-left: -0.32vw;
      }

      &.active {
        z-index: 1;
      }
    }

    &:not(:last-child) {
      margin-bottom: 5.47vw;
    }
  }
  &__row-5 {
    overflow: hidden;

    .btn {
      width: 20%;
      z-index: 5;
    }
  }

  // media
  @media only screen and (min-width: 769px) {

    &__row-2 {
      overflow: hidden;
      clearfix();

      .btn {
        width: 50%;
        height: 92px;
        margin-right: 0;

        &_gray {
          width: 50%;
          margin-left: 0;
        }

        &.active {
          z-index: 1;
        }
      }

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }

    &__row-3 {
      display: flex;
      justify-content: space-between;

      &:after {
        display: none;
      }

      .btn {
        width: 210px;
        margin-right: 0;
        float: none;

        &_gray {
          border: none;
        }
      }

      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
}



.btn {
  display: inline-block;
  font-size: 2.8vw;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  @media only screen and (min-width: 769px) {
    font-size: 18px;
  }

  &.strong {
    font-weight: 600;
    padding: 3.59vw 0 3.125vw;

    @media only screen and (min-width: 769px) {
      padding: 26px 0 24px;
    }
  }

  &.elvish {
    font-size: 2.19vw;
    font-weight: 500;
    padding: 3.59vw 0 3.125vw;
  }

  // upper
  &_upper {
    font-size: 3.44vw;
    font-weight: 600;
    color: $c_gold;
    border: 0.32vw solid $c_gold;
    padding: 2.5vw 6.25vw 2.187vw;
  }

  // blue
  &_blue {
    color: white;
    background-color: $c_d_blue;
  }

  &_call {
    color: white;
    background-color: $c_d_blue;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 4.06vw;
      height: 4.84vw;
      background-image: url('../img/svg/phone_white.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 2.34vw;
      position: relative;
      top: -1px;
    }

    @media only screen and (min-width: 769px) {

      &:before {
        width: 26px;
        height: 31px;
        margin-right: 15px;
        top: -1px;
      }
    }
  }

  &_share {
    color: $c_d_blue;
    background-color: #f0edea;
  }

  &_mail {
    color: white;
    background-color: $c_gold;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5.62vw;
      height: 4.69vw;
      background-image: url('../img/svg/gmail_white.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 2.34vw;
      position: relative;
      top: -2px;
    }

    @media only screen and (min-width: 769px) {

      &:before {
        width: 36px;
        height: 30px;
        margin-right: 15px;
        top: -2px;
      }
    }
  }

  &_whatsapp {
    color: $c_d_blue;
    background-color: #e8e8e8;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5.47vw;
      height: 5.47vw;
      background-image: url('../img/whatsapp-icon_big.png');
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 2.34vw;
      position: relative;
      top: -2px;
    }
  }

  // outline
  &_outline {
    color: $c_d_blue;
    background: transparent;
    border: 0.32vw solid $c_gold;

    &.active {
      color: white;
      background-color: $c_d_blue;
      border: 0.32vw solid $c_d_blue;
    }
  }

  // outline-gold
  &_outline-gold {
    color: $c_gold;
    border: 0.32vw solid $c_gold;
  }

  // outline-white
  &_outline-white {
    color: white;
    border: 0.32vw solid white;
  }

  // full-gold
  &_full-gold {
    color: white;
    background-color: $c_gold;
  }

  // gray
  &_gray {
    color: $c_gold;
    border: 0.32vw solid white;
    background-color: $c_l_gray;

    &.active {
      color: white;
      background-color: $c_gold;
    }
  }

  // gray-outline
  &_gray-outline {
    color: $c_d_blue;
    background-color: #f0edea;
    border: 1px solid #dcdcdc;

    &.active {
      color: white;
      background-color: $c_d_blue;
      border: 1px solid $c_d_blue;
    }
  }
}



.socials {
  // css

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 9.375vw;
    }

    .svg {
      &__socials-fb {
        width: 3.91vw;
        height: 7.19vw;
        fill: $c_d_blue;
      }
      &__socials-inst {
        width: 7.19vw;
        height: 7.19vw;
        fill: $c_d_blue;
      }
    }
  }


  // media
  @media only screen and (min-width: 769px) {
    &__item {
      .svg {
        &__socials-fb {
          width: 30px;
          height: 55px;
        }
        &__socials-inst {
          width: 55px;
          height: 55px;
        }
      }
    }
  }
}



.through-whatsapp  {
  display: inline-block;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &__icon {
    margin-right: 3.125vw;
  }
  &__text {
    font-size: 2.8vw;
    color: $c_d_blue;
    border-bottom: 1px solid alpha($c_d_blue, 30%);
  }

  // mods
  &.white {
    .through-whatsapp__text {
      color: white;
      border-bottom: 1px solid alpha(white, 30%);
    }
  }
}



.form {
  //

  &__row {
    // media
    @media only screen and (min-width: 769px) {
      &.cons {
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
      }
    }
  }

  &_light {
    .form {
      // css

      &__row {
        //
        &:not(:last-child) {
          margin-bottom: 6vh;
        }

        &_error {
          font-size: 2.5vw;
          margin-bottom: -6vh;
          color: $c_red;
        }
      }

      &__input {
        width: 62.5vw;
        font-size: 2.8vw;
        color: white;
        text-align: center;
        background-color: transparent;
        border-bottom: 0.32vw solid $c_gold;
        padding: 0.78vw 0;
      }

      &__link {
        display: inline-block;
        font-family: 'PT Serif';
        font-size: 3.75vw;
        font-style: italic;
        font-weight: 500;
        color: white;
        line-height: 1;
        border-bottom: 0.32vw solid alpha(white, 60%);
      }

      @media only screen and (min-width: 769px) {

        &__row {
          //
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }

        &__input {
          width: 400px;
          font-size: 22px;
          border-width: 2px;
          padding: 5px 0;
        }

        &__link {
          font-size: 24px;
          border-width: 2px;
        }
      }
    }
  }

  .checkbox {
    position: relative;

    input {
      width: 0;
      height: 0;
      opacity: 0;

      &:checked + label {
        &:after {
          opacity: 1;
        }
      }
    }

    label {
      display: flex;
      align-items: center;
      min-height: 5.31vw;
      font-size: 2.5vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
      position: relative;
      padding-left: 9.375vw;

      &:before {
        content: '';
        display: inline-block;
        width: 4.06vw;
        height: 4.06vw;
        border: 0.47vw solid $c_gold;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 3.75vw;
        height: 2.8vw;
        background-image: url('../img/svg/check_gold.svg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0.625vw;
        top: 0.94vw;
        opacity: 0;
        transition: 0.15s ease-in-out;
      }

      // media
      @media only screen and (min-width: 769px) {
        min-height: 36px;
        font-size: 16px;
        line-height: 1.2;
        padding-left: 60px;

        &:before {
          width: 27px;
          height: 27px;
          border-width: 3px;
        }
        &:after {
          width: 24px;
          height: 18px;
          left: 4px;
          top: 6px;
        }
      }
    }


    // mods
    &.cons {
      label {
        min-height: 0;
        font-family: 'PT Serif';
        font-size: 4.06vw;
        font-style: italic;
        font-weight: normal;
        text-transform: inherit;

        &:before {
          width: 3.44vw;
          height: 3.44vw;
          border: 0.32vw solid $c_gold;
        }
        &:after {
          background: $c_d_blue;
          width: 3.44vw;
          height: 3.44vw;
          border: 0.32vw solid $c_d_blue;
          top: 0;
          left: 0;
        }

        // media
        @media only screen and (min-width: 769px) {
          font-size: 26px;
          padding-left: 50px;

          &:before {
            width: 25px;
            height: 25px;
            border-width: 2px;
          }
          &:after {
            width: 25px;
            height: 25px;
            border-width: 2px;
          }
        }
      }
    }
  }

  &_luxury {
    .form {
      // css

      &__row {
        //
        &:not(:last-child) {
          margin-bottom: 3.91vw;
        }

        &.sbmt {
          text-align: center;
          margin-top: 9.375vw;
        }

        .btn {
          font-size: 3.44vw;
          color: #fff;
          padding-left: 5.47vw;
          padding-right: 5.47vw;
        }

        &_textarea {
          .form__label {
            font-family: 'Proxima Nova';
            font-size: 2.8vw;
            font-weight: 600;
            font-style: normal;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 1.56vw;
          }
        }
      }

      &__input {
        width: 100%;
        font-family: 'PT Serif';
        font-size: 4.06vw;
        color: $c_gold;
        text-align: center;
        background-color: transparent;
        border-bottom: 0.32vw solid $c_gold;
        padding: 1.56vw 0;

        &::-webkit-input-placeholder { font-family: 'PT Serif'; color: $c_gold; font-weight: 500 }
        &::-moz-placeholder          { font-family: 'PT Serif'; color: $c_gold; font-weight: 500 }
        &:-ms-input-placeholder      { font-family: 'PT Serif'; color: $c_gold; font-weight: 500 }
      }

      &__textarea {
        width: 100%;
        height: 31.25vw;
        font-size: 4.06vw;
        color: $c_d_blue
        background-color: #fff;
        border: 0.32vw solid $c_gold;
        resize: none;
        padding: 2.34vw;
      }

      &__label {
        display: block;
        font-family: 'PT Serif';
        font-size: 3.44vw;
        font-style: italic;
        color: white;
        text-align: center;
        margin-top: 1.56vw;
      }

      &__link {
        display: inline-block;
        font-family: 'PT Serif';
        font-size: 3.75vw;
        font-style: italic;
        font-weight: 500;
        color: white;
        line-height: 1;
        border-bottom: 0.32vw solid alpha(white, 60%);
      }

      // media
      @media only screen and (min-width: 769px) {

        &__row {
          //
          &:not(:last-child) {
            margin-bottom: 40px;
          }

          &.sbmt {
            margin-top: 60px;
          }

          .btn {
            font-size: 22px;
            padding-left: 25px;
            padding-right: 25px;
          }

          &_textarea {
            .form__label {
              font-size: 20px;
              margin-bottom: 10px;
            }
          }
        }

        &__input {
          font-size: 26px;
          border-width: 2px;
          padding: 10px 0;
        }

        &__textarea {
          height: 200px;
          font-size: 26px;
          border-width: 2px;
          padding: 15px;
        }

        &__label {
          font-size: 22px;
          margin-top: 10px;
        }

        &__link {
          font-size: 3.75vw;
          border-width: 2px;
        }
      }
    }
  }

  .footage-form {
    clearfix();

    &__title {
      font-size: 2.5vw;
      font-weight: 600;
      color: $c_d_blue;
      padding-top: 1.41vw;
      text-transform: uppercase;
      float: left;
    }
    &__inputs {
      float: right;
    }
    &__row {
      //

      &:not(:last-child) {
        margin-bottom: 4.69vw;
      }

      label {
        display: inline-block;
        width: 12.5vw;
        font-size: 2.5vw;
        font-weight: 600;
        color: #9c9c9c;
        text-transform: uppercase;
      }

      input {
        display: inline-block;
        width: 19.38vw;
        font-size: 2.5vw;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #b8b8b8;
        padding: 0.78vw 1.25vw 0.47vw;

        &.from {
          margin-right: 2.5vw;
        }
      }

      span {
        display: inline-block;
        font-size: 2.5vw;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 1.25vw;

        sup {
          font-size: 1.56vw;
          position: relative;
          left: -0.32vw;
        }
      }
    }

    @media only screen and (min-width: 769px) {

      &__title {
        font-size: 16px;
        padding-top: 8px;
      }
      &__row {
        //
        &:not(:last-child) {
          margin-bottom: 30px;
        }

        label {
          width: 80px;
          font-size: 16px;
        }

        input {
          display: inline-block;
          width: 200px;
          font-size: 16px;
          padding: 4px 8px;

          &.from {
            margin-right: 16px;
          }
        }

        span {
          font-size: 16px;
          margin-left: 8px;
        }
      }
    }
  }

  .price-form {
    clearfix();

    &__title {
      font-size: 2.5vw;
      font-weight: 600;
      color: $c_d_blue;
      padding-top: 1.41vw;
      text-transform: uppercase;
      float: left;
    }
    &__inputs {
      float: right;
    }
    &__row {
      //

      input {
        display: inline-block;
        width: 25vw;
        font-size: 2.5vw;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #b8b8b8;
        padding: 0.78vw 1.25vw 0.47vw
        margin-right: 2.5vw;
      }

      .choose-currency {
        //
      }

      .per {
        display: inline-block;
        font-size: 2.5vw;
        font-weight: 600;
        color: $c_d_blue;
        text-transform: uppercase;
        margin: 0 0 0 1.56vw;
      }

      .choose-areatype {
        position: relative;

        &__type {
          //
        }

        &__popup {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 200px;
          height: 50px;
          background-color: white;
          border: 2px solid $c_blue;
          position: absolute;
          top: 40px;
          left: -135px;

          &:before {
            content: '';
            border-bottom: 14px solid $c_blue;
            border-left: 14px solid alpha($c_blue, 0%);
            border-right: 14px solid alpha($c_blue, 0%);
            position: absolute;
            bottom: 100%;
            right: 30px;
          }

          &:after {
            content: '';
            border-bottom: 12px solid white;
            border-left: 12px solid alpha(white, 0%);
            border-right: 12px solid alpha(white, 0%);
            position: absolute;
            bottom: 100%;
            right: 32px;
          }

          span {
            color: $c_gold;
            font-weight: 600;
            text-transform: uppercase;

            &.active {
              color: $c_blue;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 769px) {
      &__title {
        font-size: 16px;
        padding-top: 8px;
      }

      &__row {
        //

        input {
          display: inline-block;
          width: 200px;
          font-size: 16px;
          padding: 4px 8px;

          &.from {
            margin-right: 16px;
          }
        }

        .per {
          font-size: 16px;
          margin: 0 0 0 10px;
        }
      }
    }
  }
}



.search-top-bar {
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.8vw;
    font-weight: 600;
    color: $c_d_blue;
    text-transform: uppercase;
  }

  &__new-search {
    display: inline-block;
    vertical-align: middle;

    a {
      //
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 2.34vw;
      height: 2.34vw;
      fill: $c_d_blue;
      margin-right: 1.56vw;
    }
  }

  &__filter {
    display: inline-block;
    vertical-align: middle;

    a {
      //

      &:after {
        content: '';
        display: inline-block;
        width: 2.19vw;
        height: 2.19vw;
        background-image: url('../img/svg/settings.svg');
        background-size: 100%;
        margin-left: 1.56vw;
      }
    }
  }

  &__map {
    display: inline-block;
    vertical-align: middle;

    a {
      //

      &:after {
        content: '';
        display: inline-block;
        width: 1.875vw;
        height: 2.5vw;
        background-image: url('../img/svg/pointmap_blue.svg');
        background-size: 100%;
        margin-left: 1.56vw;
        position: relative;
        top: 1px;
      }
    }
  }


  &__droplist {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 30;
    text-align: center;

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 2.8vw;
      font-weight: 600;
      color: $c_d_blue;
      text-transform: uppercase;
      border-bottom: 0.32vw dashed $c_gold;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 2.5vw;
      height: 1.406vw;
      fill: $c_d_blue;
      margin-left: 0.94vw;
      position: relative;
      top: -0.32vw;
    }

    &-list {
      display: none;
      width: 100%;
      background-color: $c_d_blue;
      position: absolute;
      top: calc(100% + 3px);
      padding: 2.34vw 0;
      text-align: center;

      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 2.34vw;
          }

          a {
            font-size: 2.19vw;
            font-weight: 600;
            color: white;
            text-transform: uppercase;
            border-bottom: none;
          }
        }
      }
    }
  }

  // media
  @media only screen and (min-width:769px) {

    a {
      font-size: 22px;
    }

    &__new-search svg {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: relative;
      top: -1px;
    }


    &__droplist {

      span {
        font-size: 22px;
      }

      a {
        border-width: 2px;
      }

      svg {
        width: 16px;
        height: 9px;
        margin-left: 6px;
        top: -2px;
      }
    }



    &__filter {

      a {
        //

        &:after {
          width: 17px;
          height: 17px;
          margin-left: 10px;
          position: relative;
          top: 1px;
        }
      }
    }



    &__map {

      a {
        //

        &:after {
          width: 12px;
          height: 16px;
          margin-left: 10px;
          top: 0;
        }
      }
    }
  }
}



.search-result {
  //

  &__founded {
    font-size: 3.75vw;
    font-style: italic;
    color: $c_gray;
    text-align: center;
    margin-bottom: 4.69vw;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 7.8vw;
    }
  }

  &__best {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 7.8vw;
    }

    img {
      display: block;
      max-width: 100%;
    }
    p {
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;
      align-content: center;
      align-items: center;
      font-size: 7.5vw;
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @media only screen and (min-width:769px) {
    &__founded {
      font-size: 24px;
      margin-bottom: 40px;
    }

    &__item:not(:last-child) {
      margin-bottom: 65px;
    }

    &__best {

      &:not(:last-child) {
        margin-bottom: 7.8vw;
      }
      p {
        font-size: 7.5vw;
      }
    }
  }
}


.estate-preview {
  // css

  &__header {
    color: $c_d_blue;
    line-height: 1.2;
    padding: 0 9.375vw;
    position: relative;
  }

  &__title {
    display: block;
    font-size: 4.69vw;
    color: $c_d_blue;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__header-bottom {
    margin-top: 2.34vw;
    clearfix();
  }
  &__header-right {
    &.tablet {
      .price {
        display: none;
      }
    }
  }
  &__address {
    max-width: 60%;
    font-size: 3.44vw;
    font-style: italic;
    color: $c_gray;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:before {
      content: '';
      display: inline-block;
      width: 2.5vw;
      height: 3.59vw;
      background-image: url('../img/svg/pointmap_blue.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 1.56vw;
      position: relative;
      top: 1px;
    }
  }
  &__lot {
    font-size: 3.44vw;
    font-style: italic;
    color: $c_gray;
    float: right;
  }


  &__body {
    margin: 2.34vw 0 3.91vw;
    position: relative;
  }
  &__image {
    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
  &__view {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 3.125vw;

    .btn {
      width: 46.95vw;
      font-size: 3.44vw;
    }
  }


  &__footer {
    padding: 0 9.375vw;
    clearfix();

    &.mobile {
      .price {
        display: none;
      }
    }
  }
  &__area {
    padding-top: 0.9vw;
    margin-right: 3.2vw;
    float: left;

    span {
      display: inline-block;
      font-size: 4.06vw;
      font-style: italic;
    }

    sup {
      font-size: 2.5vw;
      position: relative;
      left: -0.78vw;
    }

    .number {
      margin-right: 0.78vw;
      font-size: 5.62vw;
      color: $c_gold;
    }
  }
  &__cost {
    clearfix();

    .cost {
      font-family: 'PT Serif';
      font-size: 6.25vw;
      color: $c_d_blue;
      line-height: 6.25vw;

      &.active {
        display: inline-block;
      }
    }
  }
  &__currency-btns {
    display: inline-block;
    position: relative;
    margin-left: 2.34vw;
    float: right;
    clearfix();

    a {
      display: inline-block;
      width: 6.25vw;
      height: 6.25vw;
      font-family: 'PT Serif';
      font-size: 4.06vw;
      color: $c_d_blue;
      text-align: center;
      border: 0.32vw solid $c_d_blue;
      padding-top: 0.94vw;
      margin-right: -0.32vw;
      transition: 0.1s ease-in-out;
      float: left;

      &.active {
        color: white;
        background-color: $c_d_blue;
      }
    }
  }

  &.detail {
    .estate-preview {
      &__title {
        text-align: center;
      }
      &__type {
        text-align: center;
        margin-bottom: 4.69vw;

        span {
          font-size: 3.44vw;
          font-style: italic;
          color: $c_d_blue;
        }
      }
      &__details {
        display: flex;
        justify-content: space-around;
      }
      &__rooms {
        padding-top: 0.9vw;

        span {
          display: inline-block;
          font-size: 4.06vw;
          font-style: italic;
        }
        .number {
          margin-right: 0.78vw;
          font-size: 5.62vw;
          color: $c_gold;
        }
      }
      &__bath {
        padding-top: 0.9vw;

        span {
          display: inline-block;
          font-size: 4.06vw;
          font-style: italic;
        }
        .number {
          margin-right: 0.78vw;
          font-size: 5.62vw;
          color: $c_gold;

          &:after {
            content: '';
            display: inline-block;
            width: 5vw;
            height: 3.75vw;
            background-image: url('../img/svg/bath_blue.svg');
            background-size: cover;
            margin-left: 1.25vw;
          }
        }
      }
      &__bad {
        padding-top: 0.9vw;

        span {
          display: inline-block;
          font-size: 4.06vw;
          font-style: italic;
        }
        .number {
          margin-right: 0.78vw;
          font-size: 5.62vw;
          color: $c_gold;

          &:after {
            content: '';
            display: inline-block;
            width: 5vw;
            height: 4.06vw;
            background-image: url('../img/svg/bed_blue.svg');
            background-size: cover;
            margin-left: 1.25vw;
            position: relative;
            top: 1px;
          }
        }
      }
      &__cost {
        display: flex;
        justify-content: space-between;
        float: none;
        position: relative;
      }
      &__currency-btns {
        top: 0;
        right: 0;
        position: absolute;
      }
      &__status {
        margin-top: 0.78vw;
        span {
          font-size: 3.44vw;
          font-style: italic;
          color: $c_gray;
        }
      }
    }
  }

  @media only screen and (min-width:769px) {
    &__header {
      padding: 0 60px;
      clearfix();
    }

    &__title {
      width: 54%;
      font-size: 30px;
      text-align: left !important;
    }

    &__header-bottom {
      width: 54%;
      margin-top: 15px;
    }
    &__header-right {
      width: 38%;
      position: absolute;
      top: 0;
      right: 60px;
    }
    &__address {
      font-size: 22px;
      position: relative;
      top: -4px;

      &:before {
        width: 16px;
        height: 23px;
        margin-right: 10px;
        top: 1px;
      }
    }
    &__lot {
      font-size: 22px;
    }

    &__body {
      margin: 15px 0 50px;
    }
    &__view {
      bottom: 40px;

      .btn {
        width: 300px;
        font-size: 22px;
      }
    }
    &__area {
      padding-top: 0;
      span {
        font-size: 26px;
      }
      .number {
        margin-right: 5px;
        font-size: 36px;
      }
    }
    &__cost {

      .cost {
        font-size: 40px;
        line-height: 1;
      }
    }
    &__currency-btns {
      display: block;
      text-align: right;
      top: 20px;

      a {
        width: 40px;
        height: 40px;
        font-size: 26px;
        border-width: 2px;
        padding-top: 3px;
        margin-right: 0;
        margin-left: -2px;
      }
    }

    &.detail {
      .estate-preview {
        &__type {
          width: 54%;
          margin-bottom: 30px;
          text-align: left;

          span {
            font-size: 22px;
            color: $c_gold;
          }
        }
        &__details {
          display: block;
          width: 54%;
          clearfix();
        }
        &__rooms {
          padding-top: 0;
          float: left;
          margin-left: 25px;

          span {
            font-size: 26px;
          }
          .number {
            margin-right: 5px;
            font-size: 36px;
          }
        }
        &__bath {
          padding-top: 0;
          float: left;
          margin-left: 25px;

          span {
            font-size: 26px;
          }
          .number {
            margin-right: 5px;
            font-size: 36px;

            &:after {
              width: 32px;
              height: 24px;
            }
          }
        }
        &__bad {
          padding-top: 0;
          float: left;
          margin-left: 25px;

          span {
            font-size: 26px;
          }
          .number {
            margin-right: 5px;
            font-size: 36px;

            &:after {
              width: 32px;
              height: 26px;
            }
          }
        }
        &__cost {
          display: block;
          text-align: right;

          span {
            font-size: 40px;
          }
        }
        &__status {
          text-align: right;
          margin-top: 0;
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
}



.ui-props {
  //

  &__checks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 7.8vw;
    margin-bottom: 4.69vw;

    &-item {
      min-width: 30%;
      font-size: 3.44vw;
      color: $c_d_blue;
      text-align: center;
      margin-bottom: 0.78vw;

      &:before {
        content: '';
        display: inline-block;
        width: 2.8vw;
        height: 2.8vw;
        border-radius: 50%;
        background-color: green;
        margin-right: 1.56vw;
        position: relative;
        top: 1px;
      }

      &.nit:before {
        background-color: $c_gray;
      }
    }
  }

  &__lists {
    padding: 0 7.8vw;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        width: 50%;
        vertical-align: middle;
        font-size: 3.44vw;
        color: $c_d_blue;
        padding-left: 4.69vw;
        margin-bottom: 2.34vw;

        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 2.8vw;
          height: 0.32vw;
          background-color: alpha($c_d_blue, 80%);
          position: relative;
          top: -0.32vw;
          margin-right: 1.56vw;
        }
      }
    }
  }
}



.owl-carousel {
  position: relative;
  height: 60vw;
  overflow: hidden;

  &:after {
    content: '';
    width: 25px;
    height: 25px;
    background-image: url('../img/loading.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    animation: loader 1s linear infinite;
    z-index: 1;

    @media only screen and (min-width: 769px) {
      width: 50px;
      height: 50px;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
    }
  }

  .owl-stage-outer {
    position: relative;
    z-index: 5;
  }

  .estate-slider__item, .complex-preview__slider-item {
    display: block;
    width: 100%;
    height: 60vw;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 5;
  }

  .owl-dots {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 5.62vw;
    left: 0;
    z-index: 50;
    text-align: center;

    .owl-dot {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1.875vw;
      }

      &.active {
        span {
          background-color: white;
        }
      }

      span {
        display: inline-block;
        width: 2.5vw;
        height: 2.5vw;
        border: 0.32vw solid white;
        border-radius: 50%;
      }

      // media
      @media only screen and (min-width: 769px) {
        //

        &:not(:last-child) {
          margin-right: 15px;
        }

        span {
          width: 16px;
          height: 16px;
          border: 2px solid white;
        }
      }
    }
  }
}


.choose-currency {
  display: inline-block;

  &__cur {
    font-family: 'PT Serif';
    font-size: 3.44vw;
    color: $c_blue;
  }

  @media only screen and (min-width:769px) {
    &__cur {
      font-size: 22px;
    }
  }
}


.choose-areatype {
  display: inline-block;

  &__type {
    display: inline-block;
    font-size: 2.5vw;
    font-weight: 600;
    text-transform: uppercase;
    color: $c_blue;
    line-height: 1;
    border-bottom: 1px solid alpha($c_blue, 30%)
  }

  @media only screen and (min-width:769px) {
    &__type {
      font-size: 16px;
    }
  }
}